@model  IEnumerable<TrackerMVCEntities.BusinessEntities.Vessel> 

@{
    ViewBag.Title = "GetVesselSummary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
        window.onload = function () {

            var message = @Html.Raw(Json.Encode(ViewBag.Message))
            alert(message);
        };

    </script>
}


<div class=" content-area overflow-hidden" id="summaryList_wrapper"> 
   
    <div class="page-header">
        <h4 class="page-title">Vessel Summary: @Model.Count()</h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">
                    @*   <button type="button" class="btn btn-icon btn-orange" name="gst" title="GST" id="gst"><i class="fa fa-google"></i></button>*@

                    <button type="button" class="btn btn-icon btn-success" name="addVessel" title="Add Vessel" id="addVvessel" onclick="window.location = '@Url.Action("NewVesselDetails", "Vessel")' "><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-6">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="Vessel_Details" class="table table-striped table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    @*<th class="wd-15p sorting" style="width:1px;">#</th>*@
                                    <th class="wd-10p sorting">Vessel Name</th> 
                                    <th style="visibility:hidden;width:30px"></th>
                                </tr>
                            </thead>
                            <tbody style="box-sizing :border-box;">
                                @foreach (var d in Model)
                                {
                                    <tr>
                                        @*<td>@Html.DisplayFor(m => d.VesselID)</td>*@
                                        <td>@Html.DisplayFor(m => d.VesselName)</td>
                                      
                                        <td> <a class="btn btn-sm btn-info" onclick="onEditClick(@d.VesselID)" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Edit"><i class="fa fa-edit"></i> </a></td>

                                    </tr>
                                }
                                

                            </tbody>
                        </table>


                    </div>


                </div>
                <div>
                    <label id="previousValue" class="display_none"></label>
                    <label id="currentValue" class="display_none"></label>
                </div>
                <!-- table-wrapper -->
            </div>
            <!-- section-wrapper -->

        </div>
    </div>
</div>
<div>
    <div id="UpdateVessel"></div>
</div>



<script>
    window.onload = function () {

        $('#Vessel_Details').DataTable({
            retrieve: true,
            paging: false,
            "bInfo": false,
        });
    };

    $(document).ready(function () {
        //console.log(document.getElementById("isActive").checked)
        //$('#isActive').change(function () {
           
        //    if (document.getElementById("isActive").checked == true) {
        //        document.getElementById("isActive").checked = false;
        //    } else {
        //        document.getElementById("isActive").checked = true;
        //    }
            
        //});
    });

    function onEditClick(id){
        $.ajax(
               {
                   url: "/VesselSummary/EditVesselSummary",
                   data: '{vesselID: ' + JSON.stringify(id) + '}',
                   type: "POST",
                   contentType: "application/json; charset=utf-8",
                   success: function (message) {
                       $("#summaryList_wrapper").hide(); 
                       $("#UpdateVessel").show();
                       var IsActive = message.IsActive;
                       var name = message.VesselName;
                       var id = message.VesselID;
                       var html =  "<div class=\" content-area overflow-hidden\">"+
    "<div class=\"page-header\">"+" <h4 class=\"page-title\">Update Vessel   </h4>"+
       " <div class=\"form-group\">" +
            "<label class=\"form-label\"></label>"+
            "<div class=\"row gutters-xs\">" +
               " <div class=\"col\">"+
                  "  <button type=\"button\" class=\"btn btn-icon btn-success\" name=\"summarylist\" title=\"Summary list\" id=\"summarylist\" onclick=\"window.location = '@Url.Action("GetVesselSummary", "VesselSummary")' \"><i class=\"fa fa-arrow-left\"></i></button>"+
               " </div>" +
            "</div>"+
        "</div>"+
    "</div>" +
  "  <div class=\"row\"> "+
      "  <div class=\"col-12\">"+
           " <div class=\"card\">"+
             "   <div class=\"card-body\">"+
                  "  <div class=\"form-horizontal\">"+
                    "    <div class=\"row\">"+

                      "      <div class=\"col-lg-12 col-sm-12\">"+
                       "         <div class=\"form-group\">"+
                            "        <label class=\"form-label mandatory\">Vessel Name</label>"+
                                    "            <div class=\"row gutters-xs\">"+
                              "          <div class=\"col\">"+
                                " <input id=\"vesselName\" class=\"form-control\" id=\"vesselname\" type=\"text\" value=\"" + name +"\">"+  
                       "        </div>"+

                              "      </div>"+
                          "      </div>"+
                        "    </div>"+
                    "    </div>"+

                     "   <div class=\"col-lg-5 col-sm-12\">"+
                     "   <div class=\"form-group\">"+ 
                       "      <div class=\"row gutters-xs\">"+
                       "    <div class=\"col\">"+
                                      
                       "         <div class=\"form-group\">"+
											"<label class=\"custom-control custom-checkbox\">"+
												"<input id=\"isActive\" type=\"checkbox\" class=\"custom-control-input\" checked=\""+ IsActive+"\" onChange=\"getActiveState(checked)\"/>"+
											"	<span class=\"custom-control-label\">Is Active? </span>"+
											"</label>"+
										"</div>  "+
                       
                                  "  </div>"+

                              "  </div>"+
                            "</div>"+
                       " </div>"+


                     "   <div class=\"card-footer text-right\">"+
                     "   <div class=\"form-group\">"+
                     "  <label class=\"form-label\"></label>"+
                     "  <div class=\"row gutters-xs\">"+
                     " <div class=\"col\">"+
                     "     <input type=\"submit\" id=\"Update\" name=\"updateVessel\" value=\"Update Vessel\" class=\"btn btn-success\" onClick=\"UpdateVessel()\" />"+
                                        @*<input type="button" name="clearProfile" value="Clear" class="btn btn-gray" title="clear" id="clearValue" />*@
                       //"      <button type=\"button\" class=\"btn btn-icon btn-gray\" name=\"clearProfile\" title=\"clear\" id=\"clearValue\"><i class=\"fa fa-undo\"></i></button>"+
                                 "   </div>"+
                                        "         </div>"+
                                        "    </div>"+
                                        "    </div>"+
                                        "  <label id=\"vesselId\" class=\"display_none\" value=\"" +id + "\">" + id + "</label>" +
                        "      </div>"+
                       
                        "     </div>"+
                        "          </div>"+
                       "  </div>"+
                        "  </div>"+

                        "</div>"
                       $("#UpdateVessel").html(html);
                       document.getElementById("vesselId").style.display = "none";
                       document.getElementById("previousValue").value = message.VesselName;
                       
                   },

                   error: function (message) {

                       alert(JSON.stringify(message.responseText));


                   }
               });
    }
    function getActiveState(state) { 
        document.getElementById("isActive").checked = state;
    }
    function UpdateVessel() {
        var vesselname = document.getElementById('vesselName').value;
        var id = document.getElementById('vesselId').textContent // $("#vesselId").val(); // document.getElementById('vesselId').value;
        var isActive = document.getElementById("isActive").checked;
        console.log(isActive)
        $.ajax(
              {
                  url: "/VesselSummary/UpdateVesselDetails",
                  data: '{vesselID: ' + JSON.stringify(id) + ',vesselName: ' + JSON.stringify(vesselname) + ',isActive:' +(isActive) + ' }',
                  type: "POST",
                  contentType: "application/json; charset=utf-8",
                  success: function (message) {
                      if (message == true) {
                          alert("Vessel updated successfully!")
                          //$("#summaryList_wrapper").show();
                          //$("#UpdateVessel").hide();
                          document.getElementById("currentValue").value = vesselname;
                        
                          
                      } else {
                          alert("Vessel updation failed. Try again!")
                      }
                  },

                  error: function (message) {

                      alert(JSON.stringify(message.responseText));


                  }
              });
    }

    function getSummary() {
       
        $.ajax(
                {
                    url: '/VesselSummary/GetVesselSummary',
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        window.location = '@Url.Action("GetVesselSummary", "VesselSummary")'
                    },
                    error: function () {
                        alert("error");
                    }
                });
    }
</script>