@model IEnumerable<TrackerMVCEntities.BusinessEntities.PortPendancyEntities>

@{
    ViewBag.Title = "MovementPendancy";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script src="~/js/GetTableJson.js"></script>
<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">
            Import Port Pendency
        </h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">20's</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <b>
                                            <label>
                                                @Html.TextBox("txt20", null, new { @class = "form-control", @id = "txt20", name = "txt20", autocomplete = "off", rows = "2", @maxlength = 500, @readonly = true, Style = "font-weight: bold;text-align:right;background:#9F78FF;color:white" })

                                            </label>
                                        </b>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">40's</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <b>
                                            <label>
                                                @Html.TextBox("txt40", null, new { @class = "form-control", @id = "txt40", name = "txt40", autocomplete = "off", rows = "2", @maxlength = 500, @readonly = true, Style = "font-weight: bold;text-align:right;background:#FDB901;color:white" })

                                            </label>
                                        </b>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">45's</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <b>
                                            <label>
                                                @Html.TextBox("txt45", null, new { @class = "form-control", @id = "txt45", name = "txt45", autocomplete = "off", rows = "2", @maxlength = 500, @readonly = true, Style = "font-weight: bold;text-align:right;background:#9F78FF;color:white" })

                                            </label>
                                        </b>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Teus</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <b>
                                            <label>
                                                @Html.TextBox("txtteus", null, new { @class = "form-control", @id = "txtteus", name = "txtteus", autocomplete = "off", rows = "2", @maxlength = 500, @readonly = true, Style = "font-weight: bold;text-align:right;background:#5ED84F;color:white" })

                                            </label>
                                        </b>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12 pull-right">
                            <div class="form-group" style="padding-top:25px">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a onclick="portpendency();" class="btn btn-secondary" style="color:white;align-content:center;"><i class="fa fa-refresh" data-placement="bottom" title="Refresh"></i>  </a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Export To Excel", "ExportToExcelPortPendency", null, new { @class = "btn btn-primary btn-md" })
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="table-responsive">
                                <table id="example1" class="table table-bordered table-hover tbl-cart text-nowrap" style="width:100%">
                                    @*<thead>
                                        <tr>
                                            <th style="width:1px"></th>
                                            <th style="width:7px">Vessel Name</th>
                                            <th style="width:3px">Via No</th>
                                            <th style="width:3px">ETA</th>
                                            <th style="width:3px">AGING</th>
                                            <th style="width:3px">TERMINAL</th>
                                            <th style="width:3px">Discharge Date</th>
                                            <th style="width:3px">HBL Number</th>
                                            <th style="width:3px">BL Number</th>
                                            <th style="width:3px">IGM No</th>
                                            <th style="width:3px">Item No</th>
                                            <th style="width:3px">BL Received Date</th>
                                            <th style="width:3px">B/L Entry date</th>
                                            <th style="width:3px">Shipping Line</th>
                                            <th style="width:3px">Container No.</th>
                                            <th style="width:3px">Size</th>
                                            <th style="width:3px">Teus</th>
                                            <th style="width:3px">Type</th>
                                            <th style="width:3px">Importer Name</th>
                                            <th style="width:3px">CHA Name</th>
                                            <th style="width:3px">Haulage Type</th>
                                            <th style="width:3px">Commodity</th>
                                            <th style="width:3px">Mode Of Transport</th>
                                            <th style="width:3px">Scan Type</th>
                                            <th style="width:3px">Remarks</th>
                                            <th style="width:3px">SMTP Date</th>
                                            <th style="width:3px">Out Date From Port</th>
                                            <th style="width:3px">In Transit</th>
                                        </tr>
                                    </thead>*@

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        portpendency()       
    });
</script>
<script type="text/javascript">
    function portpendency() {
        TeusDetails();
        $.ajax({
            type: 'POST',
            url: '/BL/PortPendency1',
            //data: '{FromDate: ' + JSON.stringify(FromDate) + ', ToDate: ' + JSON.stringify(ToDate) + ',DeliveryType: ' + JSON.stringify(DeliveryType) + ',For: ' + JSON.stringify(For) + ',PortID: ' + JSON.stringify(PortID) + ',LineID: ' + JSON.stringify(LineID) + '}',
            //data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (data) {
                RepTableDataJson($('#example1'), data, 'Port Pendency', 'PortPendencyReport');

                //$('#example1').dataTable({
                //    "destroy": true,
                //    "bLengthChange": false,
                //    "aaData": data,
                //    "paging": false,
                //    "aaSorting": [[0, 'asc']],
                //    "columns": [
                //        { "data": "SrNo" },
                //        { "data": "VesselName" },
                //        { "data": "ViaNo" },
                //        { "data": "ETA" },
                //        { "data": "AGING" },
                //        { "data": "TERMINAL" },
                //        { "data": "BirthingDateandTime" },
                //        { "data": "HBLNumber" },
                //        { "data": "BLNumber" },
                //        { "data": "IGMNo" },
                //        { "data": "ItemNo" },
                //        { "data": "BLReceivedDate" },
                //        { "data": "BLEntrydate" },
                //        { "data": "ShippingLine" },
                //        { "data": "ContainerNo" },
                //        { "data": "Size" },
                //        { "data": "Teus" },
                //        { "data": "Type" },
                //        { "data": "ImporterName" },
                //        { "data": "CHAName" },
                //        { "data": "HaulageType" },
                //        { "data": "Commodity" },
                //        { "data": "ModeOfTransport" },
                //        { "data": "ScanType" },
                //        { "data": "Remarks" },
                //        { "data": "SMTPDate" },
                //        { "data": "OutDateFromPort" },
                //        { "data": "InTransit" }
                //    ],
                //    //"dom": 'Bfrtip',
                //    //"buttons": [{
                //    //    "extend": 'excel',
                //    //    "title": 'Port Pendency',
                //    //    "filename": 'PortPendency'

                //    //}]
                //});


            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    function TeusDetails(ddlagent, todate) {
        //alert('hii')

        debugger;

        var data1 = { 'AGID': ddlagent, 'todate': todate };
        var data = JSON.stringify(data1);
        $.ajax({
            url: "/BL/teusSearchStock",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            // dataType: "json",
            success: function (data) {
                //debugger;
                //alert(JSON.stringify(data[0].AssessNo))
                //alert(JSON.stringify(data))
                $("#txt20").val(data[0].txt20);
                $("#txt40").val(data[0].txt40);
                $("#txt45").val(data[0].txt45);
                $("#txtteus").val(data[0].Teus);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }


        })
    }
</script>