
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>FCl Custom Examine tally</title>*@
    <style>

        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="text-align:left;width:10%"> <img height="70" width="200" src="~/images/NavkarICDLOGO.jpg" /></th>
                        <th style="width:80%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">@ViewBag.con_Name</spam>   <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:400"> @ViewBag.AddressI</spam> <br />
                        </th>
                        <th style="width:10%;text-align:center;background-color:white"></th>

                    </tr>
                </tbody>
            </table>
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:20px">
                            @ViewBag.Wo_Type
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">Work Order No</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>     @ViewBag.WO_NO</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">Work Order Date</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.AddedOn</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">CHA Name</th>
                                <td style="width:35%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:bold">Sp</label>     @ViewBag.CHAName</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">Allow ID</th>
                                <td style="width:35%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:bold">Sp</label>     @ViewBag.CartingAllowId</td>
                            </tr>
                            <tr>

                                <th style="width:15%;text-align:left;border:none;font-weight:400">Cargo Description</th>
                                <td style="width:35%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:bold">Sp</label>     @ViewBag.IGM_GoodsDesc</td>

                               
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            @if (@ViewBag.Wo_Type1 == "Carting")
            {
                <div class="printBody clearfix">
                    <div class="box">
                        <table class="tblBox" id="tablegetdetails">
                            <thead>
                                <tr>
                                    <th style="background-color: #ede5e5;width:5px">Sr No.</th>

                                    <th style="background-color: #ede5e5;width:5px">Invoice No</th>
                                    <th style="background-color: #ede5e5;width:5px">Vehicle NO</th>
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">Vendor Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Exporter Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Equipment Type</th>
                                    <th style="background-color: #ede5e5;width:5px">Remarks</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Qty</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Descriptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dr in ViewBag.ImportFCLdetailsCustomtally)
                                {
                                <tr>
                                    <td style="text-align:center;width:5px">@dr["Sr No"]</td>
                                    <td style="text-align:center;width:5px">@dr["invoiceno"]</td>
                                    <td style="text-align:center;width:5px">@dr["vehicleno"]</td>
                                    <td style="text-align:center;width:5px">@dr["PKGSDestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["Weight"]</td>
                                    <td style="text-align:center;width:5px">@dr["PKGSRestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["CargoWeight"]</td>
                                    <td style="text-align:center;width:5px">@dr["VendorName"]</td>
                                    <td style="text-align:center;width:5px">@dr["shippername"]</td>
                                    <td style="text-align:center;width:5px">@dr["EquipmentName"]</td>
                                    <td style="text-align:center;width:5px">@dr["remarks"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialQty"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialDescriptions"]</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else if (@ViewBag.Wo_Type1 == "Stuffing")
            {
                <div class="printBody clearfix">
                    <div class="box">
                        <table class="tblBox" id="tablegetdetails">
                            <thead>
                                <tr>
                                    <th style="background-color: #ede5e5;width:5px">Sr No.</th>
                                    <th style="background-color: #ede5e5;width:5px">Container No</th>
                                    <th style="background-color: #ede5e5;width:5px">Size</th>
                                    <th style="background-color: #ede5e5;width:5px">Invoice No</th>
                                    @*<th style="background-color: #ede5e5;width:5px">Carting Date</th>*@
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">Vendor Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Exporter Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Remarks</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Qty</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Descriptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dr in ViewBag.ImportFCLdetailsCustomtally)
                                {
                                <tr>
                                    <td style="text-align:center;width:5px">@dr["Sr No"]</td>
                                    <td style="text-align:center;width:5px;font-weight:bold">@dr["ContainerNo"]</td>
                                    <td style="text-align:center;width:5px">@dr["Size"]</td>

                                    <td style="text-align:center;width:5px">@dr["invoiceno"]</td>
                                    @*<td style="text-align:center;width:5px">@dr["CartingDate"]</td>*@
                                    <td style="text-align:center;width:5px">@dr["PKGSDestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["Weight"]</td>
                                    <td style="text-align:center;width:5px">@dr["PKGSRestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["CargoWeight"]</td>
                                    <td style="text-align:center;width:5px">@dr["VendorName"]</td>
                                    <td style="text-align:center;width:5px">@dr["shippername"]</td>
                                    <td style="text-align:center;width:5px">@dr["remarks"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialQty"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialDescriptions"]</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="printBody clearfix">
                    <div class="box">
                        <table class="tblBox" id="tablegetdetails">
                            <thead>
                                <tr>
                                    <th style="background-color: #ede5e5;width:5px">Sr No.</th>
                                    <th style="background-color: #ede5e5;width:5px">Container No</th>
                                    <th style="background-color: #ede5e5;width:5px">Size</th>
                                    <th style="background-color: #ede5e5;width:75px">Seal Number</th>
                                    <th style="background-color: #ede5e5;width:5px">Invoice No</th>
                                    <th style="background-color: #ede5e5;width:5px">Arrival Date</th>
                                    <th style="background-color: #ede5e5;width:5px">Vehicle NO</th>
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Total Cargo Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow PKGS</th>
                                    <th style="background-color: #ede5e5;width:5px">Allow Weight</th>
                                    <th style="background-color: #ede5e5;width:5px">% Exam</th>
                                    <th style="background-color: #ede5e5;width:5px">Vendor Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Exporter Name</th>
                                    <th style="background-color: #ede5e5;width:5px">Remarks</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Qty</th>
                                    <th style="background-color: #ede5e5;width:5px">Material Descriptions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var dr in ViewBag.ImportFCLdetailsCustomtally)
                                {
                                <tr>
                                    <td style="text-align:center;width:5px">@dr["Sr No"]</td>
                                    <td style="text-align:center;width:5px;font-weight:bold">@dr["ContainerNo"]</td>
                                    <td style="text-align:center;width:5px">@dr["Size"]</td>
                                    <td style="text-align:center;width:75px">@dr["IGM_SealNo"]</td>
                                    <td style="text-align:center;width:5px">@dr["invoiceno"]</td>
                                    <td style="text-align:center;width:5px">@dr["indate"]</td>
                                    <td style="text-align:center;width:5px">@dr["vehicleno"]</td>
                                    <td style="text-align:center;width:5px">@dr["PKGSDestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["Weight"]</td>
                                    <td style="text-align:center;width:5px">@dr["PKGSRestuff"]</td>
                                    <td style="text-align:center;width:5px">@dr["CargoWeight"]</td>
                                    <td style="text-align:center;width:5px">@dr["Examine"]</td>
                                    <td style="text-align:center;width:5px">@dr["VendorName"]</td>
                                    <td style="text-align:center;width:5px">@dr["shippername"]</td>
                                    <td style="text-align:center;width:5px">@dr["remarks"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialQty"]</td>
                                    <td style="text-align:center;width:5px">@dr["MaterialDescriptions"]</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }

            <div>
                <label style="visibility:hidden">Hello</label><br />
                <label style="visibility:hidden">Hello</label><br />

            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                @if (@ViewBag.Wo_Type1 == "Carting")
                                {

                                    <th style="width:10%;text-align:left;background-color:white;border:none;font-weight:400">Submission Only With Exporter Invoice Copy</th>
                                }
                                <td style="width:10%;text-align:left;border:none;visibility:hidden"> @ViewBag.UserName</td>
                                <td style="width:30%;text-align:left;border:none;visibility:hidden"> @ViewBag.printdate</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <label style="visibility:hidden">Hello</label><br />
                <label style="visibility:hidden">Hello</label><br />

            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:10%;text-align:left;background-color:white;border:none;font-weight:400">Prepared by :</th>
                                <td style="width:10%;text-align:left;border:none"> @ViewBag.UserName</td>
                                <td style="width:30%;text-align:left;border:none"> @ViewBag.printdate</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <label style="visibility:hidden">Hello</label><br />
                <label style="visibility:hidden">Hello</label><br />
                <label style="visibility:hidden">Hello</label><br />
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:left;border:none">(Signature of CHA)</td>
                                <td style="width:30%;text-align:center;border:none">(Signature of CFS Executive)</td>
                                <td style="width:30%;text-align:right;border:none">(Signature of Customs Officer)</td>

                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>
</body>
</html>
@*<script>
        setTimeout(function () {
            window.onload = window.print();
        }, 2000);
        wondow.onload = function () {
            show();
        };
    </script>

    <script>
        setTimeout(function () {
            window.onload = window.close();
        }, 2000);
        wondow.onload = function () {

        };


    </script>*@
