@{
    ViewBag.Title = "WorkOrderTariffDetails";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>
    
    table#reportTable td:first-child {
        text-align: center;
        /*padding: 5px 5px 0px 5px;*/
        cursor: pointer;
        background-color: #9f78ff;
        color: white;
    }

    table#reportTable td {
        text-align: right;
    }

    table#reportTable th {
        background-color: #7bc144 !important;
        color: white;
    }

    table#tblRailTariffSummary td:first-child {
        text-align: center;
        /*padding: 5px 5px 0px 5px;*/
        cursor: pointer;
        background-color: #9f78ff;
        color: white;
    }

    table#tblRailTariffSummary td {
        text-align: right;
    }

    table#tblRailTariffSummary th {
        background-color: #7bc144 !important;
        color: white;
    }

    /*.table-responsive {
        overflow: hidden;
    }*/

    body {
        font-weight: bolder !important;
    }
</style>

<script src="~/js/GetTableJson.js"></script>
<div id="tracker-loader"></div>
<div class=" content-area overflow-hidden" id="divTariffView">
    <div class="page-header">
        <h4 class="page-title">Work Order Tariff</h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">
                    <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="ViewTariff();"><i class="fa fa-file-text"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <div class="row gutters-xs">

                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Months</label>
                                            @Html.DropDownList("ddlMonth", new List<SelectListItem>
                                         { new SelectListItem { Text = "January", Value = "1"},
                                             new SelectListItem { Text = "February", Value = "2"},
                                             new SelectListItem { Text = "March", Value = "3"},
                                           new SelectListItem { Text = "April", Value = "4"},
                                           new SelectListItem { Text = "May", Value = "5"},
                                           new SelectListItem { Text = "June", Value = "6"},
                                           new SelectListItem { Text = "July", Value = "7"},
                                           new SelectListItem { Text = "August", Value = "8"},
                                           new SelectListItem { Text = "September", Value = "9"},
                                           new SelectListItem { Text = "October", Value = "10"},
                                           new SelectListItem { Text = "November", Value = "11"},
                                           new SelectListItem { Text = "December", Value = "12"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlMonth" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Year</label>
                                            @Html.DropDownList("ddlYear", new List<SelectListItem>
                                         { new SelectListItem { Text = "2019", Value = "2019"},
                                             new SelectListItem { Text = "2020", Value = "2020"},
                                             new SelectListItem { Text = "2021", Value = "2021"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlYear" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Activity</label>
                                            @Html.DropDownList("ddlActivity", new List<SelectListItem>
                                         { new SelectListItem { Text = "Export", Value = "Export"},
                                             new SelectListItem { Text = "Import", Value = "Import"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlActivity" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Wo Type</label>
                                            @Html.DropDownList("ddlWoType", (IEnumerable<SelectListItem>)ViewBag.WOType, "ALL", new { @class = "form-control custom-select", @id = "ddlWoType", name = "ddlWoType", autocomplete = "off" })
                                            <input id="hdnTariffId" type="hidden" />
                                        </div>
                                    </div>
                                    <div class="col-md-22 col-lg-4">
                                        <div class="form-group label-floating" style="margin-top: 33px;">
                                            <button class=" btn btn-primary" style="margin-top: -7px" id="btnSearch" onclick="Show()" type="button">
                                                Generate Tariff
                                            </button>
                                            <button class=" btn btn-primary" style="margin-top: -7px" id="btnSave" onclick="Save()" type="button">
                                                Save Tariff
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Export To Excel", "ExportToExcelTariffDetails", null, new { @class = "btn btn-primary btn-md" })
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                                <div class="row">
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    <div class="inline">
                                                        <div class="widget-line mt-5 margin_wrap">
                                                            <p>Total Container</p>
                                                            <h1 class="counter" id="h1TotalCont"></h1>
                                                        </div>
                                                    </div>
                                                    <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="1.2951" data-thickness="20" data-color="#9f78ff">
                                                        <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    <div class="inline">
                                                        <div class="widget-line mt-5 margin_wrap">
                                                            <p>Total Weight</p>
                                                            <h1 class="counter" id="h1TotalWeight"></h1>
                                                        </div>
                                                    </div>
                                                    <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="1.2951" data-thickness="20" data-color="#9f78ff">
                                                        <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-sm-12">
                                        <div class="form-group">
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    <div class="inline">
                                                        <div class="widget-line mt-5 margin_wrap">
                                                            <p>Total Amount</p>
                                                            <h1 class="counter" id="h1TotalAmount"></h1>
                                                        </div>
                                                    </div>
                                                    <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="1.2951" data-thickness="20" data-color="#9f78ff">
                                                        <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-line mt-5 ">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-hover tbl-cart text-nowrap" id="reportTable" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th> Activity</th>
                                                    <th> Work Order Type</th>
                                                    <th> Container No</th>
                                                    <th> Size</th>
                                                    <th> Type</th>
                                                    <th> Package Type</th>
                                                    <th> Cargo Type</th>
                                                    <th> Total Weight</th>
                                                    <th> Amount</th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" content-area" id="divTariffViewSummary" style="display:none">
    <div class="page-header">
        <h4 class="page-title">Work Order Tariff Summary</h4>
        <div class="ibox-content  text-right">
            <a onclick="getBack();" class="btn btn-primary btn-success" style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"></i>  </a></li>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <div class="row gutters-xs">
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Months</label>
                                            @Html.DropDownList("ddlMonthSummary", new List<SelectListItem>
                                         { new SelectListItem { Text = "January", Value = "1"},
                                             new SelectListItem { Text = "February", Value = "2"},
                                             new SelectListItem { Text = "March", Value = "3"},
                                           new SelectListItem { Text = "April", Value = "4"},
                                           new SelectListItem { Text = "May", Value = "5"},
                                           new SelectListItem { Text = "June", Value = "6"},
                                           new SelectListItem { Text = "July", Value = "7"},
                                           new SelectListItem { Text = "August", Value = "8"},
                                           new SelectListItem { Text = "September", Value = "9"},
                                           new SelectListItem { Text = "October", Value = "10"},
                                           new SelectListItem { Text = "November", Value = "11"},
                                           new SelectListItem { Text = "December", Value = "12"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlMonthSummary" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Year</label>
                                            @Html.DropDownList("ddlYearSummary", new List<SelectListItem>
                                         { new SelectListItem { Text = "2019", Value = "2019"},
                                             new SelectListItem { Text = "2020", Value = "2020"},
                                             new SelectListItem { Text = "2021", Value = "2021"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlYearSummary" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Activity</label>
                                            @Html.DropDownList("ddlActivitySummary", new List<SelectListItem>
                                         { new SelectListItem { Text = "Export", Value = "Export"},
                                             new SelectListItem { Text = "Import", Value = "Import"},
                                           }, new { @class = "form-control", autocomplete = "off", @id = "ddlActivitySummary" })
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-lg-2">
                                        <div class="form-group label-floating">
                                            <label class="form-label">Wo Type</label>
                                            @Html.DropDownList("ddlWoTypeSummary", (IEnumerable<SelectListItem>)ViewBag.WOType, "ALL", new { @class = "form-control custom-select", @id = "ddlWoTypeSummary", name = "ddlWoTypeSummary", autocomplete = "off" })
                                            <input id="hdnTariffId" type="hidden" />
                                        </div>
                                    </div>
                                    <div class="col-md-22 col-lg-4">
                                        <div class="form-group label-floating" style="margin-top: 33px;">
                                            <input id="btnSummaryShow" type="button" class="btn btn-primary" value="Show" onclick="ShowSummary()" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Export To Excel", "ExportToWorkOrderTariff", null, new { @class = "btn btn-primary btn-md" })
                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblRailTariffSummary"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>

    function ViewTariff(){
        $("#divTariffView").hide();
        $("#divTariffViewSummary").show();
    }

    function getBack() {
        $("#divTariffViewSummary").hide();
        $("#divTariffView").show();
    }

    function ShowSummary() {
        debugger;
        $("#tracker-loader").fadeIn("slow");

        var Month = $("#ddlMonthSummary").val();
        var Year = $("#ddlYearSummary").val();
        var WoType = $("#ddlWoTypeSummary").val();
        var Activity = $("#ddlActivitySummary").val();

        var data1 = { 'Month': Month, 'Year': Year, 'WOType': WoType, 'Activity': Activity };

        data = JSON.stringify(data1);

        try {

            $.ajax({
                url: '/WorkOrder/ShowTariffDetails',
                type: 'Post',
                data: data,
                async: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    if (data == "Record not Found.") {
                        alert(data);
                    }
                    else {
                        RepTableDataJson($("#tblRailTariffSummary"), data, "WorkOrderTariff", "WorkOrderTariffList")
                    }
                    $("#tracker-loader").fadeOut("slow");
                }
            })

        } catch (ex) {
            $("#tracker-loader").fadeOut("slow");
        }
        $("#tracker-loader").fadeOut("slow");
    }

    function Save() {

        $("#tracker-loader").fadeIn("slow");

        var Month = $("#ddlMonth").val();
        var Year = $("#ddlYear").val();
        var TariffId = $("#hdnTariffId").val();
        var WoType = $("#ddlWoType").val();
        var Activity = $("#ddlActivity").val();

        if (TariffId == 0 || TariffId == "") {
            alert("Please Generate Tariff before save.");
            $("#tracker-loader").fadeOut("slow");
            return;
        }

        var data1 = { 'Month': Month, 'Year': Year, 'TariffId': TariffId, 'WOType': WoType, 'Activity': Activity };

        data = JSON.stringify(data1);

        try {
            if (window.confirm("Are you sure want to save Work Order Tariff Details ?")) {
                $.ajax({
                    url: '/WorkOrder/SaveTariffDetails',
                    type: 'Post',
                    data: data,
                    async: true,
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        debugger;
                        alert(data);
                        window.location = "/WorkOrder/WorkOrderTariffDetails/";
                        $("#tracker-loader").fadeOut("slow");
                    }
                })
            }
            else {
                //alert("You Pressed Cancel");
            }
            
        } catch (ex) {
            $("#tracker-loader").fadeOut("slow");
        }
        $("#tracker-loader").fadeOut("slow");
    }

    function Show() {
        debugger;

        $("#tracker-loader").fadeIn("slow");

        var Month = $("#ddlMonth").val();
        var Year = $("#ddlYear").val();
        var WoType = $("#ddlWoType").val();
        var Activity = $("#ddlActivity").val();

        var data1 = { 'Month': Month, 'Year': Year, 'WOType': WoType, 'Activity': Activity };

        data = JSON.stringify(data1);

        try {
            $.ajax({
                url: '/WorkOrder/ShowTariffWorkOrder',
                type: 'Post',
                data: data,
                async: true,
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    debugger;
                    //RepTableDataJson($('#reportTable'), data, "TariffWorkOrder", "TariffWorkOrderList");

                    alert(data.Message);

                    $("#hdnTariffId").val(data.TariffId);

                    if (data.TotalCount == "") {
                        $("#h1TotalCont").text(0);
                    }
                    else {
                        $("#h1TotalCont").text(data.TotalCount);
                    }

                    if (data.TotalWeight == "") {
                        $("#h1TotalWeight").text(0);
                    }
                    else {
                        $("#h1TotalWeight").text(data.TotalWeight);
                    }

                    if (data.TotalAmount == "") {
                        $("#h1TotalAmount").text(0);
                    }
                    else {
                        $("#h1TotalAmount").text(data.TotalAmount);
                    }


                    $('#reportTable').dataTable({
                        "destroy": true,
                        "bLengthChange": false,
                        "aaData": data.TariffList,
                        "columns": [
                            { "data": "SrNo" },
                            { "data": "Wo_Type" },
                            { "data": "ContainerNo" },
                            { "data": "Size" },
                            { "data": "Type" },
                            { "data": "PackageType" },
                            { "data": "CargoType" },
                            { "data": "Weight" },
                            { "data": "Amount" },
                        ]
                    });

                    $("#tracker-loader").fadeOut("slow");
                    $("reportTable_filter").hide();
                }
            })
        } catch (ex) {
            $("#tracker-loader").fadeOut("slow");
        }
    }

    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })

</script>