@model TrackerMVCEntities.BusinessEntities.CHAMaster

@{
    ViewBag.Title = "New CHA Profile";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<link href="~/css/NewCHAProfile.css" rel="stylesheet" />
@using (Html.BeginForm("SaveCHAProfile", "CHA", FormMethod.Post))
{
    @Html.AntiForgeryToken()
     <div class="page-header">
        <h4 class="page-title">CHA Profile</h4> 
         <div class="form-group">
             <label class="form-label"></label>
             <div class="row gutters-xs">
                 <div class="col"> 
                     <button type="button" class="btn btn-icon btn-orange" name="gst" title="GST" id="gst"><i class="fa fa-google"></i></button>
                     <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="window.location = '@Url.Action("MasterSummary", "Master")' "><i class="fa fa-file-text"></i></button>
                 </div>
             </div>
         </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            @*<div class="col-sm-3 col-md-2">
                                <div class="form-group">
                                    <label class="form-label">CHA NO</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.CHANo, new { htmlAttributes = new { @class = "form-control Number", @id = "chNO", @readonly = "Readonly", @Value = "New" } })

                                        </div>

                                    </div>
                                </div>
                            </div>*@
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">CHA Code</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.CHACode, new { htmlAttributes = new { @class = "form-control", @id = "chaCode", autocomplete = "off", maxlength = 20 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">CHA Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.CHAName, new { htmlAttributes = new { @class = "form-control", @id = "chaName", autocomplete = "on", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          
                            <div class="col-lg-12 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Full Address</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @* @Html.EditorFor(model => model.shipperid, new { htmlAttributes = new { @class = "form-control Number", @id = "shipperid" } })*@
                                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @id = "chaAddress", maxlength = 500 } })
                                             
                                        </div>

                                    </div>
                                </div>
                            </div>  
                            @*<div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">City</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                           
                                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", @id = "chaCity", autocomplete = "off" } })


                                        </div>

                                    </div>
                                </div>
                            </div>*@    
                        </div>
                        <div class="row">
                                                    
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Contact Person</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control", @id = "contactPerson", autocomplete = "on", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Person Designation</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @id = "designation", autocomplete = "on", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                           
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Contact Number 1</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.ContactNo1, new { htmlAttributes = new {  @class = "form-control", @id = "contactNo1", autocomplete = "off", maxlength = 50, onkeydown = "numericOnly(this,event)" } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Contact Number 2</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.ContactNo2, new { htmlAttributes = new { @class = "form-control", @id = "contactNo2", autocomplete = "off", maxlength = 50, onkeydown = "numericOnly(this,event)" } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Fax Number</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.FaxNumber, new { htmlAttributes = new {  @class = "form-control", @id = "fax", autocomplete = "off", maxlength = 50, onkeydown = "numericOnly(this,event)" } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Mobile Number</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.CellNumber, new { htmlAttributes = new {  @class = "form-control", @id = "cellNO", autocomplete = "off", maxlength = 50, onkeydown = "numericOnly(this,event)" } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Email Address</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.eMailIDs, new { htmlAttributes = new { @class = "form-control", @id = "emailID", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            @*</div>
                                <div class="row">*@
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Remarks</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control", @id = "remarks", maxlength = 100 } })
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="form-group">
                                @*<label class="form-label">Is Active</label>*@
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*@Html.EditorFor(model => model.eMailIDs, new { htmlAttributes = new { @class = "form-control", @id = "emailID" } })*@
                                        @Html.CheckBoxFor(m => m.IsActive, new { @checked = "checked", @id = "isActive" }) Is Active? @*<label class="form-label">Is Active</label>*@
                                       @* <label>@Html.CheckBoxFor(m => m.IsActive)&nbsp;@Html.DisplayNameFor(m => m.IsActive)</label>*@
                                       
                                    </div> 

                                </div>
                            </div>
                        </div>
                      
                        
                        <div class="card-footer text-right">
                            <div class="form-group">
                                <label class="form-label"></label>
                                <div class="row gutters-xs">
                                    <div class="col"> 
                                        <input type="submit" id="Save" name="saveProfile" value="Save Profile" class="btn btn-success" />
                                        @*<input type="button" name="clearProfile" value="Clear" class="btn btn-gray" title="clear" id="clearValue" />*@ 
                                        <button type="button" class="btn btn-icon btn-gray" name="clearProfile" title="clear" id="clearValue"><i class="fa fa-undo"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
    window.onload = function () { 
        var message = @Html.Raw(Json.Encode(ViewBag.Message))
        alert(message);

        document.getElementById("chaCode").value = "";
        document.getElementById("chaName").value = "";
        document.getElementById("chaAddress").value = "";
        //document.getElementById("chaCity").value = "";
        document.getElementById("contactPerson").value = "";
        document.getElementById("designation").value = "";
        document.getElementById("contactNo1").value = "";
        document.getElementById("contactNo2").value = "";
        document.getElementById("fax").value = "";
        document.getElementById("cellNO").value = "";
        document.getElementById("emailID").value = "";
        document.getElementById("remarks").value = "";
        document.getElementById("isActive").checked = true;
    };

    </script>
}




<script>
    $(document).ready(function () {
        $("#chaName").autocomplete({

            autoFocus: true,
            scroll: true,
            source: function (request, response) {
                //  alert("hi")
                $.ajax({
                    url: "/CHA/GetNameForAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { name: request.term },
                    success: function (data) {
                        if (!data.length) {

                        }
                        else {

                            response($.map(data, function (item) {

                                return { value: item };


                            }))
                        }
                    }
                })
            },
            select: function (e, ui) {
                $("#chaName").val(ui.item.value);
                // CheckCompanyAvailability(ui.item.value);
                return false;
            },
            messages: {
                noResults: "", results: ""
            }
        });

        $("#contactPerson").autocomplete({

            autoFocus: true,
            scroll: true,
            source: function (request, response) {
                //  alert("hi")
                $.ajax({
                    url: "/CHA/GetContactPersonForAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { name: request.term },
                    success: function (data) {
                        if (!data.length) {

                        }
                        else {

                            response($.map(data, function (item) {

                                return { value: item };


                            }))
                        }
                    }
                })
            },
            select: function (e, ui) {
                $("#contactPerson").val(ui.item.value);
                // CheckCompanyAvailability(ui.item.value);
                return false;
            },
            messages: {
                noResults: "", results: ""
            }
        });

        $("#designation").autocomplete({

            autoFocus: true,
            scroll: true,
            source: function (request, response) {
                //  alert("hi")
                $.ajax({
                    url: "/CHA/GetDesignationForAutoComplete",
                    type: "POST",
                    dataType: "json",
                    data: { name: request.term },
                    success: function (data) {
                        if (!data.length) {

                        }
                        else {

                            response($.map(data, function (item) {

                                return { value: item };


                            }))
                        }
                    }
                })
            },
            select: function (e, ui) {
                $("#designation").val(ui.item.value);
                // CheckCompanyAvailability(ui.item.value);
                return false;
            },
            messages: {
                noResults: "", results: ""
            }
        });


        $("#chaCode").on("blur", function () {

            $.ajax(
                {
                    url: '/CHA/GetExisitingCHACode?chaCode=' + $("#chaCode").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) { 
                        $("#chaCode").removeClass();
                        //$("#clearValue").removeClass();
                        if (data == true) {
                            $("#chaCode").addClass("form-control is-valid state-valid");
                            //$("#clearValue").addClass("cursor display_block");
                        } else {
                            $("#chaCode").addClass("form-control is-invalid state-invalid")
                            //$("#clearValue").addClass("cursor display_block");
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#chaName").on("blur", function () {

            $.ajax(
                {
                    url: '/CHA/GetExisitingCHAName?chaName=' + $("#chaName").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#chaName").removeClass(); 
                        if (data == true) {
                            $("#chaName").addClass("form-control is-valid state-valid") 
                        } else {
                            $("#chaName").addClass("form-control is-invalid state-invalid") 
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#chaAddress").on("blur", function () {

            $.ajax(
                {
                    url: '/CHA/ValidateAddress?chaAddress=' + $("#chaAddress").val(),
                    type: 'GET',
                    data: "",
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        $("#chaAddress").removeClass(); 
                        if (data == true) {
                            $("#chaAddress").addClass("form-control is-valid state-valid") 
                        } else {
                            $("#chaAddress").addClass("form-control is-invalid state-invalid") 
                        }
                    },
                    error: function () {
                        alert("error");
                    }
                });
        });

        $("#clearValue").on("click", function () {
            document.getElementById("chaCode").value = "";
            document.getElementById("chaName").value = "";
            document.getElementById("chaAddress").value = "";
            //document.getElementById("chaCity").value = "";
            document.getElementById("contactPerson").value = "";
            document.getElementById("designation").value = "";
            document.getElementById("contactNo1").value = "";
            document.getElementById("contactNo2").value = "";
            document.getElementById("fax").value = "";
            document.getElementById("cellNO").value = "";
            document.getElementById("emailID").value = "";
            document.getElementById("remarks").value = "";
            document.getElementById("isActive").checked = true;
            $("#chaCode").removeClass();
            $("#chaName").removeClass();
            $("#chaAddress").removeClass();

            $("#chaCode").addClass("form-control");
            $("#chaName").addClass("form-control");
            $("#chaAddress").addClass("form-control");
 
        });

        $("#emailID").on("blur", function () { 
            isEmail($("#emailID").val());
            
        });

        //var count1 = 0;
        //$("#contactNo1").on("blur", function () {
        //    if ($("#contactNo1").val() != "") {
        //        $("#contactNo1").removeClass();
        //        $("#contactNo1").addClass("form-control");
        //        isNumber("#contactNo1", $("#contactNo1").val());
        //        count1 = 0
        //    } else {
        //        if (count1 == 0) {
        //            alert("Empty Contact No is not valid");
        //            $("#contactNo1").removeClass();
        //            $("#contactNo1").addClass("form-control is-invalid state-invalid");

        //            count1++;
        //        }

        //    }

        //});


        //$("#contactNo2").on("blur", function () {
        //    if ($("#contactNo2").val() != "") {
        //        $("#contactNo2").removeClass();
        //        $("#contactNo2").addClass("form-control");
        //        isNumber("#contactNo2", $("#contactNo2").val());
        //        count1 = 0
        //    } else {
        //        if (count1 == 0) {
        //            alert("Empty Contact No is not valid");
        //            $("#contactNo2").removeClass();
        //            $("#contactNo2").addClass("form-control is-invalid state-invalid");

        //            count1++;
        //        }
        //    }
        //});


        //$("#cellNO").on("blur", function () {
        //    if ($("#cellNO").val() != "") {
        //        $("#cellNO").removeClass();
        //        $("#cellNO").addClass("form-control");
        //        isNumber("#cellNO", $("#cellNO").val());
        //        count1 = 0
        //    } else {
        //        if (count1 == 0) {
        //            alert("Empty Contact No is not valid");
        //            $("#cellNO").removeClass();
        //            $("#cellNO").addClass("form-control is-invalid state-invalid");

        //            count1++;
        //        }
        //    }

        //});
       
        
         
    });

    function numericOnly(element,e)
    { 
        // Allow: backspace, delete, tab, escape, enter and . - , ;
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190,45,44,59, 189,109, 188,186]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) { console.log(e.keyCode)
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105) ) {
            e.preventDefault();
        }
    
    }

    function isEmail(email) {
        var regex = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
        var res1 = regex.test(email);
        $("#emailID").removeClass();
        if (email == "") {
            alert('Please Enter Email Id!');
            $("#emailID").addClass("form-control is-invalid state-invalid")
            // document.getElementById('email').value = ""
            return false;
        }
        if (res1 == false) {
            alert('Please Enter valid Email Id!');
            $("#emailID").addClass("form-control is-invalid state-invalid")
            //  document.getElementById('Email').value = ""
            return res1;
        }
        else {
            $("#emailID").addClass("form-control is-valid state-valid")
        }
    }

    function isNumber(contactID,contactNO) { console.log(contactNO)
        var regex = /^(\+\d{1,3}[- ]?)?\d{10}$/;
        var res2 = regex.test(parseInt(contactNO));
        $(contactID).removeClass();
        if (contactNO == "") {
            $( contactID).addClass("form-control is-invalid state-invalid")
            alert('Please Enter valid Contact Number!');  
        }
        if (res2 == false) {
            $( contactID ).addClass("form-control is-invalid state-invalid")
            alert('Please Enter valid Contact Number!'); 
        }
        else {
            $( contactID ).addClass("form-control is-valid state-valid")
        }
    }
</script>


@*<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">CHA Details</h4>
    </div>
    <div class="col-lg-12">
        <form class="card"> 
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label">CHA NO</label>
                            <input type="text" class="form-control" placeholder="CHA NO">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label">CHA Code</label>
                            <input type="text" class="form-control" placeholder="CHA Code">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="form-group">
                            <label class="form-label">CHA Name</label>
                            <input type="text" class="form-control" placeholder="CHA Name">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label class="form-label">Address</label>
                            <textarea rows="2" class="form-control" placeholder="Address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">City</label>
                            <input type="text" class="form-control" placeholder="City">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Contact Person</label>
                            <input type="text" class="form-control" placeholder="Contact Person">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Person Designation</label>
                            <input type="text" class="form-control" placeholder="Person Designation">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Contact Number 1</label>
                            <input type="text" class="form-control" placeholder="Contact Number 1">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Contact Number 2</label>
                            <input type="text" class="form-control" placeholder="Contact Number 2">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Fax Number </label>
                            <input type="text" class="form-control" placeholder="Fax Number">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Mobile Number </label>
                            <input type="text" class="form-control" placeholder="Mobile Number">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group">
                            <label class="form-label">Email address</label>
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <label class="form-label">Remarks</label>
                            <textarea rows="2" class="form-control" placeholder="Remarks"></textarea>
                        </div>
                    </div>
                    <div class="custom-controls-stacked">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" name="Is Active" value="IsActive" checked>
                            <span class="custom-control-label">Is Active</span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="submit" class="btn btn-primary">Save Profile</button>
            </div>
        </form>
    </div>
</div>*@

