<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/printstyle.css" rel="stylesheet" />
    <script src="~/js/qrcode.min.js"></script>
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        #qrcode {
            width: 30px !important;
            height: 50px !important;
            margin: 2px;
            /*margin-top: 15px;*/
        }

        .boxHeaderCentral {
            /*float: left;*/
            width: 46%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderRight {
            width: 29%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderLeft {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                       
                        <th style="text-align:left;width:20%"> <img src="~/images/PrintLogo.png" /></th>

                       


                        <th style="width:46%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <span style="font-size:12pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.CompanyName</span>   <br />
                            <span style="font-size:9pt;margin-top: 0px;margin-bottom:0px;font-weight:normal"> (@ViewBag.AddressII)</span> <br />
                            @*<span style="font-size:7pt;margin-top: 0px;margin-bottom:0px;font-weight:normal"> @ViewBag.Addressl</span> <br />
            <span style="font-size:7pt;margin-top: 0px;margin-bottom:0px;font-weight:normal"> @ViewBag.IMP_AC_EMAILID</span> <br />*@

                        </th>

                        <th style="width:29%">
                            <div class="boxHeaderRight" style="height:200px;">
                                <div id="qrcode"> </div>
                            </div>
                        </th>

                    </tr>

                </tbody>
            </table>


            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:12pt">
                            @ViewBag.CreditNoteCategory CREDIT NOTE
                        </th>
                    </tr>

                </tbody>
            </table>

            <div class="printBody clearfix">
                <div class="box" style="border-style:none;">
                    <table class="tblBox">
                        <tbody>
                            <tr>

                                <th style="text-align:left; ">
                                    E-Invoice Details
                                </th>
                                @*<th style="text-align:center;width:9%"><div id="qrcode"></div></th>*@
                                @*<th style="text-align:center;width:9%"><img height="30" width="50" src="~/images/QrCode.png" /></th>*@
                            </tr>

                        </tbody>
                    </table>

                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:150px;text-align:left">IRN :</th>
                                <th style="text-align:left">@ViewBag.Irn</th>


                            </tr>

                            <tr>
                                <th style="width:100px;text-align:left">Ack.No :</th>
                                <th style="text-align:left">@ViewBag.AckNo</th>

                                <th style="width:100px;text-align:left">ACK Date: :</th>
                                <th style="text-align:left">@ViewBag.AckDt</th>
                            </tr>


                        </tbody>
                    </table>
                    <br />
                </div>
            </div>
            <div class="printBody clearfix">
                <div class="box" style="border-style:none;">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:9%;text-align:left">Credit No.</th>
                                <th style="width:40%;text-align:left">@ViewBag.CRNO</th>
                                <th style="width:9%;text-align:left">Date</th>
                                <th style="width:40%;text-align:left;font-weight:700">@ViewBag.CreditDate</th>
                            </tr>

                            <tr>
                                <th style="width:9%;text-align:left">State</th>
                                <th style="width:40%;text-align:left">@ViewBag.State</th>
                                <th style="width:9%;text-align:left">State Code</th>
                                <td style="width:40%;text-align:left;font-weight:700">@ViewBag.state_Code</td>
                            </tr>

                            <tr>
                                <th colspan="2" style="width:50%;text-align:left">Details of Receiver/ Billed to:</th>

                            </tr>
                            <tr>
                                <td colspan="4" style="vertical-align:top;width:70%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">Name</th>
                                                    <td style="width:70%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.GSTName</td>
                                                </tr>

                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">GSTIN</th>
                                                    <td style="width:70%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.GSTIn_uniqID</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">Address</th>
                                                    <td style="width:70%;text-align:left;border-style:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.GSTAddress</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Place of Supply</th>
                                                    <td colspan="1" style="border-style:none;">
                                                        <table class="tblBox">
                                                            <tr>
                                                                <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.State</td>
                                                                <th style="width:20%;text-align:left;border-style:none;border: 1px solid gray;">State Code :</th>
                                                                <td style="width:30%;text-align:left;border-style:none;border: 1px solid gray;">@ViewBag.state_Code</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 9.5pt;">Credit Note issued against invoice: </h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Invoice No</th>
                            <th style="width:5px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Invoice Date</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.ChargesDetailsList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:center">@dr["invoiceno"]</td>
                                <td style="text-align:center">@dr["InvoiceDate"]</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 9.5pt;">Container Details: </h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Container No</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Size</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Charges</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Credit Amount</th>
                             




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.HeadDetailsList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:center">@dr["containerno"]</td>
                                <td style="text-align:center">@dr["size"]</td>
                                <td style="text-align:center">@dr["AccountName"]</td>
                                <td style="text-align:right">@dr["CreditAmt"]</td>
                              
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;text-align:center" rowspan="2">Sr No.</th>
                            <th style="width:20%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Credit Charges Description</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">HSN Code</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Credit Amount</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Taxable Value</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">SGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">CGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">IGST</th>
                        </tr>
                        <tr>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var dr in ViewBag.ContainerDetailsList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:center">@dr["AccountName"]</td>
                                <td style="text-align:center">@dr["HSNCode"]</td>
                                <td style="text-align:right">@dr["CreditAmt"]</td>
                                <td style="text-align:center">@dr["CreditAmt"]</td>
                                <td style="text-align:right">@dr["Srate"]</td>
                                <td style="text-align:center">@dr["SGST"]</td>
                                <td style="text-align:right">@dr["CRate"]</td>
                                <td style="text-align:center">@dr["CGST"]</td>
                                <td style="text-align:right">@dr["IRate"]</td>
                                <td style="text-align:center">@dr["IGST"]</td>
                                
                            </tr>
                        }
                    </tbody>
                    <tfoot style="background-color:yellow;">
                        <tr>
                            <td style="text-align:center;" colspan="2">Total</td>

                            <td style="text-align:right">@ViewBag.Amount </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.NetAmount </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.SGST </td>
                            <td style="text-align:center"> </td>
                            <td style="text-align:right">@ViewBag.CGST </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.IGST </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div style="border:1px solid gray;">
                <div class="printBody clearfix">
                    <div class="box" style="border-style: none;">
                        <table class="tblBox">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="vertical-align:top;width:65%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid black;">
                                                        <th style="width:20%;text-align:left;border-top-style:none;font-weight: 500;border-style: none;">Total Credit Amount in Words :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.AmountInWord</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">BANK DETAILS :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">Company Name &nbsp; @ViewBag.CompanyName</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;;font-weight: 500;border-style: none;">@ViewBag.BankName</th>
                                                        <td style="width:30%;text-align:left;border-style: none;">@ViewBag.AccountNo</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.BranchName</th>
                                                        <td style="width:20%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.IFSCCode</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:5%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">Remarks</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">@ViewBag.Remarks</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td colspan="2" style="vertical-align:top;width:35%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox" style="border:none">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important"> Total Amount Before Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.Nettotal</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : CGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.cgst</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add :SCGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.sgst</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : IGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.igst</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Tax Amount : GST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.TaxAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none"> Total Amount After Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: bold;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none;border-right:none !important">@ViewBag.GrandTotal</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="boxHalf clearfix" style="text-align:left;height:180px">
                    <h5 style="margin-top:0px;margin-bottom:0px;">Terms and conditions</h5>
                    <h6 style="margin-top:0px;margin-bottom:0px;font-family:Verdana;font-weight:normal">
                       @ViewBag.NoteII
                    </h6>
                    <h3>GSTIN No :- @ViewBag.GSTINNo</h3>
                    <h3>PAN No:- @ViewBag.PANNo</h3>
                    <h3>Note:This is Computer Generated Invoice, Signature & Stamp Not Required</h3>
                    <h3>(E.& O.E.)</h3>
                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:180px">
                    <br />
                    <h3>@ViewBag.CompanyName</h3><br /><br />
                    <h3>Authorised Signatory</h3>
                </div>

            </div>
            <div class="printBody clearfix">
                <div class="box" style="border-style: none;">
                    <table class="tblBox" style="border-style: none;">
                        <tbody>
                            <tr>
                                <td colspan="4" style="vertical-align:top">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>

                                                    <th style="width:10%;text-align:left;border-style:none">Prepared By</th>
                                                    <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.UserName</td>

                                                    <th style="width:10%;text-align:left;border-style:none">Checked By</th>
                                                    <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label></td>
                                                    <th style="width:10%%;text-align:left;border-style:none">Date</th>
                                                    <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Datetime</td>
                                                    <th style="width:10%;text-align:left;border-style:none;">Time</th>
                                                    <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.TIme</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
</html>
<script>
    @*var qrcode = new QRCode("qrcode");
    qrcode.makeCode("@ViewBag.SignedQRcode");
    debugger;
    var temp = document.getElementById("qrcode");
    temp.lastElementChild.height = 196;
    temp.lastElementChild.width =196;*@

    //window.print();

    $(document).ready(function () {

        window.print();
    });


</script>
