@{
    ViewBag.Title = "Reverse Debit Note";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<style>
    .hiderow {
        display: none;
    }
</style>
<style>

    .table thead th, .text-wrap table thead th {
        background-color: #9f78ff;
        color: white;
    }

    table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
        color: black;
        font-weight: 900 !important;
        font-size: 15px !important;
    }
</style>
<script src="~/js/GetTableJsonwopaging.js"></script>

<div id="addHorse">
    <div class="page-header">
        <h4 class="page-title">
            Reverse Debit Note
        </h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">
                    <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="Summary();"><i class="fa fa-file-text"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Debit Note No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtDebitNoteNo" type="text" placeholder="New" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-2 col-sm-12" style="display:none">
                                <div class="form-group">
                                    <label class="form-label mandatory">Assess No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtoldCreditNOte" type="text" placeholder="New" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Debit Note Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtDebitNoteDate", null, new { @class = "form-control form_datetime1", @readonly = true, @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Credit Note No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtCreditNoteNo", null, new { @class = "form-control ", @id = "txtCreditNoteNo", name = "txtCreditNoteNo", autocomplete = "on" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Work Year</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtWorkYear", null, new { @class = "form-control ", @readonly = true, @id = "txtWorkYear", name = "txtWorkYear", autocomplete = "on" })
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group" style="padding-top:26px;">
                                    <div class="row gutters-xs">
                                        <div class="col">

                                            <button class="btn btn-primary" data-toggle="modal" data-target="#largeModal" onclick="OpenTariffDetails();"><i class="fa fa-search" aria-hidden="true"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Activity</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtActivity", null, new { @class = "form-control ", @readonly = true, @id = "txtActivity", name = "txtActivity", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Party Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <input ID="txtPartyName" type="text" placeholder="" readonly class="form-control" />
                                        <input ID="txtstatecode" style="display:none" type="text" placeholder="GST Number" class="form-control" />
                                        <input ID="txtGSTid" style="display:none" type="text" placeholder="GST Number" class="form-control" />
                                        <input ID="txtTotalReceiptAmount" style="display:none" value="0" type="text" placeholder="GST Number" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblWorkOrderDets" style="width:100%;background-color:#f4f5fa !important;">
                                <thead>
                                    <tr>
                                        <th class="wd-15p sorting">Sr No</th>
                                        <th class="wd-15p sorting">Invoice No</th>
                                        <th class="wd-10p sorting">Workyear</th>
                                        <th class="wd-10p sorting">Account Name</th>
                                        <th class="wd-10p sorting">Container No</th>
                                        <th class="wd-10p sorting">Size</th>
                                        <th class="wd-10p sorting">Invoice Amount</th>
                                        <th class="wd-10p sorting">Credite Amount</th>
                                        <th class="wd-10p sorting">Debit Amount</th>

                                        <th class="hiderow" style="width:10px;color: white;text-align:center">AccountID</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">JONo</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">TaxID</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">SGST</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">CGST</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">IGST</th>
                                        <th class="hiderow" style="width:10px;color: white;text-align:center">Grand Total</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Credit Amount</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCreditAmount", null, new { @class = "form-control ", @readonly = true, @id = "txtCreditAmount", name = "txtCreditAmount", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">SGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCreditSGSTt", null, new { @class = "form-control ", @readonly = true, @id = "txtCreditSGSTt", name = "txtCreditSGSTt", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">CGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCreditCGST", null, new { @class = "form-control ", @readonly = true, @id = "txtCreditCGST", name = "txtCreditCGST", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">IGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">

                                        @Html.TextBox("txtCreditIGST", null, new { @class = "form-control ", @readonly = true, @id = "txtCreditIGST", name = "txtCreditIGST", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Credit Total</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCreditTotal", null, new { @class = "form-control ", @readonly = true, @id = "txtCreditTotal", name = "txtCreditTotal", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Debti Amount</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDebtiAmount", null, new { @class = "form-control ", @readonly = true, @id = "txtDebtiAmount", name = "txtDebtiAmount", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">SGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDebtiSGSTt", null, new { @class = "form-control ", @readonly = true, @id = "txtDebtiSGSTt", name = "txtDebtiSGSTt", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">CGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDebtiCGST", null, new { @class = "form-control ", @readonly = true, @id = "txtDebtiCGST", name = "txtDebtiCGST", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">IGST</label>
                                <div class="row gutters-xs">
                                    <div class="col">

                                        @Html.TextBox("txtDebtiIGST", null, new { @class = "form-control ", @readonly = true, @id = "txtDebtiIGST", name = "txtDebtiIGST", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Debti Total</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDebtiTotal", null, new { @class = "form-control ", @readonly = true, @id = "txtDebtiTotal", name = "txtDebtiTotal", autocomplete = "on" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-sm-12">
                        <div class="form-group">
                            <label class="form-label mandatory">Remarks</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    @Html.TextBox("txtremarks", null, new { @class = "form-control ", @id = "txtremarks", name = "txtremarks", autocomplete = "on" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" style="margin-right">
                        <label class="form-label"></label>
                        <div class="row gutters-xs">
                            <div class="col">
                                @*<input type="submit" id="Save" name="save" value="Save" class="btn btn-success" />*@

                                <button id="btnSave" class="btn btn-success btn-xs" ; onclick="return Save();">Save</button>
                                <input type="button" name="clear" value="Clear" class="btn btn-default" title="clear" id="clearValue" />
                            </div>
                        </div>


                    </div>
                    <div class="row">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 


<div class=" content-area" id="divSecSummary" style="display:none">
    <div class="page-header">
        <h4 class="page-title">Credit Note Details</h4>
        <div class="ibox-content  text-right">
            <a onclick="getBacks();" class="btn btn-primary btn-success" style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"></i>  </a></li>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-2 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">From Date</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    @Html.TextBox("txtSummaryFrom", null, new { @class = "form-control form_datetime1 ", @id = "txtSummaryFrom", autocomplete = "off", @Value = DateTime.Now.ToString("dd MMM yyyy 00:00") })
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <div class="form-group">
                            <label class="form-label">To Date</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    @Html.TextBox("txtSummaryTo", null, new { @class = "form-control form_datetime1 ", @id = "txtSummaryTo", autocomplete = "off", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-md-2 col-lg-2">
                        <div class="form-group label-floating">
                            <label class="form-label">Search Criteria</label>
                            @Html.DropDownList("ddlSearch", new List<SelectListItem>
                           { new SelectListItem { Text = "--Select--", Value = "0"},
                               new SelectListItem { Text = "Assess No", Value = "1"},
                               new SelectListItem { Text = "Credit Note No", Value = "2"},
                             new SelectListItem { Text = "GST Name<", Value = "3"},
                             }, new { @class = "form-control", autocomplete = "off", @id = "ddlSearch" })
                        </div>
                    </div>
                    <div class="col-md-2 col-lg-2" style="display:none" id="divAssess">
                        <div class="form-group label-floating">
                            <label class="form-label">Search Texto</label>
                            @Html.TextBox("txtAssessno", null, new { @class = "form-control", @id = "txtAssessno", name = "txtAssessno", autocomplete = "off", style = "text-align:right" })
                        </div>
                    </div>


                    <div class="col-md-2 col-lg-3" style="display:none" id="divParty">
                        <div class="form-group label-floating">
                            <label class="form-label">Party Name</label>
                            @Html.DropDownList("ddlGSTName", (IEnumerable<SelectListItem>)ViewBag.GSTName, "ALL", new { @class = "form-control", @id = "ddlGSTName", name = "ddlGSTName", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-lg-2 col-sm-12">
                        <div class="form-group">
                            <label class="form-label" style="visibility:hidden">.</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    <button type="button" class="btn btn-icon btn-primary" name="clearProfile" title="clear" id="btnShowSummary" onclick="Show();">Show</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 col-lg-12">



                        <button class="btn btn-orange" id="btnSearch" title="Export To Excel" type="button"><i class="fa fa-file-excel-o" onclick="GetExcelFileSuccess()"></i></button>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblReceiptSummary"></table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script>
    
    function OpenTariffDetails() {
        debugger;
       var CreditNoteNo = $("#txtCreditNoteNo").val();
        var data1 = { "CreditNoteNo": CreditNoteNo };
        var data = JSON.stringify(data1);
        $.ajax({
            type: 'POST',
            url: '/CreditNote/GetReverseDebitShow',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#txtWorkYear').val(data[0].WorkYear);
                $('#txtPartyName').val(data[0].PartName);
                $('#txtActivity').val(data[0].Activity);
                $('#txtCreditAmount').val(data[0].CreditAmount);
                $('#txtCreditSGSTt').val(data[0].CreditSGSTt);
                $('#txtCreditCGST').val(data[0].CreditCGST);
                $('#txtCreditIGST').val(data[0].CreditIGST);
                $('#txtCreditTotal').val(data[0].CreditTotal);
                $('#txtoldCreditNOte').val(data[0].OldCredit);
                $('#txtstatecode').val(data[0].statecode);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
        setTimeout(function () {
            Binddetails()= true;
        }, 500);
    }
    function Binddetails() {
        var Activity = $('#txtActivity').val()
        var OldCredit = $('#txtoldCreditNOte').val()
        var WorkYear = $('#txtWorkYear').val()
        var data1 = { "Activity": Activity, 'OldCredit': OldCredit, 'WorkYear': WorkYear };
        var data = JSON.stringify(data1);
        $.ajax({
            type: "POST",
            url: "/CreditNote/GatDebitGridNote",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#tblWorkOrderDets').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "bPaginate": false,
                    //"bFilter": false,
                    "paging": false,
                    "order": false,
                    "aaData": data,
                    "columns": [
                        { "data": "Srno" },
                        { "data": "InvoiceNo" },
                        { "data": "WorkYear" },
                        { "data": "accountname" },
                        { "data": "CONTAINERNO" },
                        { "data": "Size" },
                        { "data": "amount" },
                        { "data": "creditamount" },
                        {
                            "data": "PaidAmount",
                            "render": function (data, type, row, meta) {
                                data = '<input type=\"textbox\" name=\"txtPaidAmount' + row.PaidAmount + '\" class=\"form-control\" id=\"txtPaidAmount' + row.Srno + '\" onchange=\" ChkAmtValidate(' + row.Srno + ')\" style=\"width: 100px;text-transform:uppercase\"    value="' + data + '">';
                                return data;
                            }
                        },
                        { "data": "AccountID", "className": "hiderow" },
                        { "data": "JONo", "className": "hiderow" },
                        { "data": "TaxID", "className": "hiderow" },
                        { "data": "ZeroAmount", "className": "hiderow" },
                        { "data": "ZeroAmount", "className": "hiderow" },
                        { "data": "ZeroAmount", "className": "hiderow" },
                        { "data": "ZeroAmount", "className": "hiderow" },
                    ]
                });
            },
            error: function (response) {
                alert(response.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        })
    }

    function ChkAmtValidate(id) {
        var dblNetTotal = 0;
        var dblIGST = 0;
        var dblSGST = 0;
        var dblCGST = 0;
        var SGSTcal1 = 0;
        var CGSTcal1 = 0;
        var IGSTcal1 = 0;
        var Amount5 = 0;
        var table = document.getElementById("tblWorkOrderDets");
        for (var i = 1; i < table.rows.length; i++) {
            if (i == id) {
                row = table.rows[i];
                var Srno = row.cells[0].innerText;

                var amount = row.cells[6].innerText;
                var creditamount = row.cells[7].innerText;
                var PaidAmount = $('#txtPaidAmount' + Srno).val();
                var lblTaxID = row.cells[11].innerText;

                PaidAmount = parseFloat(PaidAmount);
                amount = parseFloat(amount);
                creditamount = parseFloat(creditamount);
                if (Srno == id) {
                    if (id = Srno) {
                        if (PaidAmount > (amount + creditamount)) {
                            alert('Debit amount should not be greater than Credit amount.');
                            $('#txtPaidAmount' + Srno).val(0);
                            $('#txtPaidAmount' + Srno).focus();
                        }
                    }
                    var statecode = $("#txtstatecode").val().trim();

                    var data1 = { "PaidAmount": PaidAmount, "lblTaxID": lblTaxID, "statecode": statecode };
                    var data = JSON.stringify(data1);

                    $.ajax({
                        type: 'POST',
                        url: '/CreditNote/GetTaxIDDebit',
                        data: data,
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (data) {
                            row.cells[12].innerHTML = parseFloat(data[0].txtsgstcredit);;
                            row.cells[13].innerHTML = parseFloat(data[0].txtcgstcredit);;
                            row.cells[14].innerHTML = parseFloat(data[0].txtigstcredit);;
                            row.cells[15].innerHTML = parseFloat(data[0].txtcredittotal);

                            var table1 = document.getElementById("tblWorkOrderDets");
                            var row1;
                            for (var i = 1; i < table1.rows.length; i++) {
                                row1 = table1.rows[i];
                                SRNO1 = row1.cells[0].innerText;
                                Amount5 = $('#txtPaidAmount' + SRNO1).val();

                                SGST1 = row1.cells[12].innerText;
                                CGST1 = row1.cells[13].innerText;
                                IGST1 = row1.cells[14].innerText;

                                dblNetTotal = dblNetTotal + Number(Amount5);
                                IGSTcal1 = IGSTcal1 + Number(IGST1);
                                CGSTcal1 = CGSTcal1 + Number(CGST1);
                                SGSTcal1 = SGSTcal1 + Number(SGST1);

                                $('#txtDebtiAmount').val(dblNetTotal);
                                $('#txtDebtiSGSTt').val(SGSTcal1);
                                $('#txtDebtiCGST').val(CGSTcal1);
                                $('#txtDebtiIGST').val(IGSTcal1);
                                $('#txtDebtiTotal').val(dblNetTotal + SGSTcal1 + CGSTcal1 + + IGSTcal1);
                            }
                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                            $("#tracker-loader").fadeOut("slow");
                        }
                    });
                }
            }
        }
    }

      function Save() {
          
          var DeditNoteNo = $("#txtDebitNoteNo").val();
          var DebitNoteDate = $("#txtDebitNoteDate").val();
          var OldCreditNOte = $("#txtCreditNoteNo").val();
          
          var Category = $("#txtActivity").val();
        var PartyID = $("#txtGSTid").val();
        var GrandTotal = $("#txtGrandTotal").val();
        var remarks = $("#txtremarks").val();
        var statecode = $("#txtstatecode").val();
        
            var SelectedData = new Array();
            var tablearray = new Array();
            var table = document.getElementById("tblWorkOrderDets");
            var row;
            for (var i = 1; i < table.rows.length; i++) {
                row = table.rows[i];

                SRNO = row.cells[0].innerText;
                InvoiceNo = row.cells[1].innerText;

                Workyear = row.cells[2].innerText;
                AccountName = row.cells[3].innerText;
                ContainerNo = row.cells[4].innerText;
                Size = row.cells[5].innerText;
                NetAmount = row.cells[6].innerText;
                CreditedAmount = row.cells[7].innerText;
                CreditAmount = $("#txtPaidAmount" + SRNO + "").val();
                AccountID = row.cells[9].innerText;
                JONo = row.cells[10].innerText;
                TaxID = row.cells[11].innerText;
                if (CreditAmount != 0) {
                    SelectedData.push({
                        'InvoiceNo': InvoiceNo, 'Workyear': Workyear, 'AccountName': AccountName, 'ContainerNo': ContainerNo, 'Size': Size,
                        'NetAmount': NetAmount, 'CreditedAmount': CreditedAmount, 'CreditAmount': CreditAmount, 'AccountID': AccountID, 'JONo': JONo, 'TaxID': TaxID
                    })
                }
                var data1 = {
                    'Debitdata': SelectedData, 'DeditNoteNo': DeditNoteNo, 'OldCreditNOte': OldCreditNOte, 'DebitNoteDate': DebitNoteDate, 'Category': Category, 'PartyID': PartyID, 'GrandTotal': GrandTotal, 'remarks': remarks, 'statecode': statecode
                };
                }
           
        var data = JSON.stringify(data1);

        var r = confirm("Are u sure to save Debit Note?");
        if (r == true) {
            $.ajax({
                url: "/CreditNote/DeditSave",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    //var array = data.split(',');
                    //var b = array[0];
                    //var c = array[1];
                    alert(data);



                    //var r = confirm("Do you want to print ?");
                    //if (r == true) {
                    //    $("#tracker-loader").fadeOut("slow");
                    //    PrintInvoice(c);
                    //}
                   
                          document.location = '@Url.Action("ReverseDebitNote", "CreditNote")';
               






                },
                error: function (error) {
                    let str = error.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                    $("#tracker-loader").fadeOut("slow");
                }
            });
        } else {

            alert("You Pressed Cancel!");
            $("#tracker-loader").fadeOut("slow");
        }
                           
    }
</script>