<div>

    @model IEnumerable<TrackerMVCEntities.BusinessEntities.Trolleytransport>


    
        <div class="page-header">
            <h4 class="page-title">Trolley List</h4>
            <div class="form-group">
                <label class="form-label"></label>
                <div class="row gutters-xs">
                    <div class="col">
                        @*<button type="button" class="btn btn-icon btn-orange" name="gst" title="GST" id="gst"><i class="fa fa-google"></i></button>*@
                        @*<button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="ViewSummaryTrolley();"><i class="fa fa-file-text"></i></button>*@
                        <a onclick="window.location = '@Url.Action("TrolleyTransport", "TrolleyTransport")' " class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-plus" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Add Trolley"></i> </a>


                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-12 col-lg-12">

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example2" style="width:100%">
                                        <thead>
                                            <tr>

                                                <th>Trolley No.</th>
                                                <th>Trolley Size</th>
                                                <th>Trolley Weight</th>
                                                <th>Installed Tyres</th>
                                                <th>XL Type</th>
                                                <th>Trailer Type</th>
                                                <th>Horse Tyres</th>
                                                <th>Horse NO</th>
                                                <th>Status</th>
                                                <th>GPS Status</th>
                                                <th>Added By</th>
                                            </tr>
                                        </thead>
                                        <tbody style="box-sizing :border-box;">
                                            @foreach (var d in Model)
                                            {
                                            <tr>
                                                <td>@Html.DisplayFor(m => d.TrolleyNumber)</td>
                                                <td>@Html.DisplayFor(m => d.size)</td>
                                                <td>@Html.DisplayFor(m => d.Weight)</td>
                                                <td>@Html.DisplayFor(m => d.InstalledTyres)</td>
                                                <td>@Html.DisplayFor(m => d.XLType)</td>
                                                <td>@Html.DisplayFor(m => d.TrailerType)</td>
                                                <td>@Html.DisplayFor(m => d.horstyres)</td>
                                                <td>@Html.DisplayFor(m => d.horseno)</td>
                                                <td>@Html.DisplayFor(m => d.Status)</td>
                                                <td>@Html.DisplayFor(m => d.GPSst)</td>
                                                <td>@Html.DisplayFor(m => d.AddedBy)</td>
                                            </tr>


                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#example2').DataTable({
                "bLengthChange": false,
                "bInfo": false,
                "bPaginate": false,
                //"bFilter": false,
                "paging": false,
                "dom": 'Bfrtip',
                "buttons": [{
                    "extend": 'excel',
                    "title": 'Trolley Master',
                    "filename": 'Trolley_List'

                }
                ]
            });



        });
    </script>


