<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Annexture for Custom</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
            font-family: 'Calibri';
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        table, th, td {
            border: 1px solid black !important;
            border-collapse: collapse !important;
            padding: 5px 2px 2px 5px !important;
        }

        .headingh3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }


        h5, h4 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }

        h3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .buttomMargin15 {
            margin-bottom: -15px;
            padding-bottom: 0px;
        }

        .buttomMargin5 {
            margin-bottom: -5px;
            padding-bottom: 0px;
        }

        .buttomMargin10 {
            margin-bottom: -10px;
            padding-bottom: 0px;
        }

        .buttomMargin25 {
            margin-bottom: -25px;
            padding-bottom: 0px;
        }

        .buttomMargin30 {
            margin-bottom: -30px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        .inBlock {
            display: inline-block;
            width: 30%;
            /*width: 100px;
            height: 100px;
            padding: 0px;*/
            /*border: 0px solid blue;*/
            /*background-color: yellow;*/
        }

        .inBlock2 {
            display: inline-block;
            width: 40%;
            /*width: 100px;
            height: 100px;
            padding: 0px;*/
            /*border: 0px solid blue;*/
            /*background-color: yellow;*/
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <div style="text-align:left">
                Name of M/s Navkar Corporation Ltd-III
            </div>
            <div class="row buttomMargin15" style="text-align:left">
                <h4>File No: S/JNCH D NAVKAR-II ________/ 2019 Disp (A) dated </h4>
            </div>
            <div class=" buttomMargin5">
                @foreach (var row in ViewBag.ContainerDetails)
                {
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td style="width:10%;">I</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Name & Address of Consignor/Consignee
                            </td>
                            <td style="width:60%;">

                                @row["Consignee"]
                                </br>
                                @row["Con_IGMAddress"]

                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">II</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                IGM / Item No. / Date:
                            </td>
                            <td style="width:60%;">
                                @row["IGMNo"]/@row["ItemNo"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DT @row["IGM_Date"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">III</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Bill of lading no. & Date:
                            </td>
                            <td style="width:60%;">
                                @row["IGM_BLNo"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DT @row["IGM_BLDate"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">IV</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Container No.(S) :
                            </td>
                            <td style="width:60%;">
                                @row["ContainerNo"] &nbsp;&nbsp;&nbsp; @row["Size20"]&nbsp; @row["Size40"]&nbsp; @row["Size45"] FCL
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">V</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Date of arrival of goods:
                            </td>
                            <td style="width:60%;">
                                @row["ArrivalDate"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">VI</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Description of goods
                            </td>
                            <td style="width:60%;">
                                @row["IGM_GoodsDesc"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">VII</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Weight/Quantity/Packages
                            </td>
                            <td style="width:60%;">
                                WT:&nbsp; @row["Weight"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Pkg @row["Package"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">VIII</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Date of notice to the importer by CFS
                            </td>
                            <td style="width:60%;">
                                First Notice&nbsp; @row["FirstNoticeDate"] &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Final Notice&nbsp; @row["SecondNoticeDate"]
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">IX</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Reply of importer if any
                            </td>
                            <td style="width:60%;">
                                NO REPLY
                            </td>
                        </tr>
                        <tr>
                            <td style="width:10%;">X</td>
                            <td style="width:30%;font-family:'Bookman Old Style'font-size: 10pt;">
                                Reply of importer to the notice, if any
                            </td>
                            <td style="width:60%;">
                                NO REPLY
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="row" style="text-align:left;">
                <p style="padding:0px;margin-top:4px;font-weight:500" font-family:'Bookman Old Style' font-size: 10pt;>
                    In view of details furnished by CFS as above, goods may be examined. Please suggest CTH as per para 3 of S.O
                    64/2010 and follow standard CCR. All Dock officers are here by requested to give report in the format enclosed
                </p>

            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div class="inBlock buttomMargin15" style="text-align:left;font-weight:700;">
                <h5> Appraiser (Disposal)
            </div>
            <div class="inBlock buttomMargin15" style="text-align:center;font-weight:700;">
                <h5> Dy. Commissioner (Disposal)
            </div>
            <div class="inBlock buttomMargin15" style="text-align:right;font-weight:700;">
                <h5> Dy. Commissioner (Docks)
            </div>
            <div class="row buttomMargin15" style="text-align:left;font-weight:700;padding:0px;">
                <h5> 2. Docks Examination
            </div>
            <div style="width:100%;height:150px;border:solid 1px black;">
                &nbsp;
            </div>
            <div style="width:100%;height:40px;border:solid 1px black;text-align:left;font-weight:700;position=relative;padding: 5px">
                CTH:
            </div><br />
            <div class="inBlock" style="text-align:left;font-weight:700;">
                <h5> Examiner (Docks)
            </div>
            <div class="inBlock" style="text-align:center;font-weight:700;">
                <h5> Appraiser (Docks)
            </div>
            <div class="inBlock" style="text-align:right;font-weight:700;">
                <h5> Dy. Commissioner (Docks)
            </div>
            <div class="row buttomMargin15" style="text-align:left;font-weight:700; margin-top:0px;">
                <h5 style="margin-top:0px;"> 3. NOC FROM GROUP:
            </div>
            <table cellpadding="0" width="100%" cellspacing="0" border="1">
                <tr>
                    <td style="width:10%">I</td>
                    <td style="width:30%">
                        Details of B/E filed if any:
                    </td>
                    <td style="width:60%">
                        <p>
                            B/E No._________________/Date.__________<br>
                            Declared AV.Rs.___________<br>
                            Duty R.s_______________
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="width:10%">II</td>
                    <td style="width:30%">
                        Details of provisions of FTP/Other                Rules applicable if any
                    </td>
                    <td style="width:60%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%">III</td>
                    <td style="width:30%">
                        Compulsory Compliance requirement (CCR) if any to be complied with.
                    </td>
                    <td style="width:60%">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%">IV</td>
                    <td style="width:30%">
                        Whether NOC Granted :(YES/NO)
                    </td>
                    <td style="width:60%">
                        &nbsp;
                    </td>
                </tr>
            </table>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div class="inBlock2" style="text-align:left;font-weight:700;">
                <h5> Appraiser(Group No._______________)
            </div>
            <div class="inBlock2" style="text-align:center;font-weight:700;">
                <h5> Appraiser(Group No._______________)
            </div>
            <div style="height:20px;">
                &nbsp;
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
    <div style="page-break-before:always">
        <div class="row">
            <div style="height:100px">
                &nbsp;
            </div>
            <table cellpadding="0" cellspacing="0" border="1">
                <tr>
                    <td style="width:10%;">1</td>
                    <td style="width:30%;">
                        Name of the CFS
                    </td>
                    <td style="width:60%;" text-align="center;">

                        M/s Navkar Corporation LTD-II

                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">2</td>
                    <td style="width:30%;">
                        M/s Navkar Corporation LTD-II
                    </td>
                    <td style="width:60%;">
                        S/JNCH-D-NAVKAR-II                         / 19-20  DT:-  21/09/2019
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">3</td>
                    <td style="width:30%;">
                        Pending Since
                    </td>
                    <td style="width:60%;">
                        @row["ArrivalDate"]
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">4</td>
                    <td style="width:30%;">
                        Mark & Nos.
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">5</td>
                    <td style="width:30%;">
                        No. packages / (LCL Conatiners) (Containers Particulars) in case of FCL. Consignment as
                    </td>
                    <td style="width:60%;">
                        @row["Package"]
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">6</td>
                    <td style="width:30%;">
                        Quantity declared
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">7</td>
                    <td style="width:30%;">
                        Gross weight
                    </td>
                    <td style="width:60%;">
                        @row["Weight"]
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">8</td>
                    <td style="width:30%;">
                        Net weight
                    </td>
                    <td style="width:60%;">
                        @row["Weight"]
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">9</td>
                    <td style="width:30%;">
                        Quantity in each package
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">10</td>
                    <td style="width:30%;">
                        Total Quantity & weight available on the day of inspection
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">11</td>
                    <td style="width:30%;">
                        (a) Detailed description of goods
                    </td>
                    <td style="width:60%;">
                        @row["IGM_GoodsDesc"]
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;"></td>
                    <td style="width:30%;">
                        (b) Brand / Country of Origin
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;"></td>
                    <td style="width:30%;">
                        (C) Specification of Goods
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">12</td>
                    <td style="width:30%;">
                        Photograph has to be enclosed
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
                <tr>
                    <td style="width:10%;">13</td>
                    <td style="width:30%;">
                        CTH
                    </td>
                    <td style="width:60%;">
                        &nbsp;
                    </td>
                </tr>
            </table>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            Signature
        </div>
    </div>
</body>
</html>