<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        CFSMAG :: Auction IGM Print
    </title>
    <style type="text/css">

    </style>
</head>
<body>
    <div>
        <table width="100%">
            <tbody>
                <tr>
                    <td align="left">
                        <span id="lblCustomerName" style="width: 250px; font-family: Verdana; font-size: 10pt; display: inline-block;" align="center">@ViewBag.CustomerName</span>
                        <span id="lblCutomerAddress" style="font-family: Verdana; font-size: 10pt;" align="center">
                            @ViewBag.CustomerAddress
                        </span>
                    </td>
                    <td width="100%" class="style44" style="text-align: center;">
                        <h4>
                            <b>IMPORT MANIFEST</b>
                        </h4>
                        <h6>
                            <b><u>(FORM III)-CARGO DECLARATION </u></b>
                        </h6>
                        <h8>
                            <b>(See Regulation 3 &amp; 4)</b>
                        </h8>
                    </td>
                    <td width="250">
                        <span style="width: 250px; font-family: Verdana; font-size: 10pt; display: inline-block;" align="center">&nbsp;</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr style="width: 100%;">
    </div>
    <table>
        <tbody>
            <tr>
                <td class="style39" cellspacing="0" cellpadding="0">
                    <span id="lblNameOfshipping1" style="font-family: Verdana; font-size: 10pt;" align="center">Name of the shipping Line, agent, etc:</span>
                </td>
                <td>
                    <span id="lblNameOfshipping" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.CustomerName</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr style="width: 100%;">
    <table width="100%">
        <tbody>
            <tr>
                <td>
                    <span id="lblNameofShip1" style="font-family: Verdana; font-size: 10pt;" align="center">1.Name of Ship:</span>
                </td>
                <td>
                    <span id="lblNameofShip" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.NameofShip</span>
                </td>
                <td>
                    <span id="lblVoyage1" style="font-family: Verdana; font-size: 10pt;" align="center">Voyage:</span>
                </td>
                <td>
                    <span id="lblVoyage" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.Voyage</span>
                </td>
                <td>
                    <span id="lblPort" style="font-family: Verdana; font-size: 10pt;" align="center">2.Port where the report is made:</span>
                </td>
                <td>
                    <span id="lblPortNameWhereReportMade" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.PortName</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr style="width: 100%; margin-left: 0px;">
    <table width="100%" cellspacing="4">
        <tbody>
            <tr>
                <td>
                    <span id="Label11" style="font-family: Verdana; font-size: 10pt;" align="center">3.Nationality of ship:</span>
                </td>
                <td>
                    <span id="lblNationalityofship" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.Nationalityofship</span>
                </td>
                <td width="20"></td>
                <td>
                    <span id="Label12" style="font-family: Verdana; font-size: 10pt;" align="center">4.Name of the master:</span>
                </td>
                <td>
                    <span id="lblNameofthemaster" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.Nameofthemaster</span>
                </td>
                <td>
                    <span id="Label13" style="font-family: Verdana; font-size: 10pt;" align="center">5.Port of Loading:</span>
                </td>
                <td>
                    <span id="lblPortofLoading" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.PortofLoading</span>
                </td>
            </tr>
        </tbody>
    </table>
    <hr style="width: 100%;">
    <table style="width: 100%;">
        <tbody>
            <tr>
                <td class="style42">
                    <span id="Label14" style="width: 39px; font-family: Verdana; font-size: 10pt; display: inline-block;" align="center">6.Line  No.</span>
                </td>
                <td>
                    <span id="Label15" style="font-family: Verdana; font-size: 10pt;" align="center">7.Bill of Lading No.</span>
                </td>
                <td class="style40">
                    <span id="Label16" style="font-family: Verdana; font-size: 10pt;" align="center">8.Number and kind of packages</span>
                </td>
                <td>
                    <span id="Label17" style="font-family: Verdana; font-size: 10pt;" align="center">9.Marks and Nos.</span>
                </td>
                <td>
                    <span id="Label18" style="font-family: Verdana; font-size: 10pt;" align="center">10.Gross weight</span>
                </td>
                <td>
                    <span id="Label19" style="font-family: Verdana; font-size: 10pt;" align="center">11.Description of goods</span>
                </td>
                <td>
                    <span id="Label20" style="font-family: Verdana; font-size: 10pt;" align="center">12.Name of consignee/Importer,if different</span>
                </td>
                <td class="style41">
                    <span id="Label21" style="font-family: Verdana; font-size: 10pt;" align="center">13.Date of Presantaion</span>
                </td>
                <td>
                    <span id="Label22" style="font-family: Verdana; font-size: 10pt;" align="center">14.Name of Custom House Agent</span>
                </td>
                <td>
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <span id="Label23" style="font-family: Verdana; font-size: 10pt;" align="center">15.Rotation No.</span>
                                </td>
                                <td></td>
                                <td>
                                    <span id="Label1" style="font-family: Verdana; font-size: 10pt;" align="center">Year</span>
                                </td>
                                <td>
                                    <span id="Label2" style="font-family: Verdana; font-size: 10pt;" align="center">Page</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <hr style="width: 100%;">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span id="Label3" style="font-family: Verdana; font-size: 10pt;" align="center">Cash/Deposit W.R. No.</span>
                                </td>
                                <td>
                                    <span id="Label4" style="font-family: Verdana; font-size: 10pt;" align="center">No.of packages on which duty collected or warehoused</span>
                                </td>
                                <td>
                                    <span id="Label5" style="font-family: Verdana; font-size: 10pt;" align="center">(to be filled by port trust)No of packages discharged</span>
                                </td>
                                <td>
                                    <span id="Label6" style="font-family: Verdana; font-size: 10pt;" align="center">Rmks</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td colspan="11">
                    <hr style="width: 100%;">
                </td>
            </tr>
            <tr>
                <td>
                    <span id="lblLineNo" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.ItemNo</span>
                </td>
                <td>
                    <span id="lblBillOfLadingNo" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.BillofLadingNo</span>
                </td>
                <td>
                    <span id="lblNoAndKindofPackage" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.NoandKindofPackage</span>
                </td>
                <td>
                    <span id="lblMarkAndNos" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.MarksAndNo</span>
                </td>
                <td>
                    <span id="lblGrossWeight" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.GrossWeight</span>
                </td>
                <td>
                    <span id="lblDESCofGoods" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.DescofGoodes</span>
                </td>
                <td>
                    <span id="lblNameOfConsignee" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.NameofConsignee</span>
                </td>
                <td>
                    <span id="lblDateofPresentation" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.DateofPresentation</span>
                </td>
                <td>
                    <span id="lblNameOfCHA" style="font-family: Verdana; font-size: 10pt;" align="center">@ViewBag.NameOfCHA</span>
                </td>

            </tr>
        </tbody>
    </table>
    <table align="right">
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    <hr style="width: 100%;">
    <table>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</body>
</html>