<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Import Receipt Print</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }
        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border:1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
            height: 70px;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
            height: 70px;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 12pt;
            font-family: 'auto';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 14px;
            font-family: auto;
            background-color: #ede5e5;
        }

        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'auto';
        }

        h5, h4 {
            font-size: 10pt;
            font-family: 'auto';
        }

        h3 {
            font-size: 10pt;
            font-family: 'auto';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }
        .buttomMargin15 {
            margin-bottom: -15px;
            padding-bottom: 0px;
        }
        .buttomMargin10 {
            margin-bottom: -10px;
            padding-bottom: 0px;
        }
        .buttomMargin25 {
            margin-bottom: -25px;
            padding-bottom: 0px;
        }
        .buttomMargin30 {
            margin-bottom: -30px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body style="margin-left:10%">
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <div class="box">
                <div class="boxHeaderL">
                    @*<img height="70" width="200" src="~/images/NavkarLogo.jpg" />*@&nbsp;
                </div>
                <div class="boxHeaderR">
                    @*<h3 class="buttomMargin" style="font-size:12pt;">@ViewBag.CompanyName</h3>*@&nbsp;
                    <h5>@*@ViewBag.CompanyAddress<br />@ViewBag.CompanyAddress2*@</h5>&nbsp;
                </div>
            </div>
            <div style="text-align:right">
                @*<h5 style="font-weight:700;text-decoration:underline;">Prior Notice</h5>*@&nbsp;
            </div>
            @*<div class="buttomMargin15"><hr /></div>*@
            <div class="row buttomMargin10">
                <h5 class="buttomMargin15" style="font-weight:700;text-decoration:underline;">Prior Notice</h5>
                <h5 style="font-weight:700;text-decoration:underline">BY REGISTERED A.D POST</h5>
            </div>
            <div class="boxHeaderL" style="text-align:left">
                <h5 style="font-weight:500;"><b>REF No:</b> @ViewBag.AuctionID</h5>
            </div>
            <div class="boxHeaderR" style="text-align:right">
                <h5 style="font-weight:500;"><b>Date:</b> @ViewBag.AuctionDate</h5>
            </div>
            <div class="row " style="text-align:left">
                <h4 class="buttomMargin15" style="font-weight:500;">To: @ViewBag.CustomerName</h4>
                <h5 class="buttomMargin15" style="font-weight:500;">@ViewBag.CustomerAddress</h5>
                <h4 style="font-weight:700;">Gentleman,</h4>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:20%;text-align:left">BL No :</th>
                                <td style="width:80%;text-align:left">@ViewBag.BLNo</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">BL Date :</th>
                                <td style="width:80%;text-align:left">@ViewBag.BLDate</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">Vessel Name :</th>
                                <td style="width:80%;text-align:left">@ViewBag.VesselName</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">Voyage No :</th>
                                <td style="width:80%;text-align:left">@ViewBag.VoyageName</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">Shipping Line :</th>
                                <td style="width:80%;text-align:left">@ViewBag.ShippingLine</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">Commodity Desc. :</th>
                                <td style="width:80%;text-align:left">@ViewBag.Description</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:left">
                &nbsp;
            </div>
            <div class="table-responsive">
                <table class="tblBox">
                    <thead>
                        <tr>
                            <th style="width:10%">Sr No.</th>
                            <th>Container No</th>
                            <th>SizeType</th>
                            <th>FCL/LCL</th>
                            <th>Arrival Date</th>
                            <th>IGM No</th>
                            <th>Item No</th>
                            <th>Package</th>
                            <th>Weight</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.ContainerDetailsList)
                        {
                            <tr>
                                <td style="width:5px;text-align:center">@dr["SR. No"]</td>
                                <td style="width:100px;text-align:center">@dr["ContainerNo"]</td>
                                <td style="width:80px;text-align:center">@dr["SizeType"]</td>
                                <td style="width:80px;text-align:center">@dr["FCL/LCL"]</td>
                                <td style="width:100px;text-align:right">@dr["ArrivalDate"]</td>
                                <td style="width:100px;text-align:right">@dr["IGMNo"]</td>
                                <td style="width:80px;text-align:right">@dr["ItemNo"]</td>
                                <td style="width:100px;text-align:right">@dr["Pkg"]</td>
                                <td style="width:100px;text-align:right">@dr["Wt"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                &nbsp;
            </div>
            <div style="border:0px solid gray;">
                <div style="text-align:left">
                    <h5 style="font-weight:500" class="buttomMargin15">
                        1. The subject consignment refers.The above cargo had arrived at the CFS <b>@ViewBag.CompanyName</b>. The Cargo is laying at the CFS <b>@ViewBag.CompanyName</b>.
                        as un-cleared/un-claimed cargo. You are therefore requested to clear the above consignment within 10 days failing which this office will be competed to initiate
                        'Auction Process' in terms of section-48 of the Customs Act,1962.
                    </h5>
                    <h5 style="font-weight:500">
                        2. It may also be noted that in case of perishable cargo the same would be auctioned at the earliest or be destroyed,if its validity period expires or cargo
                        condition deteriorates.
                    </h5>
                </div>
                <div style="text-align:right">
                    Your Faithfully,<br />
                    <p class="buttomMargin15"><h6 style="font-weight:400"> For, <b>@ViewBag.CompanyName</b></h6></p><br />
                    <h5 class="buttomMargin30">Authorised Signatory</h5><br />
                    <h5>Auction Department/CFS</h5>
                </div>
                <div style="text-align:left" class="buttomMargin15">
                    <h4 class="buttomMargin15">Copy To:</h4>
                    <h5 style="font-weight:500">
                        1. Asst. Comissioner of customs,Disposal Section,JNCH,Nava-Sheva.<br />
                        2. @ViewBag.ShippingLine (The shipping line for information-in case of change of consignee/high seas sale,Full details in this regard may be <br />
                        forwarded to the CFS with relevent document,B/L copy etc. under intimation to AC/GR. I & AC/Disposal).
                    </h5>
                </div>
                <div>
                    <h5 style="text-align:left;font-weight:400" class="buttomMargin"> For Further queries contact below E-Mail Id:<br /></h5>
                    <h5 style="text-align:left;font-weight:400" class="buttomMargin">1. teamleader@navkarcfs.com<br /></h5>
                    <h5 style="text-align:left;font-weight:400" class="buttomMargin">2. nana@navkarcfs.com<br /></h5>
                    <h5 style="text-align:left;font-weight:400" class="buttomMargin">3. auctions@navkarcfs.com</h5>
                </div>
                <div>
                    &nbsp;
                </div>
                <div style="text-align:left;font-weight:300">
                    @*<h5 style="text-align:left;font-weight:300" class="buttomMargin15">Regd. Office :- @ViewBag.RegdOffice</h5>*@ &nbsp;
                    @*<h5 style="text-align:left;font-weight:300" class="buttomMargin15">Corporate Office :- @ViewBag.CorporateOffice</h5>*@ &nbsp;
                    @*<h5 style="text-align:left;font-weight:300">Admin Office :- @ViewBag.CompanyAddress</h5>*@ &nbsp;
                </div>
            </div>
        </div>
    </div>
</body>
</html>