<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NOC Letter</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }
        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border:1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

    .headingh3 { font-size: 12pt; font-family: 'verdana(batlic)'; padding: 2px; text-decoration: underline; }

        th {
            border: 1px solid black;
            font-size: 12px;
            font-family: verdana(batlic);
            background-color: #ede5e5;
        }

    td { border: 1px solid black; font-size: 10px; font-family: 'verdana(batlic)'; }

    h5, h4 { font-size: 12pt; font-family: 'verdana(batlic)'; }

    h3 { font-size: 12pt; font-family: 'verdana(batlic)'; }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }
        .buttomMargin15 {
            margin-bottom: -15px;
            padding-bottom: 0px;
        }
        .buttomMargin10 {
            margin-bottom: -10px;
            padding-bottom: 0px;
        }
        .buttomMargin25 {
            margin-bottom: -25px;
            padding-bottom: 0px;
        }
        .buttomMargin30 {
            margin-bottom: -30px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <div class="box">
                <div class="boxHeaderL">
                    @*<img height="70" width="200" src="~/images/NavkarLogo.jpg" />*@&nbsp;
                </div>
                <div class="boxHeaderR">
                    @*<h3 class="buttomMargin" style="font-size:12pt;">@ViewBag.CompanyName</h3>*@&nbsp;
                    <h5>@*@ViewBag.CompanyAddress<br />@ViewBag.CompanyAddress2*@</h5>&nbsp;
                </div>
            </div>
            <div style="text-align:right">
                @*<h5 style="font-weight:700;text-decoration:underline;">Prior Notice</h5>*@&nbsp;
            </div>
            <div class="boxHeaderL" style="text-align:left">
                <h5 style="font-weight:100;">&nbsp;</h5>
            </div>
            <div class="boxHeaderR" style="text-align:right">
                <h5 style="font-weight:100;">Date: @ViewBag.AuctionDate</h5>
            </div>
            <div class="row " style="text-align:left">
                <h4 class="buttomMargin15" style="font-weight:100;">
                    To: <br />
                    The Dy./Asst. Commissioner of Customs<br />
                    Group__________________<br />
                    JNCH<br />
                    Nhava Sheva<br />
                    Navi Mumbai 400707
                </h4>
            </div>
            <div>
                &nbsp;
            </div>
            <div style="text-align:left">
                <h4 class="buttomMargin15" style="font-weight:100;">Subject: Confirmation of no hold by any investigation agency.</h4>
                <h4 class="buttomMargin15" style="font-weight:100;">Ref:IGM/ITEM No  @ViewBag.IGMNo/@ViewBag.ItemNo  Dated @ViewBag.IGMDate</h4>
            </div>
            <div>
                &nbsp;
            </div>
            <div  style="text-align:left">
                <h5 style="font-weight:100;">
                    This is with reference to above subject; we would like to inform your good office that,
                    Container no. @ViewBag.ContainerNo @ViewBag.Size20 @ViewBag.Size40 @ViewBag.Size45 FCL are arrived at our CFS on dated
                    @ViewBag.GateInDate & these are uncleared/unclaimed container & as per our record
                    we have not received any hold letter by any investigation agencies till date.
                </h5>
            </div>
            <div  style="text-align:left">
                <h5 style="font-weight:100;">
                    So, as per Section 48 of customs act 1962 we are arranging the same consignment for auction.
                </h5>
            </div>
            <div>
                &nbsp;
            </div>
            <div  style="text-align:left">
                <h3>
                    Thanking You</br>
                    Yours Faithfully<br />
                    For Navkar Corporation ltd-II<br /><br />
                    Authorised Signatory.
                </h3>
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</body>
</html>