
@{
    ViewBag.Title = "BookingContainerAllocation";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area overflow-hidden" id="AddItems">
    <div class="page-header">
        <h4 class="page-title">
            Booking Container Allocation
        </h4>

    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">


                        <div class="col-lg-2 col-sm-12" id="divTrailerno">
                            <div class="form-group">
                                <label class="form-label mandatory">Booking No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtBookingNo", null, new { @class = "form-control", @id = "txtBookingNo", name = "txtBookingNo", autocomplete = "off", placeholder = "Booking No.", @maxlength = 100, @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Container No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtContainerNo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "off", placeholder = "Container No.", @maxlength = 100, @readonly = true })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-1">
                            <div class="form-group label-floating">
                                <label class="form-label"> Size </label>
                                @Html.TextBox("txtContainerSize", null, new { @class = "form-control", @id = "txtContainerSize", name = "txtContainerSize", autocomplete = "off", placeholder = "Size", @maxlength = 100, @readonly = true })

                            </div>
                        </div>
                        <div class="col-md-4 col-lg-2">
                            <div class="form-group label-floating">
                                <label class="form-label"> Type </label>
                                @Html.TextBox("txtContainerType", null, new { @class = "form-control", @id = "txtContainerType", name = "txtContainerType", autocomplete = "off", placeholder = "Type", @maxlength = 100, @readonly = true })

                            </div>
                        </div>
                        <div class="col-md-3 col-lg-4">
                            <div class="form-group label-floating">
                                <label class="form-label"> Yard </label>
                                @* @Html.DropDownList("ddlKalmar", (IEnumerable<SelectListItem>)ViewBag.Kalmar, "--Select--", new { @class = "form-control", @id = "ddlKalmar", name = "ddlKalmar", autocomplete = "off" })*@
                                <select id="ddlYard" class="form-control">
                                    <option value="">--Select--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-primary  " type="button" id="btnUpdate" onclick="UpdateContainer()" name="Add">Update</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div id="showItems">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="ContainerList" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th style="width:10px"></th>
                                                <th>Booking No.</th>
                                                <th>Container No</th>
                                                <th>Size</th>
                                                <th>Type</th>
                                                <th>Yard</th>

                                            </tr>
                                        </thead>
                                        <tbody style="box-sizing :border-box;">
                                            @*@foreach (var d in Model)
                                                {*@
                                            <tr>
                                                <td><a class="btn btn-sm btn-success" href="#" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-edit"></i> </a></td>

                                                <td>12356</td>
                                                <td>GCXU2117663</td>
                                                <td>20</td>
                                                <td>GEN</td>
                                                <td>TEST</td>

                                            </tr>


                                            @*}*@

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Show the table after click of save button  -->
            <!--End of save button-->
        </div>
        <!-- table-wrapper -->
    </div>
    <!-- section-wrapper -->
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ContainerList').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
            "aoColumnDefs": [
                     {
                         'bSortable': false,
                         'aTargets': [0]
                     }
        ]
        });

    });
</script>

