@model TrackerMVCEntities.BusinessEntities.FuelEntities



    <div id="divshow">
        <div class=" content-area">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        @*<div class="col-lg-3 col-sm-12" style="display:none">
                                <div class="form-group">
                                    <label class="form-label mandatory">Lorry No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtLorryNo", null, new { @class = "form-control", @readonly = true, @id = "txtLorryNo", name = "txtLorryNo", autocomplete = "off", placeholder = "Lorry No", @Value = ViewBag.LorryNo })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Container No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtContainerno", null, new { @class = "form-control", @readonly = true, @id = "txtContainerno", name = "txtContainerno", autocomplete = "off", placeholder = "Container No", @maxlength = 11, @Value = ViewBag.ContainerNo })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Vehicle No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtVehicleno", null, new { @class = "form-control", @readonly = true, @id = "txtVehicleno", name = "txtVehicleno", autocomplete = "off", placeholder = "Vehicle No", @maxlength = 11, @Value = ViewBag.VehicleNo })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">From Location</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtFromLocation", null, new { @class = "form-control", @readonly = true, @id = "txtFromLocation", name = "txtFromLocation", autocomplete = "off", placeholder = "To Location", @Value = ViewBag.FromLocation })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">To Location</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtToLocation", null, new { @class = "form-control", @readonly = true, @id = "txtToLocation", name = "txtToLocation", autocomplete = "off", placeholder = "From Location", @Value = ViewBag.ToLocation })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Close Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*@Html.EditorFor(model => model.FactoryReportingTime, new { htmlAttributes = new { @class = "form-control form_datetime1", @id = "FactoryRepDate", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") } })*@

                                        @Html.TextBox("FactoryRepDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Factory In Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.FactoryInTime, new { htmlAttributes = new { @class = "form-control form_datetime1", @id = "FactoryInDate", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") } })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Factory Out Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.EditorFor(model => model.FactoryOutTime, new { htmlAttributes = new { @class = "form-control form_datetime1", @id = "FactoryOutDate", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") } })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-9 col-sm-12">
                            <div class="form-group label-floating">
                                <label class="form-label">Closed Remarks</label>
                                @Html.TextArea("txtCloseRemarks", null, new { @class = "form-control", @id = "txtCloseRemarks", name = "txtCloseRemarks", autocomplete = "off", rows = "2", @maxlength = 150 })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">


                    <div class="row">
                        <div class="col-lg-8 col-sm-12">
                            <div class="table-responsive">
                                <table id="example3" class="table table-bordered table-hover tbl-cart text-nowrap" style="width:100%">
                                    <thead style="display:none">
                                        <tr>

                                            <th class="wd-10p sorting">Document Type</th>

                                        </tr>
                                    </thead>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12">
                <div class="form-group" style="padding-top:25px">
                    <div class="row gutters-xs">
                        <div class="col">
                            @*<input type="Button" id="btnImport" value="Import" class="btn btn-primary" />*@
                            <button class="btn btn-success" id="btnSave" type="button" onclick="SaveClosing();">Save</button>
                            <button class="btn btn-default" id="btnClear" type="button" onclick="OnCLear();">Clear</button>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

