

<div>
    <div class="page-header">
        <h4 class="page-title">Fuel Slip</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="btn btn-primary btn-success" onclick="window.location = '@Url.Action("FuelSlip", "LoadingPlan")' " style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-placement="bottom" title="Back"></i>  </a></li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            <label id="lblContainerCount" > @ViewBag.containerCount </label>&nbsp;|&nbsp;<label id="lblType" > @ViewBag.Type </label>&nbsp;|&nbsp;<label id="lblActivity" > @ViewBag.Activity </label>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            Trailer No.:&nbsp;<label id="lblTrailerNo"> @ViewBag.TrailerNo </label>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            Passing:&nbsp;<label id="lblPassing"> @ViewBag.Passing </label>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            Driver:&nbsp;<label id="lblDriver"> @ViewBag.driver </label>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="form-group">
                                            Transporter:&nbsp;<label id="lblTransporter">@ViewBag.Transportor </label>

                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            From:&nbsp;<label id="lblTrailerNo"> @ViewBag.From </label>

                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            To:&nbsp;<label id="lblPassing"> @ViewBag.To </label>

                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label mandatory"> Reading From</label>
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    @Html.TextBox("txtReadingFrom", null, new { @class = "form-control", @id = "txtReadingFrom", autocomplete = "off" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-sm-12">
                                        <div class="form-group">
                                            <label class="form-label mandatory"> Reading To</label>
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    @Html.TextBox("txtReadingTo", null, new { @class = "form-control", @id = "txtReadingTo", autocomplete = "off" })

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                   
                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label "> Fuel</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("txtFuel", (String)ViewBag.fuel, new { @class = "form-control", @id = "txtFuel", autocomplete = "off" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory"> Amount 1 (Cash)</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("txtAmount1", (String)ViewBag.amount1, new { @class = "form-control", @id = "txtAmount1", autocomplete = "off" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory"> Amount 2 (Bank)</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("txtAmount2", (String)ViewBag.amount2, new { @class = "form-control", @id = "txtAmount2", autocomplete = "off" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-3 col-sm-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory"> Adjust Fuel</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("txtAdjustFuel", null, new { @class = "form-control", @id = "txtAdjustFuel", autocomplete = "off" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                <div class="card-footer text-left">
                                    <div class="form-group">
                                        <label class="form-label"></label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                <input type="submit" id="btnSave" name="saveProfile" value="Save" class="btn btn-success" />
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>                                                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>

