@model TrackerMVCEntities.BusinessEntities.FuelEntities

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fuel Slip Print</title>
</head>
<body>
    <div style="align-content:center">
        <label style="margin-left:100px;font-family:'Segoe UI'">
            <b> Port/Yard: Navkar</b>
        </label><br />

        <label style="margin-left:100px;font-family:'Segoe UI'"><b>@ViewBag.InOut Voucher Slip</b></label>
    </div><br />
    <div class="row">
        <label style="font-family:'Segoe UI'">
            @*Voucher No.:<b> @ViewBag.Shrtcode/@ViewBag.SlipNo/@DateTime.Now.AddYears(1).ToString("yy")</b>*@
            Voucher No.:<b> @ViewBag.VaucherNo</b>

        </label><br />
        <label style="font-family:'Segoe UI'">
            @*Voucher No.:<b> @ViewBag.Shrtcode/@ViewBag.SlipNo/@DateTime.Now.AddYears(1).ToString("yy")</b>*@
            DVR Code:<b> @ViewBag.driverID</b>

        </label><br />
        <label style="font-family:'Segoe UI'">Date: &nbsp;&nbsp;@ViewBag.VoucherDate</label>

    </div>
    <table class="table" width="50%">
        <thead>
            <tr>
                <th align="left">Transaction </th>
                <th align="left">@ViewBag.InOut Container No/Wt(Mt.)  </th>

            </tr>
        </thead>
        <tbody style="box-sizing :border-box;">
            <tr>
                <td height="100" align="justify" style="vertical-align: top;">@ViewBag.Activity</td>
                <td height="100" align="left" style="vertical-align: top;">
                    Container No.: @ViewBag.ContainerNo<br />Bank: @ViewBag.Amount2<br />Cash: @ViewBag.Amount1<br />Diesel: @ViewBag.fuel<br />Fuel amount: @ViewBag.fuelAmount<br /> Slip No.:  @ViewBag.DieselNo<br />
                    Delivery Address.:  @ViewBag.DeliveryAddress<br />
                    @ViewBag.InOut Date:  @ViewBag.InOutDate<br />
                    From Location:  @ViewBag.FromID<br />
                    To Location:  @ViewBag.ToID<br />
                    From km.:@ViewBag.ReadingFrom<br />
                    To km.:@ViewBag.ReadingTo<br />
                </td>
            </tr>
            <tr>
                <td align="justify" style="vertical-align: top;">Total Amount</td>
                <td style="vertical-align: top;">@ViewBag.Total</td>
            </tr>
            <tr>
                <td align="justify" style="vertical-align: top;">Prepared By</td>
                <td style="vertical-align: top;">@ViewBag.PreparedBy</td>
            </tr>

            <tr>
                <td colspan="2">Total Amount: @ViewBag.Total , Vehicle No.: @ViewBag.TrailerNo </td>
            </tr>
        </tbody>
    </table>

    <br /><br /><br /><br />

    <div class="row">
        <label>Stamp</label><label style="margin-left:100px">Sign Receiver</label>
        <label style="margin-left:100px">Sign Prepared</label>
    </div>





</body>
</html>


<script>
    setTimeout(function () {
        window.onload = window.print();
    }, 2000);
    wondow.onload = function () {

    };
</script>

<script>
    setTimeout(function () {
        window.onload = window.close();
    }, 2000);
    wondow.onload = function () {

    };
</script>