@model TrackerMVCEntities.BusinessEntities.FuelEntities

@{
    Layout = null;
}

<!DOCTYPE html>
<style>
    table {
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <label style="padding-left: 0px;font-family:'Segoe UI'">@ViewBag.ConName</label><br />

    -------------------------------<br />
    <label style="margin-left:25px;font-family:'Segoe UI'">Pump Copy</label><br />

    -------------------------------<br />
    <table class="table" width="20%" style="border:none">
        <tbody style="box-sizing :border-box;">
            <tr>

                <td style="border:none">
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Slip No</small></label>: <small >@ViewBag.DieselNo</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Slip Date</small></label>:<small > @ViewBag.SLipdate</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Trailer No</small></label>: <small >@ViewBag.TrailerNo</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>DR Code</small></label>: <small >@ViewBag.driverID</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Diesel</small></label>: <small >@ViewBag.fuel Liter</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>In words</small></label>:<small > @ViewBag.Litre Liter</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>From</small></label>: <small >@ViewBag.FromID</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>To</small></label>: <small >@ViewBag.ToID</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Activity</small></label>: <small >@ViewBag.Activity</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Con No</small></label>: <small >@ViewBag.ContainerNo</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Gn By</small></label>: <small >@ViewBag.PreparedBy</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>Print Date</small></label>: <small >@ViewBag.DateNow</small><br />
                    <label style="width:50px !important;padding-left:0px;padding-right:0px;font-weight:normal;font-family:'Segoe UI';"><small>valid till</small></label>: <small >@ViewBag.Date</small><br />

                </td>

            </tr>

        </tbody>
    </table>
    -------------------------------<br />
</body>
</html>

<script>
    setTimeout(function () {
        window.onload = window.print();
    }, 2000);
    wondow.onload = function () {

    };
</script>

<script>
    setTimeout(function () {
        window.onload = window.close();
    }, 2000);
    wondow.onload = function () {

    };
</script>