
@{
    ViewBag.Title = "VoucherCloseDetails";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class="content-area overflow-hidden" id="divDriver">
    <div>
        <div class="page-header">
            <h4 class="page-title">Close Voucher Details</h4>
            @*<div class="form-group">
                <label class="form-label"></label>
                <div class="row gutters-xs">
                    <div class="col">

                        <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="ViewSummary();"><i class="fa fa-file-text"></i></button>


                    </div>
                </div>
            </div>*@
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body p-6">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Voucher No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input id="TxtVoucherNo" type="text" class="form-control" placeholder="Voucher No" style="text-transform:uppercase" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <button class="btn btn-primary" style="width:60PX" id="btnSearch" type="button" onclick="ShowVoucherList()"><i class="fe fe-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Voucher Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtVoucherDate", null, new { @class = "form-control", @id = "TxtVoucherDate", @name = "TxtVoucherDate", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Trailer Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtTrailername", null, new { @class = "form-control", @id = "TxtTrailername", @name = "TxtTrailername", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Transporter Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtTransporterName", null, new { @class = "form-control", @id = "TxtTransporterName", @name = "TxtTransporterName", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Container No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtContainerNo", null, new { @class = "form-control", @id = "TxtContainerNo", @name = "TxtContainerNo", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Size</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtSize", null, new { @class = "form-control", @id = "txtSize", @name = "txtSize", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">From Location</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtFromLocation", null, new { @class = "form-control", @id = "TxtFromLocation", @name = "TxtFromLocation", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">To Location</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("TxtTolocation", null, new { @class = "form-control", @id = "TxtTolocation", @name = "TxtTolocation", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Activity Cycle</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("ddlActivity", null, new { @class = "form-control", @id = "ddlActivity", @name = "ddlActivity", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-1 col-xs-4">
                                <div class="form-group">
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <button class="btn btn-danger btn-xs" id="btnSaveDriver" onclick="CloseDetails();">Close</button>
                                            <input type="hidden" id="activityid" name="activityid"/>
                                            <input type="hidden" id="Fromid" name="Fromid"/>
                                            <input type="hidden" id="Toid" name="Toid"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




<script>
    function ShowVoucherList() {
        var VoucherNo = $("#TxtVoucherNo").val();
      
        var data1 = { 'VoucherNo': VoucherNo.trim() };
        var data = JSON.stringify(data1);
        $.ajax({
            url: "/LoadingPlan/AjaxGetVoucherCloseDetails",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: function (data) {


                $("#TxtTrailername").val(data[0].TrailerNo);
                $("#TxtTransporterName").val(data[0].Transpoter);
                $("#TxtVoucherDate").val(data[0].VoucherDate);
                $("#TxtContainerNo").val(data[0].ContainerNo);
                $("#txtSize").val(data[0].ContainerSize);
             
                $("#TxtFromLocation").val(data[0].FromLocation);
                $("#TxtTolocation").val(data[0].ToLocation);
                $("#ddlActivity").val(data[0].ActivityName);
                $("#activityid").val(data[0].ActivityAutoid);
                $("#Fromid").val(data[0].FromLocationIDd);
                $("#Toid").val(data[0].TOLocationIDd);


            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });
    }


    function CloseDetails() {
        var VoucherNo1 = $("#TxtVoucherNo").val();
        var Trailername = $("#TxtTrailername").val();
        var Activityname = $("#activityid").val();
        var FromID = $("#Fromid").val();
        var Toid = $("#Toid").val();

        var data1 = { 'VoucherNo1': VoucherNo1.trim(), 'Trailername': Trailername, 'Activityname': Activityname, 'FromID': FromID, 'Toid': Toid};
        var data = JSON.stringify(data1);
       
        $.ajax({
            url: "/LoadingPlan/AjaxUpdateVoucherCloseDetails",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            //dataType: "json",
            success: function (data) {
                alert("Voucher Closed Successfully!");
                 document.location = '@Url.Action("VoucherCloseDetails", "LoadingPlan")';
            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });
    }
</script>