<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Credit Receipt Print</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }
        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border:1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 15px;
            font-family: verdana(batlic);
            background-color: #ede5e5;
        }

        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }

        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <div class="box">
                <div class="boxHeaderL">
                    <img height="70" width="200" src="~/images/NavkarLogo.jpg" />
                </div>
                <div class="boxHeaderR">
                    <h3 class="buttomMargin" style="font-size:12pt;">@ViewBag.CompanyName</h3>
                    <div style="width:90%">
                        <h5>@ViewBag.CompanyAddress</h5>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-bottom:-10px">
                <h3 class="headingh3">@ViewBag.Category</h3>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:20%;text-align:left">Transaction No :</th>
                                <td style="width:30%;text-align:left">@ViewBag.ReceiptNo</td>
                                <th style="width:20%;text-align:left">Date :</th>
                                <td style="width:30%;text-align:left">@ViewBag.ReceiptDate</td>
                            </tr>
                            @*<tr>
                                <th style="width:20%;text-align:left">Pay From :</th>
                                <td style="width:80%;text-align:left" colspan="3">@ViewBag.PayFrom</td>
                            </tr>*@
                            <tr>
                                <th style="width:20%;text-align:left">CHA Name :</th>
                                <td style="width:80%;text-align:left" colspan="3">@ViewBag.CHAName</td>
                            </tr>
                            <tr>
                                <th style="width:20%;text-align:left">Bill To Party :</th>
                                <td style="width:80%;text-align:left" colspan="3">@ViewBag.BillParty</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3>Bill Wise Details:</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox">
                    <thead>
                        <tr>
                            <th style="width:50px;">Sr No.</th>
                            <th style="width:150px;">Invoice No</th>
                            <th style="width:150px;">Invoice Date</th>
                            <th style="width:100px;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.InvoiceItemList)
                        {
                        <tr>
                            <td style="text-align:left">@dr["SR. No"]</td>
                            <td style="text-align:left">@dr["Invoice No"]</td>
                            <td style="text-align:center">@dr["Invoice Date"]</td>
                            <td style="text-align:right">@dr["Amount"]</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                &nbsp;
            </div>
            <div style="border:1px solid gray;">
                <div style="text-align:left">
                    <h3>Payment Details:</h3>
                </div>
                <div class="printBody clearfix">
                    <table class="tblBox" id="reportTable">
                        <thead>
                            <tr>
                                <th scope="col">Payment Mode</th>
                                <th scope="col">Amount</th>
                                @*<th scope="col">Chq./DD No</th>
                                <th scope="col">Chq./DD Date</th>
                                <th scope="col">Bank Name</th>*@
                                @*<th scope="col">Branch</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.PaymentList)
                            {
                                <tr>
                                    <td scope="col">@dr["Payment Mode"]</td>
                                    <td scope="col" style="text-align:right">@dr["Amount"]</td>
                                    @*<td scope="col" style="text-align:center">@dr["Mode No"]</td>
                                    <td scope="col" style="text-align:center">@dr["Mode Date"]</td>
                                    <td scope="col">@dr["Bank Name"]</td>*@
                                    @*<td scope="col">@dr["Branch"]</td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div>

                </div>
                <div>
                    &nbsp;
                </div>
                <div>
                    &nbsp;
                </div>
                <div class="boxHalf clearfix" style="text-align:left;height:180px">
                    <h3 style="margin-bottom: -12px;">@ViewBag.SubjectRealisation</h3>
                    <h4 style="margin-bottom: -8px;">@ViewBag.ReceiptNote</h4>
                    <h3 style="margin-bottom: -8px;">GSTIN No :- @ViewBag.GSTINNo</h3>
                    <h3>PAN No:- @ViewBag.PANNo</h3> 
                    <h3>Generated By:- @ViewBag.GeneratedBy</h3>
                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:180px">
                    <h3>Certified that the particulars given above are true and corret.</h3>
                    <h3>@ViewBag.CompanyName</h3><br /><br />
                    <h4 style="margin-bottom: -12px;">Authorised Signatory</h4>
                </div>
                <div>
                    &nbsp;
                </div>
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        window.print();
    });
</script>