<html>

<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
          
          
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
          
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        input[type="checkbox"][readonly] {
            pointer-events: none;
        }


        table#tblGetreceiptdtes tr:last-child {
            background: #FFFF00;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">


            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:20%">
                            <img height="50" width="150" style="margin-left:10px;margin-top:20px;" src="~/images/NavkarLogo.jpg" />

                        </th>
                       
                        <th style="width:85%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="font-size:12pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.CompanyName</spam>   <br />
                            <spam style="font-size:9pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.CompanyAddress</spam> <br />

                        </th>



                    </tr>

                </tbody>
            </table>
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:20px;;border-top:none">
                            @ViewBag.Category

                        </th>
                    </tr>

                </tbody>
            </table>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;border-top:none">Receipt No</th>
                                <td style="width:35%;text-align:left;font-weight:bold;border-top:none"><lable style="font-weight:normal"></lable> @ViewBag.ReceiptNo</td>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;border-top:none">Date</th>
                                <td style="width:35%;text-align:left;font-weight:bold;border-top:none"> @ViewBag.ReceiptDate</td>
                            </tr>
                            <tr style="display:none">
                            <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5">IGM No</th>
                            <td style="width:35%;text-align:left;font-weight:bold"><label style="visibility:hidden;font-weight:bold">Sp</label> @ViewBag.IGMNo</td>
                            <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5">ITEM No</th>
                            <td style="width:35%;text-align:left;"> @ViewBag.ItemNo</td>
                        </tr>

                            <tr>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5">Pay From</th>
                                <td style="width:75%;text-align:left;font-weight:bold" colspan="3"> @ViewBag.PayFrom</td>

                            </tr>
                            <tr style="display:none">
                            <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5">Importer Name</th>
                            <td style="width:75%;text-align:left;font-weight:bold" colspan="3"> @ViewBag.ImporterName</td>

                        </tr>
                      
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="float:left;width:50%;text-align:left;">
                <h3>Bill Wise Details:</h3>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox" id="tblGetreceiptdtes">
                        <thead>
                            <tr>
                                <th style="background-color: #ede5e5;width:5px">Sr. No.</th>
                                <th style="background-color: #ede5e5;width:10px">Particulars</th>
                                <th style="background-color: #ede5e5;width:10px">Date</th>
                                <th style="background-color: #ede5e5;width:5px">Invoice Amount</th>
                                <th style="background-color: #ede5e5;width:5px">Net Received Amount</th>
                                <th style="background-color: #ede5e5;width:10px">TDS Amount</th>
                                <th style="background-color: #ede5e5;width:10px">Amount Received With TDS</th>
                                <th style="background-color: #ede5e5;width:10px">BL Number</th>
                                <th style="background-color: #ede5e5;width:10px">Party Name</th>
                                <th style="background-color: #ede5e5;width:10px">CHA Name</th>
                                <th style="background-color: #ede5e5;width:10px">Remarks</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.InvoiceItemList)
                            {
                            <tr>
                                <td style="text-align:center;width:5px;">@dr["SR. No"]</td>
                                <td style="text-align:center;width:10px;font-weight:bold;">@dr["Invoice No"]</td>
                                <td style="text-align:center;width:5px;">@dr["Invoice Date"]</td>
                                <td style="text-align:right;width:5px;">@dr["Amount"]</td>
                                <td style="text-align:right;width:10px;">@dr["Receipt Amount"]</td>
                                <td style="text-align:right;width:10px;">@dr["TDS Amount"]</td>
                                <td style="text-align:right;width:10px;;">@dr["Net Received Amount"]</td>
                                <td style="text-align:center;width:10px;">@dr["BLNumber"]</td>
                                <td style="text-align:left;width:10px;">@dr["Bill To Name"]</td>
                                <td style="text-align:left;width:10px;">@dr["CHA To Name"]</td>
                                <td style="text-align:center;width:10px;">@dr["Remarks"]</td>
                            </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div style="float:left;width:50%;text-align:left;">
                <h3>Payment Details:</h3>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox" id="tblpaymentdetails">
                        <thead>
                            <tr>
                                <th style="background-color: #ede5e5;width:5px">Payment Mode</th>
                                <th style="background-color: #ede5e5;width:20px">Amount</th>
                                <th style="background-color: #ede5e5;width:5px">Chq./DD No</th>
                                <th style="background-color: #ede5e5;width:5px">Chq./DD Date</th>
                                <th style="background-color: #ede5e5;width:10px">Bank Name</th>
                                <th style="background-color: #ede5e5;width:10px">Branch</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.PaymentList)
                            {
                                <tr>
                                    <td style="text-align:center;width:5px;">@dr["Payment Mode"]</td>
                                    <td style="text-align:right;width:20px;">@dr["Amount"]</td>
                                    <td style="text-align:center;width:5px;">@dr["Mode No"]</td>
                                    <td style="text-align:center;width:5px;">@dr["Mode Date"]</td>
                                    <td style="text-align:center;width:10px;">@dr["Bank Name"]</td>
                                    <td style="text-align:center;width:10px;">@dr["Branch"]</td>

                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:13%;text-align:left;font-weight:400;background-color: #ede5e5;">Net Amount</th>
                                <td style="width:20%;text-align:right;font-weight:bold"><lable style="font-weight:normal"></lable> @ViewBag.NetAmount</td>
                                <th style="width:13%;text-align:left;font-weight:400;background-color: #ede5e5">TDS(-) </th>
                                <td style="width:20%;text-align:right;font-weight:bold"> @ViewBag.TDSAmount</td>
                                <th style="width:13%;text-align:left;font-weight:400;background-color: #ede5e5">Received Amount</th>
                                <td style="width:20%;text-align:right;font-weight:bold"> @ViewBag.ReceivedAmount</td>
                            </tr>

                        </tbody>
                    </table>
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;">Amount in Words </th>
                                <td style="width:85%;text-align:left;font-weight:bold;border-top:none"><lable style="font-weight:normal"></lable> @ViewBag.AmountInWord</td>


                            </tr>

                        </tbody>
                    </table>
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;border-top:none">Excess Amount</th>
                                <td style="width:35%;text-align:right;font-weight:bold;border-top:none"><lable style="font-weight:normal;"></lable> @ViewBag.AccessAmount</td>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;border-top:none">Account No</th>
                                <td style="width:35%;text-align:left;font-weight:bold;border-top:none"> @ViewBag.AccountNo</td>

                            </tr>

                        </tbody>
                    </table>
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;font-weight:400;background-color: #ede5e5;border-top:none;border-bottom:none">Remarks</th>
                                <td style="width:85%;text-align:left;font-weight:bold;border-top:none;border-bottom:none"><lable style="font-weight:normal"></lable> @ViewBag.ReceiptRemarks</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="boxHalf clearfix" style="text-align:left;height:150px;">
                <h3 style="margin-bottom: -12px;">@ViewBag.SubjectRealisation</h3>
                <h4 style="margin-bottom: -8px;">@ViewBag.ReceiptNote</h4>
                <h3 style="margin-bottom: -8px;">@ViewBag.GSTINNo</h3>
                <h3>@ViewBag.PANNo</h3>
                <h3>Generated By:- @ViewBag.GeneratedBy</h3>
            </div>
            <div class="boxHalf clearfix" style="text-align:center;height:150px">
                <br />
                <h3 style="font-family:verdana(batlic) !important">Certified that the particulars given above are true and corret.</h3>
                <h3 style="font-family:verdana(batlic) !important">@ViewBag.CompanyName</h3><br /><br />
                <h4 style="margin-bottom: -12px;">Authorised Signatory</h4>


            </div>

        </div>
        <div>

        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        window.print();
    });
</script>