<!DOCTYPE html>
<html>

<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
        }
       
    </style>
</head>


<body>

    @foreach (var dr in ViewBag.ContainerList)
    {
        <div class="row" style="text-align:center">
            <img class="center" src="~/images/MivLogo.jpeg" />

        </div>
        <label style="padding-left: 130px;">CONTAINER DELIVERY To OR RECEIPT FROM IGT GATE COMPLEX</label>
        <table style="width:100%;height:50% !important">


            <tr>
                <td colspan="2">
                    Vehicle : <br />
                    @dr["Vehicle No"]
                </td>
                <td>
                    Driver : <br />
                    @dr["Driver"]
                </td>
                <td colspan="2">
                    Hauler. <br />
                    @dr["Driver"]
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Agent : <br />
                    @dr["Agent"]
                </td>
                <td>
                    Line : <br />
                    @dr["Line"]
                </td>
                <td colspan="2">
                    Via No. <br />
                    @dr["Via No"]
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Vessel Name : <br />
                    @dr["Vessel Name"]
                </td>
                <td>
                    Import : <br />
                    @dr["Import"]
                </td>
                <td colspan="2">
                    IGM/BE No. <br />
                    @dr["ISO Code"]
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Container No : <br />
                    @dr["Container No"]
                </td>
                <td>
                    ISO Code : <br />
                    @dr["ISO Code"]
                </td>
                <td colspan="2">
                    Wegiht <br />
                    @dr["Weight"]
                </td>
            </tr>
            <tr>
                <td>
                    Delivery Order No: <br />
                    @dr["Delivery Order No"]
                </td>
                <td>
                    HAZ/IMO: <br />
                    @dr["HAZ/IMO"]
                </td>
                <td>
                    CustomS HOUSE AGENT MTO: <br />
                    @dr["CustomS HOUSE AGENT MTO"]
                </td>
                <td colspan="2">
                    POD/POL<br />
                    @dr["POL"]

                </td>

            </tr>
            <tr>
                <td colspan="2">
                    B E No/s S B No: <br />
                    @dr["BONO"]
                </td>
                <td>
                    Seal No: <br />
                    @dr["Seal No"]
                </td>
                <td>
                    Cargo Type <br />
                    @dr["Cargo Type"]
                </td>
                <td>
                    Temp TO Maintained <br />
                    @dr["Temp TO Maintained"]
                </td>
            </tr>

        </table>

        <div>
            &nbsp;
        </div>
        <div>
            &nbsp;
        </div>
       

    }
</body>

</html> 