@using System.Data;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RAIL LOCAL EIR COPY</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
</head>

<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <div class="clearfix">
                @foreach (var dr in ViewBag.ContainerList)
                {
                    <h3>RAIL LOCAL EIR COPY </h3>
                    <table class="tblBox">
                        <thead>
                            <tr>
                                <th style="width:10px;">Sr. No</th>
                                <th style="width:100px;">Container No</th>
                                <th style="width:30px;">Size</th>
                                <th style="width:80px;">IGM No</th>
                                <th style="width:80px;">Item No</th>
                                <th style="width:120px;">IGM Date</th>
                                <th style="width:80px;">PKG</th>
                                <th style="width:80px;">Weight</th>
                                <th style="width:200px;">Description</th>
                                <th style="width:150px;">Party Name</th>
                                <th style="width:100px;">Seal No</th>
                                <th style="width:80px;">Scan Type</th>
                                <th style="width:30px;">POL</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@dr["SrNo"]</td>
                                <td>@dr["Container No"]</td>
                                <td>@dr["Size"]</td>
                                <td>@dr["IGM No"]</td>
                                <td>@dr["ITEM No"]</td>
                                <td>@dr["IGM Date"]</td>
                                <td>@dr["PKG"]</td>
                                <td>@dr["Weight"]</td>
                                <td>@dr["Description"]</td>
                                <td>@dr["Party Name"]</td>
                                <td>@dr["Seal No"]</td>
                                <td>@dr["Scan Type"]</td>
                                <td>@dr["POL"]</td>
                            </tr>
                        </tbody>
                    </table>
                    <div  style="page-break-after:always;">
                        &nbsp;
                    </div>
                }

            </div>
            <div>
                &nbsp;
            </div>
        </div>
    </div>
</body>
</html>