
@{
    ViewBag.Title = "Import Search";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Import Search</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Container No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtContainerNo", null, new { @class = "form-control joNo", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", onchange = "GetjoNo()", Style = "background:#9f78ff; font-weight: bold; color:white; font-size:18px;  text-transform: uppercase;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">JoNo.</label>
                                    <div class="row gutters-xs">
                                        <select id="TxtJoNo" class="form-control">
                                            <option value="0">--Select--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <button type="button" class="btn btn-primary" name="clearProfile" title="clear" id="clearValue" onclick="ShowImportDetails()">Search</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">JO Date</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("txtJODate", null, new { @class = "form-control", @id = "txtJODate", name = "txtJODate", autocomplete = "on", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Size</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("txtSize", null, new { @class = "form-control", @id = "txtSize", name = "txtSize", @maxlength = 15, autocomplete = "on", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">Type</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("txtType", null, new { @class = "form-control", @id = "txtType", name = "txtType", autocomplete = "on", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label">ISO Code</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("txtISOCode", null, new { @class = "form-control", @id = "txtISOCode", name = "txtISOCode", autocomplete = "on", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="row">
                            <div class="col-lg-10 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Shipping Line</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtshippingline", null, new { @class = "form-control", @id = "txtshippingline", name = "txtshippingline", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Vessel Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtVesselName", null, new { @class = "form-control", @id = "txtVesselName", name = "txtVesselName", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Via No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtViaNo", null, new { @class = "form-control", @id = "txtViaNo", name = "txtViaNo", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Port Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtPortName", null, new { @class = "form-control", @id = "txtPortName", name = "txtPortName", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Birthing Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("datePicker1", null, new { @class = "form-control datepicker", @id = "datePicker1", autocomplete = "off", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">CFS Code</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtCFSCode", null, new { @class = "form-control", @id = "txtCFSCode", name = "txtCFSCode", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">IN Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("datePicker", null, new { @class = "form-control", @id = "datePicker", autocomplete = "off", @readonly = true, Style = "background:#9f78ff; font-weight: bold; color:white; font-size:18px; text-transform: uppercase;" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">FCL/LCL</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtFCL", null, new { @class = "form-control", @id = "txtFCL", name = "txtFCL", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Scan Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtScanType", null, new { @class = "form-control", @id = "txtScanType", name = "txtScanType", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Transport Mode</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtTransportMode", null, new { @class = "form-control", @id = "txtTransportMode", name = "txtTransportMode", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Vehicle/Rail No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtVehicleNo", null, new { @class = "form-control", @id = "txtVehicleNo", name = "txtVehicleNo", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Transporter</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtTransporter", null, new { @class = "form-control", @id = "txtTransporter", name = "txtTransporter", autocomplete = "on", @readonly = "readonly" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label"></label>
                        <div class="input-group">

                            <span class="input-group-append " id="tabPurpose">
                                <button class="btn btn-primary active" id="export" style="text-transform: uppercase;" type="button" onclick="showContainerList()">IGM Details </button>
                                <button class="btn btn-primary" id="export" style="text-transform: uppercase;" type="button" onclick="showHoldingList()">Hold Details </button>
                                <label id="selectedImportORExport" class="display_none"></label>
                            </span>
                        </div><br />

                        <div class="row" id="divContainerDetails">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p sorting">IGM No.</th>
                                            <th class="wd-15p sorting">Item No.</th>
                                            <th class="wd-15p sorting">BL No.</th>
                                            <th class="wd-15p sorting">Seal No.</th>
                                            <th class="wd-15p sorting">Consignee</th>
                                            <th class="wd-15p sorting">NConsignee</th>

                                            <th class="wd-15p sorting">QTY</th>
                                            <th class="wd-15p sorting">Pack Type</th>
                                            <th class="wd-15p sorting">Gross Wt</th>
                                            <th class="wd-15p sorting">Unit</th>
                                            <th class="wd-15p sorting">Grid No</th>
                                            <th class="wd-15p sorting">Goods Desc</th>
                                            <th class="wd-15p sorting">GP No</th>
                                            <th class="wd-15p sorting">GP Date</th>
                                            <th class="wd-15p sorting">IGM AddedOn</th>


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>

                        <div class="row" style="display:none" id="divholding">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example4">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p sorting">Hold Reason</th>
                                            <th class="wd-15p sorting">Hold By</th>
                                            <th class="wd-15p sorting">Hold Date</th>
                                            <th class="wd-15p sorting">Cleared By</th>
                                            <th class="wd-15p sorting">Cleared On</th>
                                            <th class="wd-15p sorting">Remarks</th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">SSR No/SSR Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSSRNo", null, new { @class = "form-control", @id = "txtSSRNo", name = "txtSSRNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Custom Examine</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCustomExamine", null, new { @class = "form-control", @id = "txtCustomExamine", name = "txtCustomExamine", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Train No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtTrainNo", null, new { @class = "form-control", @id = "txtTrainNo", name = "txtTrainNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Arrived Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtArrivedDate", null, new { @class = "form-control", @id = "txtArrivedDate", name = "txtArrivedDate", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">CHA Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtCHAName", null, new { @class = "form-control", @id = "txtCHAName", name = "txtCHAName", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">DO Validity Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDOValidity", null, new { @class = "form-control", @id = "txtDOValidity", name = "txtDOValidity", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Seal Cutting Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSealCuttingDate", null, new { @class = "form-control", @id = "txtSealCuttingDate", name = "txtSealCuttingDate", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtContainerNo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Delivery Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDeliveryDate", null, new { @class = "form-control", @id = "txtDeliveryDate", name = "txtDeliveryDate", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Assessment No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtAssessmentNo", null, new { @class = "form-control", @id = "txtAssessmentNo", name = "txtAssessmentNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Gate Pass No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtGatePassNo", null, new { @class = "form-control", @id = "txtGatePassNo", name = "txtGatePassNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Vehicle No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtVehicleNo", null, new { @class = "form-control", @id = "txtVehicleNo", name = "txtVehicleNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Destuff Type</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDestuffType", null, new { @class = "form-control", @id = "txtDestuffType", name = "txtDestuffType", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Receipt No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtReceiptNo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Scanning GP Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtScanningGPDate", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Scanning In Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtScanningInDate", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Empty Pass No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtEmptyPassNo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Empty Vehicle No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtEmptyVehicleNo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">BOE No.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtBOENo", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">BOE Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtBOEDate", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Weighment Slip</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtWeighmentSlip", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Slip Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSlipDate", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Final Out Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtFinalOutDate", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Gate In Remarks</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtGateInRemarks", null, new { @class = "form-control", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "on", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#example1').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false

        });

        $('#example4').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false

        });

    });
</script>


<script type="text/javascript">


    function ShowImportDetails() {

        var res = validate();
        if (res == false) {
            return false;
        }




        var ContainerNo = $("#txtContainerNo").val()
        var Jono = $("#TxtJoNo").val()


        var data = { 'ContainerNo': ContainerNo, 'Jono': Jono };
        var data1 = JSON.stringify(data);

        $.ajax({
            url: "/UpdateDischarge/ajaxImportSearchlistdetails",
            data: data1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $("#txtSize").val(data.ImportList.Size);
                $("#txtType").val(data.ImportList.ContainerType)
                $("#txtISOCode").val(data.ImportList.iSOCode)
                $("#datePicker").val(data.ImportList.TrainArrivedDate);
                $("#datePicker1").val(data.ImportList.BirthingDate);
                $("#txtVesselName").val(data.ImportList.VesselName);
                $("#txtshippingline").val(data.ImportList.SLName)
                $("#txtScanType").val(data.ImportList.ScanType);
                $("#txtViaNo").val(data.ImportList.ViaNo);
                $("#txtCFSCode").val(data.ImportList.CFSCode);
                $("#txtPortName").val(data.ImportList.PortID);
                $("#txtTransportMode").val(data.ImportList.Transport_Type);
                $("#txtFCL").val(data.ImportList.FL);
                //$("#txtVehicleNo").val(data.IGMData.ViaNo);
                $("#txtJODate").val(data.ImportList.JOdate);
                $("#txtTransporter").val(data.ImportList.transname);




                $('#example1').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "aaData": data.ImportDetails,
                    "columns": [
                        { "data": "IGMNo" },
                        { "data": "ItemNo" },
                        { "data": "BLNo" },
                        { "data": "SealNo" },
                        { "data": "Consignee" },
                        { "data": "NConsignee" },
                        { "data": "Qty" },
                        { "data": "PackType" },
                        { "data": "GrossWt" },
                        { "data": "Unit" },
                        { "data": "GridNo" },
                        { "data": "GoodsDesc" },
                        { "data": "GPNo" },
                        { "data": "GPDate" },
                        { "data": "IGMAddedOn" }

                    ]

                })
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }











</script>


<script type="text/javascript">
    function showContainerList() {

        $("#divContainerDetails").show();
        $("#divholding").hide();

    }

    function showHoldingList() {

        $("#divContainerDetails").hide();
        $("#divholding").show();

        var ContainerNo1 = $("#txtContainerNo").val()
        var Jono1 = $("#TxtJoNo").val()

        var data = { 'ContainerNo1': ContainerNo1, 'Jono1': Jono1 };
        var data1 = JSON.stringify(data);

        $.ajax({
            url: "/UpdateDischarge/AjaxImportSearchHoldingList",
            data: data1,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $('#example4').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "aaData": data,
                    "columns": [
                        { "data": "HoldReason" },
                        { "data": "HoldBy" },
                        { "data": "HoldDate" },
                        { "data": "ClearedBy" },
                        { "data": "ClearedOn" },
                        { "data": "Remarks" }
                    ]

                })
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });

    }

    function GetjoNo() {

        $('.joNo').on('blur', function (e) {
            var ContainerNo3 = $("#txtContainerNo").val()
            var data1 = { 'ContainerNo3': ContainerNo3 };
            var data = JSON.stringify(data1);
            //alert("hii");

            $.ajax({
                url: "/UpdateDischarge/ajaxJoNoList",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    var select = $("#TxtJoNo");

                    select.empty();
                    select.append($('<option/>', {
                        value: 0,
                        text: "--Select--"
                    }));

                    $.each(data, function (data, value) {

                        select.append($("<option></option>").html(value.JONo));
                    })


                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });

        });
    }







</script>




<script type="text/javascript">
        function validate() {
            // alert("hifg");

            var ContainerNumvervalidate = document.getElementById('txtContainerNo').value;
            var ItemNumbervalidate = document.getElementById('TxtJoNo').value;


            var blResult = Boolean;
            blResult = true;
            $("#TxtJoNo").removeClass("form-control is-invalid state-invalid")
            $("#TxtJoNo").addClass("form-control is-valid state-valid")
            $("#txtContainerNo").removeClass("form-control is-invalid state-invalid")
            $("#txtContainerNo").addClass("form-control is-valid state-valid")
            // document.getElementById('ContainerNo').style.borderColor = "Gainsboro";


            if (ContainerNumvervalidate == "") {
                //  document.getElementById('ContainerNo').style.borderColor = "red"
                $("#txtContainerNo").removeClass("form-control is-valid state-valid")
                $("#txtContainerNo").addClass("form-control is-invalid state-invalid")
                blResult = blResult && false;
            }


            if (ItemNumbervalidate == "") {
                $("#TxtJoNo").removeClass("form-control is-valid state-valid")
                $("#TxtJoNo").addClass("form-control is-invalid state-invalid")
                blResult = blResult && false;
            }
            if (ItemNumbervalidate == "0") {
                $("#TxtJoNo").removeClass("form-control is-valid state-valid")
                $("#TxtJoNo").addClass("form-control is-invalid state-invalid")
                blResult = blResult && false;
            }

            if (blResult == false) { alert('Please fill the required fields!'); }
            return blResult;

        };

    </script>