





<html>
<head>
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 50%;
            padding: 0px;
        }

        .header h4 {
            text-align: center;
        }

        .subHeader h4 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 0px solid black;
            font-size: 10px;
        }
    </style>
</head>

<body>
    <div style="width:350px;height: 380px;border: 1px solid black">
        <div class="header">
            <h4>
                Navkar Corporation LTD
            </h4>
            <h6 style="text-align:center;font-size:10px">Admin Office:Survey No 89/93/95/97, Somathane Village, Kon-Savla Road, Panvel, Raigad  410 206, Maharashtra, India </h6>

        </div>
        <div class="subHeader">
            <h4>Cargo BTT Vehicle In</h4>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <table style="width: 100%;height: 100px;">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">GPNo :</th>
                            <th style="text-align:left">@ViewBag.EntryID</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Activity :</th>
                            <th style="width:100px;text-align:left">@ViewBag.Activity</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">Vehicle No :</th>
                            <th style="text-align:left">@ViewBag.VehicleNO</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">party Name :</th>
                            <th style="text-align:left">@ViewBag.PartyName</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <table style="width: 100%;height: 100px;" ">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">Activity Date :</th>
                            <th style="text-align:left">@ViewBag.indate</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">SBNo :</th>
                            <th style="text-align:left">@ViewBag.SBNO</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Added By :</th>
                            <th style="text-align:left">@ViewBag.AddedBy</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Remarks:</th>
                            <th style="text-align:left">@ViewBag.Remarks</th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <h6 style="float: left">NCL Supervisor</h6>

            </div>
            <div class="box">
                <h6 style="float: left">
                    Navkar Corporation LTD

                </h6>

            </div>
        </div>
    </div>
</body>
</html>
