



<html>
<head>
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 50%;
            padding: 0px;
        }

        .header h4 {
            text-align: center;
        }

        .subHeader h4 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 0px solid black;
            font-size: 10px;
        }
    </style>
</head>

<body>
    <div style="width:320px;height: 350px;border: 1px solid black">
        <div class="header">
            <h4>Navkar Corporation LTD
             </h4>
            <h6 style="text-align:center;font-size:10px">Survey No.44/1, 44/1/2 Village Tumb, Taluka Umbergaon, District Valsad, Gujarat, Pin No-39615</h6>
            
        </div>
        <div class="subHeader">
            <h4>Vehicle In & Out Entry Slip</h4>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <table style="width: 100%;height: 100px;">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">Activity :</th>
                            <th style="text-align:left">@ViewBag.Activity</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">From Location :</th>
                            <th style="width:100px;text-align:left">@ViewBag.FromLocation</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">Vehicle No :</th>
                            <th style="text-align:left">@ViewBag.VehicleNo</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">party Name :</th>
                            <th style="text-align:left">@ViewBag.partyName</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <table style="width: 100%;height: 100px;" ">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">Activity Date :</th>
                            <th style="text-align:left">@ViewBag.ActivityDate</th>
                        </tr>
                       
                        <tr>
                            <th style="width:100px;text-align:left">To Location :</th>
                            <th style="text-align:left">@ViewBag.ToLocation</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Driver Name :</th>
            <th style="text-align:left">@ViewBag.Drivername</th>
        </tr>
        <tr>
            <th style="width:100px;text-align:left">Contact No:</th>
            <th style="text-align:left">@ViewBag.Drivercontact</th>
        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <h6 style="float: left">NCL Supervisor</h6>

            </div>
            <div class="box">
                <h6 style="float: left">
                    Navkar Corporation LTD
                   
                </h6>
              
            </div>
        </div>
    </div>
</body>
</html>
