


<html>
<head>
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 50%;
            padding: 0px;
        }

        .header h4 {
            text-align: center;
        }

        .subHeader h4 {
            text-align: center;
        }

        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid black;
            font-size: 10px;
        }
    </style>
</head>

<body>
    <div style="width:300px;height: 350px;border: 1px solid black">
        <div class="header">
            <h4>Navkar Corporation LTD</h4>
        </div>
        <div class="subHeader">
            <h4>Fuel Consumption Slip</h4>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <table style="width: 100%;height: 100px;">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">Slip No :</th>
                            <th style="text-align:left">@ViewBag.fuelRefNo</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Vechile No :</th>
                            <th>@ViewBag.trailername</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">Last Reading :</th>
                            <th style="text-align:left">@ViewBag.lastReading</th>
                        </tr>

                        <tr>
                            <th style="width:100px;text-align:left">Bal Qty :</th>
                            <th style="text-align:left">@ViewBag.BalQty</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Difference Reading:</th>
                            <th style="text-align:left">@ViewBag.DifferenceType</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Fuel Type:</th>
                            <th style="text-align:left">@ViewBag.fueltype</th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="box">
                <table style="width: 100%;height: 100px;" ">
                    <tbody>
                        <tr>
                            <th style="width:100px;text-align:left">Slip Date :</th>
                            <th style="text-align:left">@ViewBag.IssueDate</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Driver Name :</th>
                            <th style="text-align:left">@ViewBag.drivername</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Current Reading :</th>
                            <th style="text-align:left">@ViewBag.currentReading</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Issue Qty:</th>
                            <th style="text-align:left">@ViewBag.issueQty</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Cost Center For</th>
                            <th style="text-align:left">@ViewBag.CostCenterFor</th>
                        </tr>
                        <tr>
                            <th style="width:100px;text-align:left">Vehicle Type:</th>
                            <th style="text-align:left">@ViewBag.VehicleType</th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <div class="printBody clearfix">
            <div class="box">
                <h6 style="float: left">NCL Supervisor</h6>
            </div>
            <div class="box">
                <h6 style="float: left">Navkar Corporation LTD</h6>
            </div>
        </div>
    </div>
</body>
</html>