<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BCN RR Download Print</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

       .headingh3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 15px;
            font-family: verdana(batlic);
            background-color: #ede5e5;
        }

        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }

    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <h3 style="font-size:12pt;"> BCN RR Download Print</h3>
            <hr />
            <div class="row">
                <h5 class="headingh3">Train No: @ViewBag.TrainNo      RR No: @ViewBag.WagonRRNo     Party Name: @ViewBag.PartyName      Cargo: @ViewBag.Commodity           Arrival Date: @ViewBag.ArrivalDate</h5>
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <thead>
                            <tr>
                                <th>Sr No.</th>
                                <th>Wagon Type</th>
                                <th>Wagon No</th>
                                <th>OWNGRLY</th>
                                <th>PCC Wt</th>
                                <th>CC Wt</th>
                                <th>Tare Wt</th>
                                <th>Pkgs</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var row in ViewBag.WagonList)
                            {
                            <tr>
                                <td>@row["SrNo"]</td>
                                <td>@row["WagonType"]</td>
                                <td>@row["WagonNo"]</td>
                                <td>@row["Wongly"]</td>
                                <td>@row["PCCWt"]</td>
                                <td>@row["CCWt"]</td>
                                <td>@row["TareWt"]</td>
                                <td>@row["Pkgs"]</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        window.print();
    });
</script>