<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NCN Noc Print</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'verdana(batlic)';
            padding: 2px;
            text-decoration: underline;
        }

        .pgraf {
            font-size: 12pt;
            font-family: 'verdana(batlic)';
            text-decoration: none;
        }

        th {
            border: 1px solid black;
            font-size: 14px;
            font-family: verdana(batlic);
            background-color: #ede5e5;
        }

        td {
            border: 1px solid black;
            font-size: 14px;
            font-family: 'Segoe UI';
        }

        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'verdana(batlic)';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body style="margin-left:45px;">
    <div style="width:100%; text-align:center; height:100%;margin-top:120px;margin-left:0px;margin-right:0px;">
        <div style="width:100%;height:100%;">
            <div class="box">
                <div style="text-align:left">
                    Date:@ViewBag.NOCDate
                </div>
                <div style="text-align:right">
                    <h3 style="font-size:12pt;">NOC No.- @ViewBag.NOCRefNo</h3>
                </div>
            </div>
            <hr />
            <div class="row">
                <h3 class="headingh3">”To whom so ever it may Concern”</h3>
                <h3 class="headingh3">“NO OBJECTION CERTIFICATE”</h3>
            </div>
            <div class="box clearfix" style="text-align:center;height:180px;text-align:initial">
                <p class="pgraf">
                    This is in reference to the request from &nbsp; <b>"M/S &nbsp;  @ViewBag.CustomerName</b>." Dt.&nbsp; @ViewBag.NOCDate
                    for Issuing “NOC” by &nbsp; @ViewBag.CompanyName., Panvel &nbsp;for Handling their Export Cargo through general purpose Indian Railway wagon rakes at
                <b>"PNCS-01127637"</b> &nbsp; - @ViewBag.CompanyName., Panvel ,Rail siding at Nhava Sheva.
                </p>
                <p class="pgraf" style="text-align:left;text-align:initial">
                    We, @ViewBag.CompanyName., Panvel&nbsp;have "<b>No Objection</b>"for booking general purpose Indian Railway wagon rake by
                    <b>"M/S &nbsp;  @ViewBag.CustomerName </b>.from station @ViewBag.OrginStation  as per the below details, destined for our Railway Siding i.e. Station Code &nbsp;<b>"PNCS-01127637"</b>
                    @ViewBag.CompanyName &nbsp;Rail siding at Nhava Sheva , for Handling their Export Cargo/ “H” Form (Indirect) through Rakes for containerization & customs
                    clearance and further movement to Nhava Sheva Port Terminals i.e. JNPT/GTI/NSICT and it is presumed that while bringing the rake to PNCS,
                    shipper has agreed and accepted the terms & conditions offered by PNCS in their offer to the Shipper.
                </p>
            </div>
            <div style="height:250px">
                &nbsp;
            </div>
            <div>
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:50%;text-align:left">Origin Station – </th>
                                <td style="width:50%;text-align:left">@ViewBag.OrginStation</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Commodity - </th>
                                <td style="width:50%;text-align:left">@ViewBag.Commodity</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Stuffing Type - </th>
                                <td style="width:50%;text-align:left;font-weight:700">@ViewBag.StuffType</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Number of Wagons Planned - </th>
                                <td style="width:50%;text-align:left;font-weight:700">@ViewBag.NoofWagonPlanned</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Plan Date of Indent Placement – </th>
                                <td style="width:50%;text-align:left">@ViewBag.PlannedDate</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Tentative Stuffing date at Origin Station - </th>
                                <td style="width:50%;text-align:left">@ViewBag.StuffingDate</td>
                            </tr>
                            <tr>
                                <th style="width:50%;text-align:left">Tentative ETA at PNCS - </th>
                                <td style="width:50%;text-align:left">@ViewBag.ETADate</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
             
            <div style="text-align:left;">
                <h3>Note:</h3>
            </div>
            <div style="text-align:left;padding:0px;margin-top: 0px;" class="pgraf">
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">1.	This NOC is issued for 100% Direct stuffing only. </h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">2.	All the Punitive, Demurrage & Penal Demurrage charges will be on Shipper’s Account. </h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">3. Demurrage – Please note 5 hrs free allowed for mini rake (21 wagons ) & 9 hrs free for full rake (42 Wagons) by Indian Railways.</h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">
                    4. Validity: This NOC will be valid for 5 Days from the date of Issue. If the rake is not loaded within <br />
                    5 days from the date of NOC Customers are requested to apply for fresh NOC from M/s.Navkar Corporation Ltd
                </h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">
                    5. In rainy seasnon if stuffing contianer upto 27 M ton we need  closed door by forklift.<br />
                    In that  case your cargo will be wet.We will be not responsibal for that.
                </h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">
                    6.After Rail placed at track take back whatever things like cut n torn bags, Damage bags, wet cargoes and anything which received via BCN within 24 hours.
                </h3>
                <h3 class="pgraf" style="padding:0px;margin-bottom:0px;margin-top: 0px;">
                    7.If some how excess cargo or by any other reason if cargo hold in our premises take back within 10 days after same CFS will not responsible for any shortage or damage.
                </h3>
            </div>
            <div style="text-align:left">
                <h3>For <b>@ViewBag.CompanyName</b></h3>
            </div>
            <div style="text-align:left">
                <h3>Authorized Signatory. ______________________________</h3>
            </div>
        </div>
        <div>
            &nbsp;
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        PrintNOC(NocNo);
    });
   
    //$(document).ready(function () {
    //    window.print();
    //});
</script>