
@{
    ViewBag.Title = "FactorySBEntry";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    .hiderow {
        display: none;
    }
</style>

<div class=" content-area overflow-hidden" id="divCreate">
    <div class="page-header">
        <h4 class="page-title">Export Factory Stuff SB Entries</h4>
        <li class="breadcrumb-item">
            <a onclick="OpenWOSummary();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-file-text" data-placement="bottom" title="Open Work Order Summary"></i> </a>
        </li>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Condition</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlCondition", new List<SelectListItem>
                                              {  new SelectListItem { Text = "", Value = "0"},
                                                  new SelectListItem { Text = "<1> SB <1> Vehicle", Value = "<1> SB <1> Vehicle"},
                                                new SelectListItem { Text = "<1> SB <Many> Vehicle", Value = "<1> SB <Many> Vehicle"},
                                                new SelectListItem { Text = "<1> Vehicle <Many> SB", Value = "<1> Vehicle <Many> SB"},
                                                new SelectListItem { Text = "<1> SB <Many> Vehicle", Value = "<1> SB <Many> Vehicle"},
                                                }, new { @class = "form-control", autocomplete = "off", @id = "ddlCondition" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row" style="display:none" >
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Container Entry ID </label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtcentryid" type="text" placeholder="New" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Entry-ID </label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtentryid" type="text" placeholder="New" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Entry Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input id="txtdate" type="datetime-local" class="form-control" value="@ViewBag.Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Agency Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcustomer", (IEnumerable<SelectListItem>)ViewBag.CustomerList, "--Select--", new { @class = "form-control", @id = "ddlcustomer", name = "ddlcustomer", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">CHA Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcha", (IEnumerable<SelectListItem>)ViewBag.CHAList, "--Select--", new { @class = "form-control", @id = "ddlcha", name = "ddlcha", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Exporter Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlexporter", (IEnumerable<SelectListItem>)ViewBag.Exporter, "--Select--", new { @class = "form-control", @id = "ddlexporter", name = "ddlexporter", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Consignee</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlexporter", (IEnumerable<SelectListItem>)ViewBag.Exporter, "--Select--", new { @class = "form-control", @id = "ddlconsignee", name = "ddlexporter", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Shipping Bill No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtsbno" type="text" placeholder="Shipping Bill No" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Shipping Bill Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input id="txtsbdate" type="datetime-local" class="form-control" value="@ViewBag.Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-2">
                                <div class="form-group">
                                    <label class="form-label mandatory">FOB Value</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtfob" type="text" placeholder="FOB Value" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Invoice No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtinvoiceno" type="text" placeholder="Invoice No" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Invoice Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input id="txtinvdate" type="datetime-local" class="form-control" value="@ViewBag.Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Order No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtorderno" type="text" placeholder="Order No" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Order Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input id="txtorderdate" type="datetime-local" class="form-control" value="@ViewBag.Date" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Cargo Qty</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtcarqty" type="text" placeholder="Cargo Qty" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Packeges Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlpkgs", (IEnumerable<SelectListItem>)ViewBag.pkglist, "--Select--", new { @class = "form-control", @id = "ddlpkg", name = "ddlcargo", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Cargo Weight</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtcargowt" type="text" placeholder="Cargo Weight" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">In</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <select class="form-control" id="ddlweight">
                                                <option value="0">--Select--</option>
                                                <option value="KGS">KGS</option>

                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Cargo Description</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtcargodesc" type="text" placeholder="Cargo Description" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Container No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtcontainerno" type="text" placeholder="Container No" onChange = "ContainerNo()" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Size</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtsize" type="text" placeholder="Size" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Container Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcargo", (IEnumerable<SelectListItem>)ViewBag.ContainerType, "--Select--", new { @class = "form-control", @id = "ddlcontainertype", name = "ddlcontainertype", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Cargo Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcargo", (IEnumerable<SelectListItem>)ViewBag.CargoList, "--Select--", new { @class = "form-control", @id = "ddlcargo", name = "ddlcargo", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Stuff PKGS</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtstuffpkgs" type="text" placeholder="Stuff PKGS" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Stuff Weight</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtstuffweight" type="text" placeholder="Stuff Weight" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Tare Weight</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txttareweight" type="text" placeholder="Stuff Weight" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">POD</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlpod", (IEnumerable<SelectListItem>)ViewBag.PodList, "--Select--", new { @class = "form-control", @id = "podddl", name = "podddl", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">FPD</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlpod", (IEnumerable<SelectListItem>)ViewBag.PodList, "--Select--", new { @class = "form-control", @id = "podddl", name = "podddl", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">POL</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcommodity", (IEnumerable<SelectListItem>)ViewBag.Ports, "--Select--", new { @class = "form-control", @id = "ddlport", name = "commoddl", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label">Country Destination</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlcommodity", (IEnumerable<SelectListItem>)ViewBag.Country, "--Select--", new { @class = "form-control", @id = "ddlcountry", name = "commoddl", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Remarks</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtremarks" type="text" placeholder="Remarks" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-sm-2">
                                <div class="form-group">
                                    <label class="form-label mandatory">&nbsp;</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <b class=" btn btn-success" onclick="return Add()">Add</b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div>
                                    @*<label class="form-label">Details </label>*@
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1" style="width:100%">
                                        <thead style="background-color: #8969eb;text-align: center;font-family: monospace;">
                                            <tr>
                                                <th style="width:20px;color: white;text-align:center">AccountName</th>

                                                <th style="width:20px;color: white;text-align:center">CHA</th>

                                                <th style="width:20px;color: white;text-align:center">Exporter</th>

                                                <th style="width:40px;color: white;text-align:center">Consignee</th>

                                                <th style="width:10px;color: white;text-align:center">SBNo</th>
                                                <th style="width:10px;color: white;text-align:center">SB Date</th>
                                                <th style="width:10px;color: white;text-align:center">FOB Value</th>
                                                <th style="width:10px;color: white;text-align:center">Unit Name</th>
                                                <th style="width:10px;color: white;text-align:center">Invoice No</th>
                                                <th style="width:10px;color: white;text-align:center">Invoice Date</th>
                                                <th style="width:20px;color: white;text-align:center">Total PKGS</th>
                                                <th style="width:10px;color: white;text-align:center">Cargo Weight</th>
                                                <th style="width:10px;color: white;text-align:center">Cargo Desc</th>
                                                <th style="width:10px;color: white;text-align:center">Container No</th>
                                                <th style="width:10px;color: white;text-align:center">Size</th>
                                                <th style="width:10px;color: white;text-align:center">Container Qty</th>
                                                <th style="width:10px;color: white;text-align:center">Container WT</th>
                                                <th style="width:10px;color: white;text-align:center">Tare Weight</th>
                                                <th style="width:10px;color: white;text-align:center">Remarks</th>
                                                <th class="hiderow" style="width:20px;color: white;text-align:center">AccountID</th>
                                                <th class="hiderow" style="width:20px;color: white;text-align:center">CHAID</th>
                                                <th class="hiderow" style="width:20px;color: white;text-align:center">ExporterID</th>
                                                <th class="hiderow" style="width:20px;color: white;text-align:center">ConsigneeID</th>
                                                <th class="hiderow" style="width:10px;color: white;text-align:center">Unit</th>
                                                <th style="width:1px;color: white;text-align:center">.</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label"></label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input type="submit" id="Save" name="save" value="Save" class="btn btn-success" />*@
                                            <button id="btnSave" class="btn btn-success btn-xs" onclick="return Save();">Save</button>
                                            <input type="button" name="clear" value="Clear" class="btn btn-outline-dark" title="clear" onclick="cleartextboxes();" />
                                            @*<input type="button" name="clear" value="Clear" class="btn btn-default" title="clear" id="clearValue" />*@
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var storeAddedItem = [];
    function Add() {
        debugger;


        var element = {};
        
        element.AGName = $("#ddlcustomer option:selected").text();
        
        element.CHAName = $("#ddlcha option:selected").text();
        
        element.EXPORTER = $("#ddlexporter option:selected").text();
        element.ConsigneeName = $("#ddlconsignee option:selected").text();
        element.SBNo = $('#txtsbno').val();
        element.SBDate = $('#txtsbdate').val();
        element.FOBValue = $('#txtfob').val();
        element.pkgname = $("#ddlpkg option:selected").text();
        element.INVNo = $('#txtinvoiceno').val();
        element.INVDT = $('#txtinvdate').val();

        element.TotalPKGS = $('#txtcarqty').val();
        element.TotalWT = $('#txtcargowt').val();
        element.CargoDesc = $('#txtcargodesc').val();
        element.ConNo = $('#txtcontainerno').val();
        element.Size = $('#txtsize').val();

        element.StuffQTY = $('#txtstuffpkgs').val();
        element.StuffWT = $('#txtstuffweight').val();
        element.TareWT = $('#txttareweight').val();
        element.Remarks = $('#txtremarks').val();
        //all id 
        element.AGID = $('#ddlcustomer').val();
        element.CHAID = $('#ddlcha').val();
        element.EXPORTERID = $('#ddlexporter').val();
        element.ConsigneeID = $('#ddlconsignee').val();
        element.Unit = $('#ddlpkg').val();
        //before push to data it will check null or not
        storeAddedItem.push(element);
        // data tble
        $('#example1').DataTable({
            "destroy": true,
            "bLengthChange": false,
            "aaData": storeAddedItem,
            "bPaginate": false,
            "bInfo": false,
            "paging": false,
            "columns": [
                { "data": "AGName", },
                { "data": "CHAName", },
                { "data": "EXPORTER", },
                { "data": "ConsigneeName", },
                { "data": "SBNo" },
                { "data": "SBDate" },
                { "data": "FOBValue" },
                { "data": "pkgname" },
                { "data": "INVNo" },
                { "data": "INVDT" },
                { "data": "TotalPKGS" },
                { "data": "TotalWT" },
                { "data": "CargoDesc" },
                { "data": "ConNo" },
                { "data": "Size" },
                { "data": "StuffQTY" },
                { "data": "StuffWT" },
                { "data": "TareWT" },
                { "data": "Remarks" },
                // all ids
                { "data": "AGID", "className": "hiderow" },
                { "data": "CHAID", "className": "hiderow" },
                { "data": "EXPORTERID", "className": "hiderow" },
                { "data": "ConsigneeID", "className": "hiderow" },
                { "data": "Unit", "className": "hiderow" },
            ]
        });

        //CLEAR TO ADD ELEMENTS
        $('#txtitems').val("");
        $('#txtpkgs').val("");
        $('#txtunit').val("");
        $('#txtcargowt').val("");
        $('#txttotalwt').val("");
        //validation
        if (element.Items == "") {
            document.getElementById("txtitems").style.borderColor = "red";
            alert('Please  Enter Items!')
            event.preventDefault();
            return;
        }
        if (element.Pkgs == "") {
            document.getElementById("txtpkgs").style.borderColor = "red";
            alert('Please  Enter pkgs!')
            event.preventDefault();
            return;
        }
        if (element.Unit == 0) {
            document.getElementById("txtunit").style.borderColor = "red";
            alert('Please  select unit!')
            event.preventDefault();
            return;
        }

    }

       function Save() {
         debugger;
         ///ddlentryType
        ///CheckVelid()
           var gateinno = "0"
           ///var gateinno = $("#txtgano").val();
           var Indate = $("#txtdate").val();
           var truckno = $("#txttruckno").val();
           var drivername = $("#txtdrivername").val();
           var agid = $("#ddlcustomer").val();
           var chaid = $("#ddlcha").val();
           var challanno = $("#txtchallanno").val();
           var challandate = $("#txtchallandate").val();
           var orderno = $("#txtorder").val();

           if (truckno == "") {
               document.getElementById("txttruckno").style.borderColor = "red";
               alert('Please  Enter Truck no!')
               event.preventDefault();
               return;
           }
           if (drivername == "") {
               document.getElementById("txtdrivername").style.borderColor = "red";
               alert('Please  Enter Driver Name!')
               event.preventDefault();
               return;
           }
           if (agid == 0) {
               document.getElementById("ddlcustomer").style.borderColor = "red";
               alert('Please Select Customer Name!')
               event.preventDefault();
               return;
           }
           if (chaid == 0) {
               document.getElementById("ddlcha").style.borderColor = "red";
               alert('Please Select CHA Name!')
               event.preventDefault();
               return;
           }
           if (challanno == "") {
               document.getElementById("txtchallanno").style.borderColor = "red";
               alert('Please  Enter Challan no!')
               event.preventDefault();
               return;
           }
           if (orderno == "") {
               document.getElementById("txtorder").style.borderColor = "red";
               alert('Please  Enter Order noe!')
               event.preventDefault();
               return;
           }

            var SelectedData = new Array();
            var tablearray = new Array();
           var table = document.getElementById("example1");
            var row;
            for (var i = 1; i < table.rows.length; i++) {
                row = table.rows[i];
                Itemno = row.cells[0].innerText;
                Description = row.cells[1].innerText;
                Items = row.cells[2].innerText;
                Pkgs = row.cells[3].innerText;
                Unit = row.cells[5].innerText;
                CargoWeight = row.cells[6].innerText;
                Total = row.cells[7].innerText;
                SelectedData.push({
                    'Itemno': Itemno, 'Description': Description, 'Items': Items, 'Pkgs': Pkgs,  'Unit': Unit,
                    'CargoWeight': CargoWeight, 'Total': Total
                })
            }
            var data1 = {
                'Debitdata': SelectedData, 'gateinno': gateinno, 'Indate': Indate, 'truckno': truckno, 'drivername': drivername,
                'agid': agid, 'chaid': chaid, 'challanno': challanno, 'challandate': challandate, 'orderno': orderno
            };
            var data = JSON.stringify(data1);
                          $.ajax({
                              url: "/Bond/Save",
                            data: data,
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                              success: function (data) {
                                  alert(data);
                                  document.location = '@Url.Action("CargoGateIn", "Bond")';

                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            }
                        });


    }

</script>

<script>

    function ContainerNo() {
        debugger;

        var ContainerNo = $("#txtcontainerno").val().trim();
        var data1 = { "ContainerNo": ContainerNo };
        var data = JSON.stringify(data1);
        $.ajax({
            type: 'POST',
            url: '/ExportSBEntries/ShowBufferContainerDetails',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#ddlcontainertype').val(data[0].ContainerTypeID);
                $('#txtsize').val(data[0].Size);
                $('#txttareweight').val(data[0].TareWt);
                $('#txtRotation').val(data[0].EntryID);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });

    }

</script>