@model IEnumerable<TrackerMVCEntities.BusinessEntities.ContainerDetails>

@{
    ViewBag.Title = "RoadPlanningSummary";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area overflow-hidden" id="AddItems">
    <div class="page-header">
        <h4 class="page-title">
            Road Planning Summary
        </h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">                   
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a onclick="window.location = '@Url.Action("RoadPlanning", "TrainDeparture_From_Port")' " class="btn btn-primary btn-success" style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-placement="bottom" title="Back"></i>  </a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    
                    <div id="showItems">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="ContainerList" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th >Trailer No.</th>
                                                <th >Container No.</th>
                                                <th >Size</th>
                                                <th >Remarks</th>
                                                <th >Port</th>                                               
                                                <th>Port Out Date & Time</th>
                                            </tr>
                                        </thead>
                                        <tbody style="box-sizing :border-box;">
                                            @foreach (var d in Model)
                                            {
                                                <tr>
                                                    <td>@d.TrailerNo </td>
                                                    <td>@d.ContainerNO </td>
                                                    <td>@d.Size </td>
                                                    <td>@d.Remarks </td>
                                                    <td>@d.portName </td>
                                                    <td>@d.portOutDate </td>
                                                   
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        
                    </div>


                </div>
            </div>


            <!-- Show the table after click of save button  -->
            <!--End of save button-->
        </div>
        <!-- table-wrapper -->
    </div>
    <!-- section-wrapper -->
</div>



<script>

    $(document).ready(function () {

        $('#ContainerList').dataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            "bFilter": true,
            "paging": false,
            "order":[]
        })
    });


</script>




