
<style>
   .fontStyle{
       font-family:(sugo);
       font-weight:500;
       font-size:12pt;
   }
    .borderRt {
        border-right-style: solid;
        border-right-width: 1px;
        border-right-color: gray;
    }
    .borderBt {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: gray;
    }
    .borderUp {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: gray;
    }
</style>
<html>


<body style="margin-left:5%">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr style="height:20px;" class="fontStyle">
                        <td style="text-align:right;">
                            <h5 style="font-weight:700;text-decoration:underline">S/JNCH-D-15/2007 Disp(A)</h5>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:left;" class="fontStyle">
                            <u> 1-Lot No @ViewBag.LotNo -Bubber Type Scrap In Multiple</u>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <hr />
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">File No</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.FileNo </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">IGM/Item</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td  style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.IGMItem </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">Container No</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ContainerNo </span>
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ContainerDetails </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">Date Of Arrival</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.DateOfArrival </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">Date On Which put up for NOC</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.DateNOC </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">Description</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.Description </span>
                        </td>
                    </tr>
                    <tr style="height:40px;">
                        <td style="width:35%">
                            <span id="lblNameOfshipping1" class="fontStyle" align="center">Quantity</span>
                        </td>
                        <td style="width:5%">
                            :
                        </td>
                        <td style="width:60%">
                            <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.Quantity Pkg &nbsp; @ViewBag.Weight KGS </span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tr style="height:40px;">
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Value Ascertained(I)</span>
                                    </td>
                                    <td style="width:5%">
                                        :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ValueAscertainedI </span>
                                    </td>
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Value(I)</span>
                                    </td>
                                    <td style="width:5%">
                                        :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ValueI </span>
                                    </td>
                                </tr>
                                <tr style="height:40px;">
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Value Ascertained(II)</span>
                                    </td>
                                    <td style="width:5%">
                                        :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ValueAscertainedII </span>
                                    </td>
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Value(II)</span>
                                    </td>
                                    <td style="width:5%">
                                       :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ValueIII </span>
                                    </td>
                                </tr>
                                <tr style="height:40px;">
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Reserve Price Ascertained</span>
                                    </td>
                                    <td style="width:5%">
                                        :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ReservePriceAscertained </span>
                                    </td>
                                    <td style="width:20%">
                                        <span id="lblNameOfshipping1" class="fontStyle" align="center">Reserve Price</span>
                                    </td>
                                    <td style="width:5%">
                                        :
                                    </td>
                                    <td style="width:25%">
                                        <span id="lblNameOfshipping" class="fontStyle" align="center"> @ViewBag.ReservePrice </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="table-responsive">
        <div style="text-align:center">
            <h3 class="fontStyle">BID HISTORY</h3>
        </div>
        <table class="tblBox" cellpadding="0" cellspacing="0" width="100%" style="border-style:solid; border-width:1px; border-color:gray;">
            <thead>
                <tr>
                    <th class="HeaderRT borderRt borderBt" style="width:15px;">Sr No.</th>
                    <th class="HeaderRT borderRt borderBt" style="width:100px;">Container No</th>
                    <th class="HeaderRT borderRt borderBt" style="width:100px;">Auction Date</th>
                    <th class="HeaderRT borderRt borderBt" style="width:100px;">Reserce Period</th>
                    <th class="HeaderRT borderRt borderBt" style="width:100px;">Bid Amount</th>
                    <th class="HeaderRT borderRt borderBt" style="width:20px;">Bid %</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dr in ViewBag.ContainerDetailsList)
                {
                    <tr>
                        <td class="HeaderRT borderRt borderBt" style="width:15px;text-align:center;">@dr["SrNo"]</td>
                        <td class="HeaderRT borderRt borderBt" style="width:100px;text-align:center;">@dr["ContainerNo"]</td>
                        <td class="HeaderRT borderRt borderBt" style="width:100px;text-align:center;">@dr["Auction_Date"]</td>
                        <td class="HeaderRT borderRt borderBt" style="width:100px;text-align:center;">@dr["Reserve_Price"]</td>
                        <td class="HeaderRT borderRt borderBt" style="width:100px;text-align:right;">@dr["Bid_Amount"]</td>
                        <td class="HeaderRT borderRt borderBt" style="width:20px;text-align:right;">@dr["Bid_Percentage"]</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <h5>01. This lot consists of @ViewBag.ContainerDetails FCL Containers, and it is less then one year old lot and is subject to 2nd Auction.</h5>
        <h5>02. NOC has been obtained from Group date 07.11.2019 in the lot file. </h5>
        <h5>03. BID offer received Rs. 27000 / which is 108% of <u>Reserve Price and 108% Govt. and heigher value.</u> </h5>
    </div>

</body>
</html>