
@{
    ViewBag.Title = "Empty Port Movement";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<style>
    tr:last-child {
        background: #28afd0 !important;
    }
</style>
<link href="~/css/Transporter.css" rel="stylesheet" />
<div id="divSummary">
    <div class="page-header">
        <h4 class="page-title">ICD TUMB IMPORT EXPORT & EMPTY PORT MOVEMENT(JULY - 2019)</h4>
    </div>
    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">

                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Import Done</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Road</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Rail</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Total</th>

                            </tr>
                            <tr>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange"></th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>

                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">Teus</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ImportEmpty as List<TrackerMVCEntities.BusinessEntities.RevenueAlloperationEntities>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.PortName </td>

                                    <td style="text-align:right;">@d.Road20 </td>
                                    <td style="text-align:right;">@d.Road40 </td>
                                    <td style="text-align:right;">@d.Road45 </td>
                                    <td style="text-align:right;">@d.Rail20 </td>
                                    <td style="text-align:right;">@d.Rail40 </td>
                                    <td style="text-align:right;">@d.Rail45 </td>
                                    <td style="text-align:right;">@d.TotalTues </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>


    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">

                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Export Done</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Road</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Rail</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Total</th>

                            </tr>
                            <tr>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange"></th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>

                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">Teus</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportEmpty as List<TrackerMVCEntities.BusinessEntities.RevenueAlloperationEntities>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.PortName </td>

                                    <td style="text-align:right;">@d.Road20 </td>
                                    <td style="text-align:right;">@d.Road40 </td>
                                    <td style="text-align:right;">@d.Road45 </td>
                                    <td style="text-align:right;">@d.Rail20 </td>
                                    <td style="text-align:right;">@d.Rail40 </td>
                                    <td style="text-align:right;">@d.Rail45 </td>
                                    <td style="text-align:right;">@d.TotalTues </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>


    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">

                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Export Repo(Port & Hazira)</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Road</th>
                                <th style="color:white;text-align:center;font-weight:bold;" colspan="3">Rail</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Total</th>

                            </tr>
                            <tr>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange"></th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">20</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">40</th>
                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">45</th>

                                <th style="color:black;text-align:left;font-weight:bold;background-color:orange">Teus</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.Hariza as List<TrackerMVCEntities.BusinessEntities.RevenueAlloperationEntities>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.PortName </td>

                                    <td style="text-align:right;">@d.Road20 </td>
                                    <td style="text-align:right;">@d.Road40 </td>
                                    <td style="text-align:right;">@d.Road45 </td>
                                    <td style="text-align:right;">@d.Rail20 </td>
                                    <td style="text-align:right;">@d.Rail40 </td>
                                    <td style="text-align:right;">@d.Rail45 </td>
                                    <td style="text-align:right;">@d.TotalTues </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>
</div>
