
@{
    ViewBag.Title = "ICD Export";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<link href="~/css/ICDExport.css" rel="stylesheet" />
<div id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Daily Movement Report</h4>
    </div>
    <div class="row row-cards">
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            <img class="arrival_image" src="~/images/truck-trailer.png">
                            <!-- <i class="mdi mdi-truck-trailer left import_icon arrival"></i> -->
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p> Export Empty In</p>
                            <h1 class="counter">@ViewBag.ImportExportCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportValue" data-thickness="20" data-color="#9f78ff" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ImportExportArrival as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        @* this Code For ICD - Export Studded *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            <img class="arrival_image" src="~/images/truck-trailer.png">
                            @*<i class="mdi mdi-truck-trailer left import_icon arrival"></i>*@
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p> Export Stuffed</p>
                            <h1 class="counter">@ViewBag.ImportExportstuffedCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportValuestudded" data-thickness="20" data-color="#F19F21" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ImportDestuffList as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - Movement *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <img class="arrival_image" src="~/images/tralier-trucknew.png" style="float:right !important;    height: 30px;  margin-right: 8px;width: 50px;" />
                            @* <i class="fa fa-truck left fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:red; margin-left: 8px;"></i>*@
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Movement</p>
                            <h1 class="counter">@ViewBag.ImportExportMovementCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportMovementValue" data-thickness="20" data-color="#FFCC00" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportMovement as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - Inventory *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fe fe-box fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Inventory</p>
                            <h1 class="counter">@ViewBag.ImportExportInventoryCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportInventoryValue" data-thickness="20" data-color="#77CCFF" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportInventory as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - EMpty Out *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fa fa-external-link left fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Empty Out</p>
                            <h1 class="counter">@ViewBag.ImportExportEmptyCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportEmptyValue" data-thickness="20" data-color="#77CC45" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportEmptyOut as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@



        @* this Code For ICD - Month Wise Movement *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fa fa-retweet left fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Export Month Wise Movement</p>
                            <h1 class="counter">@ViewBag.ImportExportMonthCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportMonthValue" data-thickness="20" data-color="#2355B9" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Year</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Month</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Date</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportMonthWiseCollection as List<TrackerMVCEntities.BusinessEntities.MonthlyEntites>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Year </td>

                                    <td style="text-align:right;">@d.MonthName</td>
                                    <td style="text-align:right;">@d.Date </td>
                                    <td style="text-align:right;">@d.P20 </td>
                                    <td style="text-align:right;">@d.P40 </td>
                                    <td style="text-align:right;">@d.P45 </td>
                                    <td style="text-align:right;">@d.GrandTotal </td>
                                    <td style="text-align:right;">@d.TEUS </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - Month Wise Collection *@
        <div class="col-lg-4 col-sm-12" style="display:none">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fa fa-rupee left fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Export Month Wise Collection</p>
                            <h1 class="counter" style="font-size:x-large">@ViewBag.ImportExportMonthCountList</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow"   data-thickness="20" data-color="#66CC78" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                @*<th style="color:white;text-align:left;font-weight:bold;">Year</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Month</th>*@
                                <th style="color:white;text-align:left;font-weight:bold;">Month Name</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Grand Total</th>






                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportMonthWiseCollectionList as List<TrackerMVCEntities.BusinessEntities.MonthlyEntites>)
                            {

                                <tr>
                                    @*<td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Year </td>

                                    <td style="text-align:right;">@d.MonthNo</td>*@
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.MonthName </td>
                                    <td style="text-align:right;">@d.GrandTotal </td>



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - Port Wise Movement *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fa fa-history left fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Port Wise Movement Pendency</p>
                            <h1 class="counter">@ViewBag.ImportExportPortWisePendencycOUNT</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportPortWisePendencyvALUE" data-thickness="20" data-color="#E29856" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TEUS</th>






                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportPortWisePendency as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@


        @* this Code For ICD - Port ShutOut *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fe fe-box fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Port ShutOut</p>
                            <h1 class="counter">@ViewBag.ImportExportPortPortShutOutCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportPortShutOutValue" data-thickness="20" data-color="#77CCFF" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportPortShutOut as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@

        @* this Code For ICD - Re Movement *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fe fe-box fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Re-Movement</p>
                            <h1 class="counter">@ViewBag.ImportExportReMovementCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportRemovementValue" data-thickness="20" data-color="#77CCFF" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportPortReMovement as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@

        @* this Code For ICD - Re Working *@
        <div class="col-lg-4 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">
                <div>
                    <div class="inline">
                        <div>
                            @*<img class="arrival_image" src="~/images/truck-trailer.png">*@
                            <i class="fe fe-box fa-2x" aria-hidden="true" style="float:left; height:30px;width:50px;color:cornflowerblue; margin-left: 8px;"></i>
                        </div>
                        <div class="widget-line mt-5 margin_wrap">
                            <p>Re-Working</p>
                            <h1 class="counter">@ViewBag.ImportExportReWorkingCount</h1>
                        </div>
                    </div>
                </div>
                <div class="mx-auto chart-circle chart-circle-md donutShadow" data-value="@ViewBag.ImportExportReWorkingValue" data-thickness="20" data-color="#77CCFF" id="divarrivalvalue">
                    <div class="chart-circle-value fs"><i class="fa fa-random"></i></div>
                </div>

                <br />
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap" id="Divarrival">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:right;font-weight:bold;">20</th>
                                <th style="color:white;text-align:right;font-weight:bold;">40</th>
                                <th style="color:white;text-align:right;font-weight:bold;">45</th>
                                <th style="color:white;text-align:right;font-weight:bold;">TOTAL</th>
                                <th style="color:white;text-align:right;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ExportPortReWorking as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Total </td>
                                    <td style="text-align:right;">@d.Teus </td>


                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @* Code end *@
    </div>
</div>


