
@{
    ViewBag.Title = "ImportDelivery";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}



<link href="~/css/Transporter.css" rel="stylesheet" />
<div id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Import Delivery</h4>
    </div>
    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:left;font-weight:bold;">20</th>
                                <th style="color:white;text-align:left;font-weight:bold;">40</th>
                                <th style="color:white;text-align:left;font-weight:bold;">45</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ImportDeliverList as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                            <tr>
                                <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                <td style="text-align:right;">@d.T20</td>
                                <td style="text-align:right;">@d.T40 </td>
                                <td style="text-align:right;">@d.T45 </td>
                                <td style="text-align:right;">@d.Teus </td>



                            </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>
</div>

<link href="~/css/Transporter.css" rel="stylesheet" />
<div id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Import Destuff Delivery</h4>
    </div>
    <div class="row row-cards">
        <div class="col-lg-6 col-sm-12">

            <div class="card text-center" style="border: 1px solid #9f78ff;" id="importArrivalMainCard">


                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap">
                        <thead class="text-white" style="background-color:#7bc144">
                            <tr>
                                <th style="color:white;text-align:left;font-weight:bold;">Process</th>
                                <th style="color:white;text-align:left;font-weight:bold;">20</th>
                                <th style="color:white;text-align:left;font-weight:bold;">40</th>
                                <th style="color:white;text-align:left;font-weight:bold;">45</th>
                                <th style="color:white;text-align:left;font-weight:bold;">Teus</th>





                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var d in ViewBag.ImportDestuffList as List<TrackerMVCEntities.BusinessEntities.CustomerWiseLDDReport>)
                            {

                                <tr>
                                    <td class="bg-primary text-white" style="text-align:left;padding: 10px 10px 0px 10px; cursor: pointer;">@d.Process </td>

                                    <td style="text-align:right;">@d.T20</td>
                                    <td style="text-align:right;">@d.T40 </td>
                                    <td style="text-align:right;">@d.T45 </td>
                                    <td style="text-align:right;">@d.Teus </td>



                                </tr>
                            }

                        </tbody>
                    </table>
                </div>



            </div>


        </div>



        <!--Codes By Trailers Location-->
        <!--bar graph-->
    </div>
</div>