@{
    ViewBag.Title = "InvoiceRevenueReport";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="tracker-loader"></div>
<script src="~/js/GetTableJson.js"></script>
<div class=" content-area" id="divSummary">
    <div class="page-header">
        <h4 class="page-title">Revenue Report</h4>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Search Criteria</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlSearchCriteria", new List<SelectListItem>
                                        { new SelectListItem { Text = "Line", Value = "Line"},
                                            new SelectListItem { Text = "CHA", Value = "CHA"},
                                            new SelectListItem { Text = "Importer", Value = "Importer"},
                                          }, new { @class = "form-control", autocomplete = "off", @id = "ddlSearchCriteria" })
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12" id="divVIANo">
                                <div class="form-group">
                                    <label class="form-label" id="lblSearchDisplay">Jo Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddJoType", new List<SelectListItem>
                                        { new SelectListItem { Text = "Import", Value = "Import"},
                                            new SelectListItem { Text = "DPD", Value = "DPD"},
                                            new SelectListItem { Text = "DPD 48 Hrs", Value = "DPD 48 Hrs"},
                                            new SelectListItem { Text = "Domestic", Value = "Domestic"},
                                          }, new { @class = "form-control", autocomplete = "off", @id = "ddJoType" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" id="divLine">
                                <div class="form-group">
                                    <label class="form-label" id="lblSearchDisplay">Line Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlLine",
                                                                     (IEnumerable<SelectListItem>)ViewBag.Line,
                                                            "--Select--",
                                                   new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" style="display:none" id="divCHA">
                                <div class="form-group">
                                    <label class="form-label" id="lblSearchDisplay">CHA Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlCHA",
                                                                      (IEnumerable<SelectListItem>)ViewBag.CHA,
                                                             "--Select--",
                                                    new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12" style="display:none" id="divImporter">
                                <div class="form-group">
                                    <label class="form-label" id="lblSearchDisplay">Importer Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlImporter",
                                                                      (IEnumerable<SelectListItem>)ViewBag.Importer,
                                                             "--Select--",
                                                    new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label"> From Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-7).ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label"> To Date</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy HH:mm") })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden"> '</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="button" id="btnShow" value="Show" class="btn btn-primary" />
                                            <input type="button" value="Print" class="btn btn-primary" onclick="PrintRevenueReport();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @Html.ActionLink("Export To Excel", "ExportToExcelRevenueReport", null, new { @class = "btn btn-primary btn-md" })
                    <div class="row" id="divContainerDetails">
                        <div class="table-responsive">
                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1">

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(window).on('load', function () {
        $("#tracker-loader").fadeOut("slow");
    });


    $(document).ready(function () {
        $("#ddlSearchCriteria").on('change',function () {

            if ($("#ddlSearchCriteria").val() == "Line") {
                $("#divLine").show();
                $("#divCHA").hide();
                $("#divImporter").hide();
                $("#divForwarder").hide();
            }

            if ($("#ddlSearchCriteria").val() == "CHA") {
                $("#divLine").hide();
                $("#divCHA").show();
                $("#divImporter").hide();
                $("#divForwarder").hide();
            }

            if ($("#ddlSearchCriteria").val() == "Importer") {
                $("#divLine").hide();
                $("#divCHA").hide();
                $("#divImporter").show();
                $("#divForwarder").hide();
            }
        });

        $("#btnShow").click(function () {
            Show();
        });

        //if ($("#ddJoType").val() == "Forwarder") {
        //    $("#divLine").hide();
        //    $("#divCHA").hide();
        //    $("#divImporter").hide();
        //    $("#divForwarder").show();
        //}
    });
</script>

<script type="text/javascript">
    function Show() {
        debugger;
        $("#tracker-loader").fadeIn("slow");

        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var ddlSearchCriteria = $("#ddlSearchCriteria").val();
        var ddJoType = $("#ddJoType").val();
        var CustomerId = 0;

        if (ddlSearchCriteria == "Line") {
            CustomerId = $("#ddlLine").val();
        }
        if (ddlSearchCriteria == "CHA") {
            CustomerId = $("#ddlCHA").val();
        }
        if (ddlSearchCriteria == "Importer") {
            CustomerId = $("#ddlImporter").val();
        }

        var data1 = { 'FromDate': FromDate, 'ToDate': ToDate, 'CustomerType': ddlSearchCriteria, 'JoType': ddJoType, 'CustomerId': CustomerId };
        data = JSON.stringify(data1);

        // alert(data);
        $.ajax({

            url: '/Report/getRevenueSummary',
            type: 'Post',
            data: data,
            async: true,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                RepTableDataJson($("#example1"), data, "ContainerRevenueReport", "ContainerRevenueReport");
                $("#tracker-loader").fadeOut("slow");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }


        });
    }
</script>
<script>
    function PrintRevenueReport() {
        $("#tracker-loader").fadeIn("slow");

        try {
            debugger;
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var ddlSearchCriteria = $("#ddlSearchCriteria").val();
            var ddJoType = $("#ddJoType").val();
            var CustomerId = 0;

            if (ddlSearchCriteria == "Line") {
                CustomerId = $("#ddlLine").val();
            }
            if (ddlSearchCriteria == "CHA") {
                CustomerId = $("#ddlCHA").val();
            }
            if (ddlSearchCriteria == "Importer") {
                CustomerId = $("#ddlImporter").val();
            }

            var data1 = { 'FromDate': FromDate, 'ToDate': ToDate, 'CustomerType': ddlSearchCriteria, 'JoType': ddJoType, 'CustomerId': CustomerId };
            data = JSON.stringify(data1);

            $.ajax({
                url: '/Report/InvoiceRevenueReportPrint',
                type: 'Post',
                data: data,
                async: true,
                contentType: 'application/json; charset=utf-8',
                success: function (response) {
                    $("#tracker-loader").fadeOut("slow");
                    //window.print();
                    var myWindow = window.open("", "MsgWindow1", 'width=' + screen.availWidth + ',height=' + screen.availHeight + ',resizable=no');
                    myWindow.close();
                    var myWindow = window.open("", "MsgWindow1", 'width=' + screen.availWidth + ',height=' + screen.availHeight + ',resizable=no');
                    myWindow.document.write(response);
                    //myWindow.print();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                    $("#tracker-loader").fadeOut("slow");
                }
            });
        }
        catch (ex) {
            $("#tracker-loader").fadeOut("slow");
        }
        
    };

    //$(document).on("load",function () {
    //    alert('load');
    //    $("#tracker-loader").fadeOut("slow");
    //});
</script>
