<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Line Wise Teus Summary Report</title>
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        .Headertr {
            background-color: #deb887;
            color: black;
            font-weight: 700;
        }
        .Headertd {
            text-align: left;
            font-size: 11pt;
            padding: 3px;
            font-family: serif;
        }

        .Header2tr {
            background-color: #d3d3d3;
            color: black;
        }

        .Header2td {
            text-align: left;
            font-size: 9pt;
            padding: 3px;
            font-family: serif;
            font-weight: 600;
        }

        .rowGak {
            background-color: #f3f5dc;
            font-size: 9pt;
            font-family: serif;
            padding: 3px;
            text-align: left;
            font-weight: 600;
        }

    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%;">
        <div class="table-responsive">
            <table class="tblBox">
                @foreach (var dr in ViewBag.InvoiceListList)
                {
                    if (dr["FT_20"].ToString().Length > 7)
                    {
                        <tr class="Headertr">
                            <td class="Headertd">@dr["SEQ_ID"]  </td>
                            <td class="Headertd" style="width:150px">@dr["GENERATED_DATE"] </td>
                            <td class="Headertd">@dr["TYPE"] </td>
                            <td class="Headertd" colspan="7">@dr["FT_20"] </td>
                            <td class="Headertd">@dr["AMT40_T"]</td>
                            <td class="Headertd">@dr["AMT_PER_TEU"]</td>
                            <td class="Headertd">@dr["LINE_INCENTIVE"]</td>
                            <td class="Headertd">@dr["CHA_INCENTIVE"]</td>
                            <td class="Headertd">@dr["FORWARDER_INCENTIVE"]</td>
                            <td class="Headertd">@dr["BROKAR_INCENTIVE"]</td>
                            <td class="Headertd">@dr["TOTAL_INCENTIVE"]</td>
                            <td class="Headertd">@dr["NET_REVENUE_PER_TUES"]</td>
                            <td class="Headertd">@dr["CFS"]</td>
                        </tr>
                     }
                    else if(dr["FT20_INVOICE"].ToString().Length > 15)
                    {
                        <tr class="Header2tr">
                            <td class="Header2td" > @dr["SEQ_ID"] </td>
                            <td class="Header2td" style="width:150px" > @dr["GENERATED_DATE"] </td>
                            <td class="Header2td" > @dr["TYPE"] </td>
                            <td class="Header2td" > @dr["FT_20"] </td>
                            <td class="Header2td" > @dr["FT_40"] </td>
                            <td class="Header2td" > @dr["TUES"] </td>
                            <td class="Header2td" > @dr["FT20_INVOICE"] </td>
                            <td class="Header2td" > @dr["FT40_INVOICE"] </td>
                            <td class="Header2td" > @dr["TOTAL"] </td>
                            <td class="Header2td" > @dr["AMT20_T"] </td>
                            <td class="Header2td" > @dr["AMT40_T"] </td>
                            <td class="Header2td" > @dr["AMT_PER_TEU"] </td>
                            <td class="Header2td" > @dr["LINE_INCENTIVE"] </td>
                            <td class="Header2td" > @dr["CHA_INCENTIVE"] </td>
                            <td class="Header2td" > @dr["FORWARDER_INCENTIVE"] </td>
                            <td class="Header2td" > @dr["BROKAR_INCENTIVE"] </td>
                            <td class="Header2td" > @dr["TOTAL_INCENTIVE"] </td>
                            <td class="Header2td" > @dr["NET_REVENUE_PER_TUES"] </td>
                            <td class="Header2td" > @dr["CFS"] </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <td style="text-align:left">@dr["SEQ_ID"] </td>
                            <td style="text-align:left;width:150px">@dr["GENERATED_DATE"] </td>
                            <td style="text-align:left">@dr["TYPE"] </td>
                            <td style="text-align:left">@dr["FT_20"] </td>
                            <td style="text-align:left">@dr["FT_40"] </td>
                            <td style="text-align:left">@dr["TUES"] </td>
                            <td style="text-align:right">@dr["FT20_INVOICE"]</td>
                            <td style="text-align:right">@dr["FT40_INVOICE"]</td>
                            <td style="text-align:right">@dr["TOTAL"]</td>
                            <td style="text-align:right">@dr["AMT20_T"]</td>
                            <td style="text-align:right">@dr["AMT40_T"]</td>
                            <td style="text-align:right">@dr["AMT_PER_TEU"]</td>
                            <td style="text-align:right">@dr["LINE_INCENTIVE"]</td>
                            <td style="text-align:right">@dr["CHA_INCENTIVE"]</td>
                            <td style="text-align:right">@dr["FORWARDER_INCENTIVE"]</td>
                            <td style="text-align:right">@dr["BROKAR_INCENTIVE"]</td>
                            <td style="text-align:right">@dr["TOTAL_INCENTIVE"]</td>
                            <td style="text-align:right">@dr["NET_REVENUE_PER_TUES"]</td>
                            <td style="text-align:right">@dr["CFS"]</td>
                        </tr>
                    }

                }
            </table>
        </div>
    </div>
</body>
</html>
