@model IEnumerable<TrackerMVCEntities.BusinessEntities.PendingContainerAgainZeroJo>

@{
    ViewBag.Title = "PendingContainerAgainZeroJo";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area overflow-hidden">
    <div class="page-header">
        <h4 class="page-title">Pending Container Again Zero Jo</h4>
    </div>

    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example2" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th style="width:1px">Sr No.</th>
                                            <th>JO No.</th>
                                            <th>Container No.</th>
                                            <th>Seal No</th>
                                            <th>Truck No</th>
                                            <th>EIR No</th>
                                            <th>EIR Date</th>
                                            <th>In Date</th>
                                            <th>Added By</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody style="box-sizing :border-box;">
                                        @foreach (var d in Model)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(m => d.SrNo)</td>
                                                <td>@Html.DisplayFor(m => d.JONo)</td>
                                                <td>@Html.DisplayFor(m => d.ContainerNo)</td>
                                                <td>@Html.DisplayFor(m => d.SealNo)</td>
                                                <td>@Html.DisplayFor(m => d.TruckNo)</td>
                                                <td>@Html.DisplayFor(m => d.EIRNo)</td>
                                                <td>@Html.DisplayFor(m => d.EIRDate)</td>
                                                <td>@Html.DisplayFor(m => d.InDate)</td>
                                                <td>@Html.DisplayFor(m => d.AddedBy)</td>
                                               
                                            </tr>


                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example2').DataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            //"bFilter": false,
            "paging": false,
            "dom": 'Bfrtip',
            "buttons": [{
                "extend": 'excel',
                "title": 'PendingContainerAgainZeroJo',
                "filename": 'PendingContainer_List'

            }
            ]
        });



    });
</script>



