@model IEnumerable<TrackerMVCEntities.BusinessEntities.UpcomingVehicleStatusEntities>
@{
    ViewBag.Title = "Vehicles out of ICD";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class="content-area overflow-hidden">
    <div class="page-header"><h4 class="page-title"> Vehicles out of ICD: @Model.Count()</h4></div>
    @Html.ActionLink("Export To Excel", "ExportToExcelVehiclesoutIcd", null, new { @class = "btn btn-primary btn-md" })
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body"> 
                    <div class="row">
                        <div class="col-md-12 col-lg-12">

                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th class="wd-15p sorting">Sr No.</th>
                                            <th class="wd-15p sorting">Date</th>
                                            <th class="wd-15p sorting">Time</th>
                                            <th class="wd-15p sorting">Trailer no.</th>
                                            <th class="wd-15p sorting">Activity</th>
                                            <th class="wd-15p sorting">Party</th>
                                            <th class="wd-15p sorting">Location</th>
                                            <th class="wd-15p sorting">Container No.</th>
                                            <th class="wd-15p sorting">Size</th>
                                            <th class="wd-15p sorting">line name</th>
                                            <th class="wd-15p sorting">Total Hours</th>
                                            <th class="wd-15p sorting">Delay Hours</th>
                                            <th class="wd-15p sorting">KAM</th>


                                        </tr>
                                    </thead>
                                    <tbody style="box-sizing :border-box;">
                                        @foreach (var d in Model)
                                        {
                                            <tr>

                                                <td>@Html.DisplayFor(m => d.SrNo)</td>
                                                <td>@Html.DisplayFor(m => d.Date)</td>
                                                <td>@Html.DisplayFor(m => d.Time)</td>
                                                <td>@Html.DisplayFor(m => d.Trailername)</td>
                                                <td>@Html.DisplayFor(m => d.Activity)</td>
                                                <td>@Html.DisplayFor(m => d.agname)</td>
                                                <td>@Html.DisplayFor(m => d.Location)</td>
                                                <td>@Html.DisplayFor(m => d.ContainerNo)</td>
                                                <td>@Html.DisplayFor(m => d.Size)</td>
                                                <td>@Html.DisplayFor(m => d.slname)</td>
                                                <td>@Html.DisplayFor(m => d.TotalHours)</td>
                                                <td>@Html.DisplayFor(m => d.DelayHours)</td>
                                                <td>@Html.DisplayFor(m => d.KAM)</td>

                                            </tr>


                                        }

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

