
@{
    ViewBag.Title = "ExportMovementAcceptCTR";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>@*ExportMovementAcceptCTR*@</h2>


<style>
    .hiddenfield {
        display: none;
    }
</style>
<div id="ExportbttcargoJO">
    <div class="page-header">
        <h5 class="page-title">Export Movement Accept CTR</h5>
        <a class="btn btn-sm" href="#" style="height:36px;align-content:center;color:white;background-color: #5ed84f;" data-placement="bottom" title="Add" data-original-title="Add" onclick="GetBack()"><i class="fa fa-arrow-left  mt-1"></i> </a>

    </div>
    <div class="row">
        <div class="col-md-10 col-lg-12">
            <div class="card">
                <div class="card-body">

                 

                    <div class="row">
                        <div class="col-lg-3 col-sm-7">
                            <div class="form-group">
                                <label class="form-label">Containner No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtContainnerNo", null, new { @class = "form-control ", @id = "txtContainnerNo", Placeholder = "", @autocomplete = "off" })


                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-primary" type="button" id="btnAddSBNo" name="Add" onclick="FetchExpMovementAccCTRDetails()"><i class="fa fa-check"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>





                    </div>



                    <div class="row">
                        <div class="col-lg-3 col-sm-7">
                            <div class="form-group">
                                <label class="form-label">Size</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSize", null, new { @class = "form-control ", @id = "txtSize", Placeholder = "", @autocomplete = "off" })


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                    
                    <div class="row">
                        <div class="col-lg-3 col-sm-7">
                            <div class="form-group">
                                <label class="form-label" style="display:none">EntryID</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.Hidden("txtEntryID", null, new { @class = "form-control ", @id = "txtEntryID", Placeholder = "", @autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">On Account</label>
                                @Html.TextBox("txtOnAccount", null, new { @class = "form-control ", @id = "txtOnAccount", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Exporter</label>
                                @Html.TextBox("txtExporter", null, new { @class = "form-control ", @id = "txtExporter", Placeholder = "", @autocomplete = "off", @readonly = "true" })
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Shipping Line </label>
                                @Html.TextBox("txtShippingLine", null, new { @class = "form-control ", @id = "txtShippingLine", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">CHA Name</label>
                                @Html.TextBox("txtCHAName", null, new { @class = "form-control ", @id = "txtCHAName", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>



                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Cargo No</label>
                                @Html.TextBox("txtCargoNo", null, new { @class = "form-control ", @id = "txtCargoNo", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">LEO NO</label>
                                @Html.TextBox("txtLEONO", null, new { @class = "form-control ", @id = "txtLEONO", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">LEO Date </label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtLEODate", null, new { @class = "form-control form_datetime1", @id = "txtLEODate", Placeholder = "", @autocomplete = "off" })


                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Seal No</label>
                                @Html.TextBox("txtSealNo", null, new { @class = "form-control ", @id = "txtSealNo", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Custom Seal</label>
                                @Html.TextBox("txtCustomSeal", null, new { @class = "form-control ", @id = "txtCustomSeal", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Transport Type</label>
                                @Html.DropDownList("ddlTransportType", new List<SelectListItem>
                                          { new SelectListItem { Text = "--Select--", Value = "0"},
                                      new SelectListItem { Text = "Road", Value = "Road"},
                                             }, new { @class = "form-control", autocomplete = "off", @id = "ddlTransportType" })

                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Via No</label>
                                @Html.TextBox("txtViaNo", null, new { @class = "form-control ", @id = "txtViaNo", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                    </div>

                  

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">POL </label>
                                @Html.TextBox("txtPOL", null, new { @class = "form-control ", @id = "txtPOL", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">POD </label>
                                @Html.TextBox("txtBttQty", null, new { @class = "form-control ", @id = "txtBttQty", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>




                    </div>

                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Vessal Name </label>
                                @Html.TextBox("txtVessalName", null, new { @class = "form-control ", @id = "txtVessalName", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Cut off date </label>
                                @Html.TextBox("txtCutoffDate", null, new { @class = "form-control form_datetime1", @id = "txtCutoffDate", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>




                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Remarks </label>
                                @Html.TextBox("txtRemarks", null, new { @class = "form-control ", @id = "txtRemarks", Placeholder = "", @autocomplete = "off" })
                            </div>
                        </div>


                   




                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-success" type="button" id="btnSave" name="Add" onclick="OnSave()">Save</button>&nbsp;
                                        @*<button class="btn btn-success" type="button" id="btnPrint" name="Add">Print</button>&nbsp;*@
                                        <button type="button" class="btn btn-icon btn-gray" name="clearProfile" onclick="Clear()" ;title="clear" id="btnclearValue">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>

<script>

    function FetchExpMovementAccCTRDetails() {

        var ContainnerNo = $("#txtContainnerNo").val();

        if (ContainnerNo == "" || ContainnerNo == undefined || ContainnerNo == null || ContainnerNo == 0) {
            alert("Containner no can not be blank");
            return false;
        }

        var data1 = { 'ContainnerNo': ContainnerNo }
        var data = JSON.stringify(data1);

        $.ajax({
                type: 'POST',
                url: '/ExportModel/GetMovementAccCTRDetailsbyContainnerNo',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
           
                success: function (data) {
                   
                    if (data.length == 0 || data == "[]") {
                        alert("Data Not Found");
                    } else {

                        $("#txtSize").val(data[0].Size);
                        $("#txtOnAccount").val(data[0].OnAccount);
                        $("#txtExporter").val(data[0].Shippername);
                        $("#txtShippingLine").val(data[0].SLName);
                        $("#txtCHAName").val(data[0].CHAName);
                        $("#txtCargoNo").val(data[0].Cargotype);
                        $("#txtEntryID").val(data[0].entryID);

                        //$("#txtLEODate").val(data[0].LEODate);
                        //$("#txtSealNo").val(data[0].SealNo);
                        //$("#txtCustomSeal").val(data[0].AgentSeal);
                        //$("#ddlTransportType").val(data[0].TransportType);

          
                    }


            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
            }
        });
    }

     function OnSave() {

     var AgencyID =   $("#GatePassNo").val();
     var EntryID =   $("#txtEntryID").val();
     var ContainnerNo =   $("#txtContainnerNo").val();
     var Size =   $("#txtSize").val();
     var Cargotype =   $("#txtCargotype").val();
     var Viano =   $("#txtViano").val();
     var Remarks =   $("#txtRemarks").val();
     var POLID =   $("#txtPOL").val();
     var TransTypeID =   $("#ddlTransportType").val();
     var LEONo =   $("#txtLEONo").val();
     var LEODate =   $("#txtLEODate").val();

    
        if (ContainnerNo == 0 || ContainnerNo == undefined ) {
          alert("ContainerNo Cannot be left blank");
          return false;
        }

        if (TransTypeID == 0 || TransTypeID == "" || TransTypeID == undefined || TransTypeID == null) {
            alert("Transport type cannot be left blank");
            return false;
        }

        if (POLID == 0 || POLID == "" || POLID == undefined || POLID == null) {
            alert("POL cannot be left blank");
            return false;
        }

        if (LEONo == 0 || LEONo == "" || LEONo == undefined || LEONo == null) {
            alert("LEO No cannot be left blank");
            return false;
        }

        if (Viano == 0 || Viano == "" || Viano == undefined || Viano == null) {
            alert("Via cannot be left blank");
            return false;
        }

         
        var element = {};
        element.AgencyID = AgencyID;
        element.EntryID = EntryID;
        element.ContainnerNo = ContainnerNo;
        element.Size = Size;
        element.Cargotype = Cargotype;
        element.Viano = Viano;
        element.Remarks = Remarks;
        element.POLID = POLID;
        element.TransTypeID = TransTypeID;
        element.LEONo = LEONo;
        element.LEODate = LEODate;
  



        var data1 = { 'MovementCTRData': element }
        var data = JSON.stringify(data1);

         $.ajax({
                type: 'POST',
                url: '/ExportModel/SaveMovementAccCTR',
                data: data,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
           
                success: function (responce) {
                    alert(responce);
                    document.location = '@Url.Action("ExportbttcargoGP", "ExportModel")';
                  
             },
                error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
            }
         });
    }

</script>