
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/JsBarcode.all.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://www.easyproject.cn/easyqrcodejs/easy.qrcode.min.js?v=10" type="text/javascript" charset="utf-8"></script>
    <style>

        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        #qrcode {
            width: 30px !important;
            height: 50px !important;
            margin: 2px;
            /*margin-top: 15px;*/
        }

        .boxHeaderCentral {
            /*float: left;*/
            width: 46%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderRight {
            width: 29%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderLeft {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }
        #UPIcode {
            width: 200px !important;
            height: 200px !important;
            margin: 2px;

        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:5%">
                            <img height="40" width="150" style="margin-left:10px;margin-top:20px;" src="~/images/NavkarLogo.jpg" />
                        </th>
                        <th style="width:55%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="font-size:12pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.con_Name</spam>   <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.CINNo</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.RegdOffice</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.AddressI</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.IMP_AC_EMAILID</spam> <br />
                        </th>
                        <th style="width:15%;text-align:center;background-color:white">
                            <div class="boxHeaderRight" style="height:200px;">
                                <div id="qrcode"> </div>
                                <div id="UPIcode"></div>
                            </div>
                            @*<input type="checkbox" name="checklist[]" id="chkDelLoc" readonly style="font-size:7pt" checked>
                                <span>Original for recipient </span><br />
                                <input type="checkbox" name="checklist[]" id="chkDelLoc" readonly style="font-size:7pt">
                                <span>Duplicate for supplier</span>*@
                        </th>
                    </tr>
                </tbody>
            </table>

            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:12pt">
                            Carting Tax Invoice
                        </th>
                    </tr>
                </tbody>
            </table>
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th colspan="4" style="width:20%;text-align:left">IRN :@ViewBag.Irn</th>
                    </tr>
                    @*<tr>
                            <th style="width:150px;text-align:left">IRN :</th>
                            <th style="text-align:left">@ViewBag.Irn</th>


                        </tr>*@
                    <tr>
                        <th style="width:100px;text-align:left">Ack.No :</th>
                        <th style="text-align:left">@ViewBag.AckNo</th>
                        <th style="width:100px;text-align:left">ACK Date: :</th>
                        <th style="text-align:left">@ViewBag.AckDt</th>
                    </tr>

                </tbody>
            </table>
            <div class="printBody clearfix">
                <div class="box" style="border-style:none;">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:10%;text-align:left">Invoice No</th>
                                <td style="width:50%;text-align:left">@ViewBag.InvNo</td>
                                <th style="width:10%;text-align:left">Invoice Date</th>
                                <td style="width:50%;text-align:left;">@ViewBag.AssessDate</td>
                            </tr>
                            <tr>
                                <th colspan="4" style="width:20%;text-align:left">Details of Receiver/ Billed to:</th>
                            </tr>
                            <tr>
                                <td colspan="4" style="vertical-align:top;width:70%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:15%;text-align:left;border-style:none">Name</th>
                                                    <td style="width:85%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden">Sp</label> @ViewBag.GSTName</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:15%;text-align:left;border-style:none">Address </th>
                                                    <td style="width:85%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.GSTAddress</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:15%;text-align:left;border-style:none">GSTIN </th>
                                                    <td style="width:85%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden">Sp</label> @ViewBag.GSTIn_uniqID</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:15%;text-align:left;border-style:none">Place of Supply </th>
                                                    <td colspan="1" style="border-style:none;">
                                                        <table class="tblBox">
                                                            <tr>
                                                                <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.State</td>
                                                                <th style="width:25%;text-align:left;border-style:none;border: 1px solid gray;">State Code </th>
                                                                <td style="width:30%;text-align:left;border-style:none;border: 1px solid gray;"><label style="visibility:hidden">Sp</label> @ViewBag.state_Code</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="printBody clearfix">
                <div class="box" style="border-style: none;">
                    <table class="tblBox" style="border-style: none;">
                        <tbody>
                            <tr>
                                <td colspan="4" style="vertical-align:top">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:15%;text-align:left;border-style:none">Exporter Name</th>
                                                    <td style="width:35%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.shippername</td>
                                                    <th style="width:15%;text-align:left;border-style:none">CHA Name</th>
                                                    <td style="width:35%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.CHAName</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">Line</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.ShippingLine</td>
                                                    @*<th style="width:10%;text-align:left;border-style:none">Customer Name</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.AGName</td>*@
                                                </tr>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">RRNo</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.RRNo</td>
                                                    <th style="width:10%;text-align:left;border-style:none">RR Date</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.RRDATE</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">BL Number</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.BLNumber</td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 7.5pt;">Shipping Bill Details:</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Assess No</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Work Year</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">SB Number</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Carting Date</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Cargo Descriptions</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">PKGS</th>

                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Cargo Weight</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Stuffing Date</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Week</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">vehicle No</th>



                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.ContainerDetailsList)
                        {
                        <tr>
                            <td style="text-align:center">@dr["SRNo"]</td>
                            <td style="text-align:left">@dr["AssessNo"]</td>
                            <td style="text-align:left">@dr["WorkYear"]</td>
                            <td style="text-align:left">@dr["SBNumber"]</td>
                            <td style="text-align:center">@dr["CartingDate"]</td>
                            <td style="text-align:center">@dr["CargoDesc"]</td>
                            <td style="text-align:center">@dr["Weight"]</td>
                            <td style="text-align:center">@dr["Pkgs"]</td>


                            <td style="text-align:center">@dr["Stuffing"]</td>

                            <td style="text-align:center">@dr["Week"]</td>
                            <td style="text-align:center">@dr["VehicleNo"]</td>

                        </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 7.5pt;">Charges Details:</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Details Of Bill Item Description</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Work Year</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Size</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Qty</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Amount</th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.InvoiceItemList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SrNo"]</td>
                                <td style="text-align:left">@dr["AcName"]</td>
                                <td style="text-align:center">@dr["WorkYear"]</td>
                                <td style="text-align:center">@dr["size"]</td>
                                <td style="text-align:center">@dr["Count"]</td>
                                <td style="text-align:center">@dr["Amt"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>


            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;" id="divchargesDesc">
                    <thead>
                        <tr>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;text-align:center" rowspan="2">Sr No.</th>
                            <th style="width:20%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Charges Description</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">SAC Code</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Amount</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Taxable Value</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">SGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">CGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">IGST</th>
                        </tr>
                        <tr>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.chargesDetails)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SrNo"]</td>
                                <td style="text-align:left">@dr["AccountName"]</td>
                                <td style="text-align:center">@dr["HSN"]</td>
                                <td style="text-align:right">@dr["NetAmount"]</td>
                                <td style="text-align:center">@dr["amount"]</td>
                                <td style="text-align:center">@dr["Srate"]</td>
                                <td style="text-align:right">@dr["SGST"]</td>
                                <td style="text-align:center">@dr["CRate"]</td>
                                <td style="text-align:right">@dr["CGST"]</td>
                                <td style="text-align:center">@dr["IRate"]</td>
                                <td style="text-align:right">@dr["IGST"]</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot style="background-color:yellow">
                        <tr>
                            <td style="text-align:center;" colspan="2">Total</td>
                            <td style="text-align:center;"></td>
                            <td style="text-align:right">@ViewBag.Amount </td>
                            <td style="text-align:right">@ViewBag.NetAmount </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.SGST </td>
                            <td style="text-align:center"> </td>
                            <td style="text-align:right">@ViewBag.CGST </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.IGST </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div style="border:1px solid gray;">
                <div class="printBody clearfix">
                    <div class="box" style="border-style: none;">
                        <table class="tblBox">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="vertical-align:top;width:65%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid black;">
                                                        <th style="width:20%;text-align:left;border-top:none;font-weight: 500;border-style: none;">Total Invoice Amount in Words: :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;border-top:none">@ViewBag.TotalAmountInWords</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: bold;border-style: none;">BANK DETAILS :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">Company Name &nbsp; @ViewBag.CompanyName</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;;font-weight: 500;border-style: none;">@ViewBag.BankName</th>
                                                        <td style="width:30%;text-align:left;border-style: none;">@ViewBag.AccountNo</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.BranchName</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.IFSCCode</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:5%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">Remarks</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">@ViewBag.remarks</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td colspan="2" style="vertical-align:top;width:35%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important"> Total Amount Before Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.AmountWithoutTax</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : CGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.CGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add :SGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.SGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : IGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.IGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Tax Amount : GST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.TaxAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none"> Total Amount After Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: bold;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none;border-right:none !important">@ViewBag.TotalAmount</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="boxHalf clearfix" style="text-align:left;height:220px">
                    <h5 style="margin-top:0px;margin-bottom:0px;">Terms and conditions</h5>
                    <h6 style="margin-top:0px;margin-bottom:0px;font-family:Segoe UI;font-weight:normal">
                        @ViewBag.NoteVI
                    </h6>
                    <h5>@ViewBag.GSTIN    <label style="visibility:hidden">Hello</label>       @ViewBag.Panno</h5>

                    <h3 style="font-weight:normal">Note:This is Computer Generated Invoice, Signature & Stamp Not Required <br />(E.& O.E.)</h3>

                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:30px">
                    <h3>@ViewBag.NoteRemarks</h3>
                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:190px">
                    <br />
                    <h3>@ViewBag.con_Name</h3><br /><br />
                    <h3>Authorised Signatory</h3>
                </div>
            </div>
            <div class="printBody clearfix">
                <div class="box" style="border-style: none;">
                    <table class="tblBox" style="border-style: none;">
                        <tbody>
                            <tr>
                                <td colspan="4" style="vertical-align:top">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">Prepared By</th>
                                                    <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.UserName</td>
                                                    <th style="width:10%;text-align:left;border-style:none">Checked By</th>
                                                    <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label>@ViewBag.CheckedBy</td>
                                                    <th style="width:10%%;text-align:left;border-style:none;visibility:hidden">Timing</th>
                                                    <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Datetime</td>
                                                    <th style="width:10%;text-align:left;border-style:none;visibility:hidden">Timing</th>
                                                    <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.TIme</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @if (Session["alertCount"].ToString() != "0")
            {
                <div style="text-align:left;">
                    <div style="text-align:left;">
                        <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 7.5pt;">Annexure Details:</h3>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="tblBox" style="border-style: none;">
                        <thead>
                            <tr>
                                <th style="width:50px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Sr No.</th>
                                <th style="width:20px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">SB Number</th>
                                <th style="width:80px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Truck No</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Carting Date</th>
                                <th style="width:80px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Stuffing Date</th>

                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">No of PKGS</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Cargo Weight</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Total Days</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Free Days</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Charge Days</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Tariff Rate</th>
                                <th style="width:100px;background-color:#ede5e5;font-size:7.5pt;font-weight: 700;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var ds in ViewBag.AnexDetails)
                            {
                                <tr>
                                    <td style="text-align:center">@ds["SrNo"]</td>
                                    <td style="text-align:left">@ds["SBNo"]</td>
                                    <td style="text-align:center">@ds["TruckNo"]</td>
                                    <td style="text-align:center">@ds["CartingDt"]</td>
                                    <td style="text-align:center">@ds["StuffingDt"]</td>
                                    <td style="text-align:center">@ds["Pkgs"]</td>
                                    <td style="text-align:center">@ds["CargoWt"]</td>
                                    <td style="text-align:center">@ds["TotalDays"]</td>
                                    <td style="text-align:center">@ds["FreeDays"]</td>
                                    <td style="text-align:center">@ds["ChargeDays"]</td>
                                    <td style="text-align:center">@ds["TariffRt"]</td>
                                    <td style="text-align:right">@ds["Amt"]</td>

                                </tr>
                            }
                        </tbody>
                        <tfoot style="background-color:yellow">
                            <tr>
                                <td style="text-align:center;" colspan="2">Total</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"> </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:right">@ViewBag.GrandToatls </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

            }

        </div>
    </div>
</body>
</html>
<script>
    var RegisteredType;
       $(document).ready(function () {
           debugger;
           console.log("EBTRY")
           RegisteredType = "@ViewBag.Registered";
           if (RegisteredType == "Registered") {
               loadRegisteredQR();
           } else {
               loadUPIQR();
           }
           console.log("EXIST")

    });


    
    @*var options = {
        text: "@ViewBag.SignedQRcode",
        width: 256,
        height: 256,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H, // L, M, Q, H
        //logo: "~/images/NavkarLogo.jpg",
        //backgroundImage: '../images/NavkarLogo.jpg', // Background Image
        backgroundImageAlpha: 1, // Background image transparency, value between 0 and 1. default is 1.
        autoColor: false, // Automatic color adjustment(for data block)
        autoColorDark: "rgba(0, 0, 0, .6)", // Automatic color: dark CSS color
        autoColorLight: "rgba(255, 255, 255, .7)",
    };

    // Create QRCode Object
    new QRCode(document.getElementById("qrcode"), options);*@
    //}
     function loadRegisteredQR() {
        $("#UPIcode").hide();
            var options = {
        text: "@ViewBag.SignedQRcode",
        width: 256,
        height: 256,
        colorDark: "#000000",
        colorLight: "#ffffff",
        correctLevel: QRCode.CorrectLevel.H, // L, M, Q, H
        logo: "~/images/NavkarLogo.jpg",
        backgroundImage: '../images/NavkarLogo.jpg', // Background Image
        backgroundImageAlpha: 1, // Background image transparency, value between 0 and 1. default is 1.
        autoColor: false, // Automatic color adjustment(for data block)
        autoColorDark: "rgba(0, 0, 0, .6)", // Automatic color: dark CSS color
        autoColorLight: "rgba(255, 255, 255, .7)",
    };

    // Create QRCode Object
    new QRCode(document.getElementById("qrcode"), options);
    }


    function loadUPIQR() {
        debugger;
        $("#qrcode").hide();
        var element = {};
        element.name = "@ViewBag.con_Name";
        element.vpa ="@ViewBag.UPINO";
        element.amount = "@ViewBag.TotalAmount";
        element.note = "-";
        $.ajax({
            url: "https://upiqr.in/api/qr?name=" + element.name + "&vpa=" + element.vpa + "&amount=" + element.amount + "&note=" + element.note,
            type: "get",
            dataType: "html",
           
      
            success: function (response) {
               
                console.log(response)

                $('#UPIcode').html(response);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


</script>

