<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="text-align:left;width:10% !important"> <img src="~/images/NavkarLogo.jpeg" /></th>
                        <th style="width:80%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">@ViewBag.con_Name</spam>   <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:400"> @ViewBag.AddressI</spam> <br />
                            <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">Gate Out Challan (Export Cargo)</spam>
                        </th>
                        <th style="width:10%;text-align:center;background-color:white">*@ViewBag.BarCodeNo*</th>


                    </tr>

                </tbody>
            </table>


            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">Carting Allow ID</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label> @ViewBag.CartingID</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400">Allow Date</th>
                                <td style="width:30%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.CartingDate</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">On Account</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:bold">Sp</label> @ViewBag.AGName</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400">Stuffing Type</th>
                                <td style="width:30%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.StuffingType</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400">Cha Name</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:bold">Sp</label> @ViewBag.CHAName</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400">Cargo Desc</th>
                                <td style="width:30%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:bold">Sp</label> @ViewBag.CargoDesc</td>
                            </tr>

                            <tr>
                                <th style="width:10%;text-align:left;border:none;font-weight:400">Shipping Name</th>
                                <td style="width:80%;text-align:left;border:none;font-weight:400" colspan="3">:<label style="visibility:hidden">Sp</label> @ViewBag.shippername</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox" id="tablegetdetails">
                        <thead>
                            <tr>
                                <th style="background-color: #ede5e5;width:5px">Sr No.</th>
                                <th style="background-color: #ede5e5;width:20px">SB No</th>
                                <th style="background-color: #ede5e5;width:10px">Vehicle No</th>
                                <th style="background-color: #ede5e5;width:10px">SB Date</th>
                                <th style="background-color: #ede5e5;width:10px">Location</th>
                                <th style="background-color: #ede5e5;width:10px">Cargo Type</th>
                                <th style="background-color: #ede5e5;width:10px">Alloted</th>
                                <th style="background-color: #ede5e5;width:10px">Dec Qty.</th>
                                <th style="background-color: #ede5e5;width:10px">Rcvd Qty.</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.ImportloadedDetails)
                            {
                                <tr>
                                    <td style="text-align:center;width:5px">@dr["Sr No"]</td>
                                    <td style="text-align:center;width:20px;font-weight:bold">@dr["SBNo"]</td>
                                    <td style="text-align:center;width:10px">@dr["VehicleNo"]</td>
                                    <td style="text-align:center;width:10px">@dr["SBDate"]</td>
                                    <td style="text-align:center;width:10px">@dr["Location"]</td>
                                    <td style="text-align:center;width:10px">@dr["Cargotype"]</td>
                                    <td style="text-align:center;width:10px">@dr["Area"]</td>
                                    <td style="text-align:center;width:10px">@dr["CartingQty"]</td>
                                    <td style="text-align:center;width:10px">@dr["CartingQty"]</td>
                                   
                                   
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>

            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:15%;text-align:center;border:none">Prepared by :</td>
                                <td style="width:25%;text-align:center;border:none">@ViewBag.UserName</td>
                                <td style="width:30%;text-align:center;border:none">@ViewBag.PrintDate     &nbsp; @ViewBag.PrintTime</td>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>


                            </tr>

                            <tr>
                                <td style="width:15%;text-align:center;border:none;visibility:hidden">Cha's Name and Sign </td>
                                <td style="width:25%;text-align:center;border:none;visibility:hidden">CFS Executive Name & Sign</td>
                                <td style="width:30%;text-align:center;border:none;visibility:hidden">CFS Executive</td>
                                <td style="width:30%;text-align:center;border:none">Executive Officer</td>


                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div>

        </div>
    </div>
</body>
</html>
<script>
    setTimeout(function () {
        window.onload = window.print();
    }, 2000);
    wondow.onload = function () {
        show();
    };
</script>

<script>
    setTimeout(function () {
        window.onload = window.close();
    }, 2000);
    wondow.onload = function () {

    };


</script>


