<html>
<head>
    <meta name="viewport" content="width=device-width" />


    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr style="border:none">
                        <th style="text-align:left;width:10% !important"> <img src="~/images/NavkarLogo.jpeg" /></th>
                        <th style="width:90%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">@ViewBag.con_Name</spam>   <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:400"> @ViewBag.AddressI</spam> <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:bold"> Gate In </spam> <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:bold">Export Loaded Container </spam> <br />

                        </th>



                    </tr>

                </tbody>
            </table>





            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">Gate Pass No</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label> @ViewBag.entryID</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400;font-weight:bold">Gate Pass Date</th>
                                <td style="width:30%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.indate</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">On account</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label> @ViewBag.AGName</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400;font-weight:bold">Vehicle No</th>
                                <td style="width:30%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.trailerno</td>
                            </tr>
                          
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">Shipping Line</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label>@ViewBag.SLName</td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400;font-weight:bold">Transporter</th>
                                <td style="width:30%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.TransName</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">Loaded From</th>
                                <td style="width:40%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:bold">Sp</label></td>
                                <th style="width:10%;text-align:left;border:none;font-weight:400;font-weight:bold;visibility:hidden">Bk No</th>
                                <td style="width:30%;text-align:left;border:none">:<label style="visibility:hidden;font-weight:bold;visibility:hidden">Sp</label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox" id="tablegetdetails">
                        <thead>
                            <tr>
                                <th style="background-color: #ede5e5;width:5px">Sr No.</th>
                                <th style="background-color: #ede5e5;width:10px">Container No</th>
                                <th style="background-color: #ede5e5;width:10px">Size</th>
                                <th style="background-color: #ede5e5;width:20px">Type</th>
                                <th style="background-color: #ede5e5;width:10px">Status</th>

                                <th style="background-color: #ede5e5;width:10px">Agent Seal</th>
                                <th style="background-color: #ede5e5;width:10px">RFID Seal</th>
                                <th style="background-color: #ede5e5;width:10px">Remakrs</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.ImportloadedDetails)
                            {
                                <tr>
                                    <td style="text-align:center;width:5px">@dr["Sr No"]</td>
                                    <td style="text-align:center;width:10px;font-weight:bold">@dr["containerNo"]</td>
                                    <td style="text-align:center;width:10px">@dr["size"]</td>
                                    <td style="text-align:center;width:10px">@dr["ContainerType"]</td>
                                    <td style="text-align:center;width:10px">@dr["EntryType"]</td>

                                    <td style="text-align:center;width:10px">@dr["AgentSeal"]</td>
                                    <td style="text-align:center;width:10px">@dr["SealNo"]</td>
                                    <td style="text-align:center;width:10px">@dr["remarks"]</td>




                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:center;border:none;visibility:hidden">Cha's Name and Sign </td>
                                <td style="width:30%;text-align:center;border:none;font-weight:bold;visibility:hidden">CUSTOM SUPERINTENDENT</td>
                                <td style="width:30%;text-align:center;border:none;font-weight:bold">@ViewBag.Con_For</td>


                            </tr>





                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
            <div>
                &nbsp;
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>


                            </tr>

                            <tr>
                                <td style="width:30%;text-align:center;border:none">Cha's Name and Sign </td>
                                <td style="width:30%;text-align:center;border:none">CFS Executive Name & Sign</td>
                                <td style="width:30%;text-align:center;border:none">Security Name & Sign</td>


                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>


            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:15%;text-align:center;border:none;font-weight:bold">Prepared by :</td>
                                <td style="width:25%;text-align:center;border:none;font-weight:bold">@ViewBag.UserName</td>

                                <td style="width:30%;text-align:center;border:none;visibility:hidden">_______________________________________</td>
                                <td style="width:30%;text-align:center;border:none">@ViewBag.PrintDate     &nbsp; @ViewBag.PrintTime</td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div>

        </div>
    </div>
</body>
</html>
@*<script>
        setTimeout(function () {
            window.onload = window.print();
        }, 2000);
        wondow.onload = function () {
            show();
        };
    </script>

    <script>
        setTimeout(function () {
            window.onload = window.close();
        }, 2000);
        wondow.onload = function () {

        };


    </script>*@




