
@{
    ViewBag.Title = "WeighmentTariff";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script src="~/js/GetTableJson.js"></script>
<script src="~/js/GetTableArray.js"></script>

<div class=" content-area overflow-hidden" id="divCreate">

    <div class="page-header">
        <h4 class="page-title">Weighment Tariff</h4>
        <li class="breadcrumb-item">
            <a onclick="OpenWOSummary();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-file-text" data-placement="bottom" title="Weighment Tariff Details"></i> </a>
        </li>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Effective From</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectiveFromDate" type="datetime-local"  value="@ViewBag.Date" class="form-control" />*@
                                            @*@Html.EditorFor(model => model.CHACode, new { htmlAttributes = new { @class = "form-control", @id = "chaCode", autocomplete = "off", maxlength = 20 } })*@
                                            @Html.TextBox("txtEffectivefrom", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy hh:mm"), @id = "txtfromdate" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Effective UpTo</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectivetoDate" type="datetime-local" value="@ViewBag.Date" class="form-control" />*@
                                            @Html.TextBox("txtEffectiveTo", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy hh:mm"), @id = "txttodate" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Vehicle Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectivetoDate" type="datetime-local" value="@ViewBag.Date" class="form-control" />*@
                                            <select class="form-control" id="ddlvehicleType">
                                                <option value="CONTAINER">CONTAINER</option>
                                                <option value="Trailer">Trailer</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Tyres</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectivetoDate" type="datetime-local" value="@ViewBag.Date" class="form-control" />*@
                                            <select class="form-control" id="ddltypeno">
                                                <option value="4">4</option>
                                                <option value="10">10</option>
                                                <option value="12">12</option>
                                                <option value="14">14</option>
                                                <option value="16">16</option>
                                                <option value="18">18</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Vehicle Status</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectivetoDate" type="datetime-local" value="@ViewBag.Date" class="form-control" />*@
                                            <select class="form-control" id="ddlVehicleStatus">
                                                <option value="EMPTY">EMPTY</option>
                                                <option value="FULL">FULL</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Weight From (KGS)</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtWeightFrom" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Weight To (KGS)</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtWeightTo" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Container Count</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*<input ID="txtEffectivetoDate" type="datetime-local" value="@ViewBag.Date" class="form-control" />*@
                                            <select class="form-control" id="ddlCount">
                                                <option value="20X1">20X1</option>
                                                <option value="40X1">40X1</option>
                                                <option value="45X1">45X1</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>


                        <div class="row">

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Rate</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtRate" type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">
                            <div class="card-footer text-right">
                                <div class="form-group">
                                    <label class="form-label"></label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="submit" id="Save" name="Save" value="Save" onclick="Save();" class="btn btn-success" />
                                            @*<input type="button" name="clearProfile" value="Clear" class="btn btn-gray" title="clear" id="clearValue" />*@
                                            <button type="button" class="btn btn-icon btn-gray" name="clearProfile" onclick="Clear();" title="clear" id="clearValue"><i class="fa fa-undo"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class=" content-area" id="divCreateSummary" style="display:none">
    <div class="page-header">
        <h4 class="page-title"> Weighment Tariff Summary</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a onclick="BackToWorkOrder();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-arrow-left" data-placement="bottom" title="Add Work Order"></i> </a>
            </li>
        </ol>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">

                        <div class="row">
                            <div class="col-12">
                                
                                    <div class="card-body">
                                        <div class="form-horizontal">
                                            <div class="row">
                                                <div class="col-lg-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-label">From Date</label>
                                                        <div class="row gutters-xs">
                                                            <div class="col">
                                                                @Html.TextBox("txtFromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 00:00") })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-label">To Date</label>
                                                        <div class="row gutters-xs">
                                                            <div class="col">
                                                                @Html.TextBox("txtToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-1 col-sm-12">
                                                    <div class="form-group">
                                                        <label class="form-label" style="visibility:hidden"> '</label>
                                                        <div class="row gutters-xs">
                                                            <div class="col">
                                                                <input type="button" value="Show" class="btn btn-primary" id="btnSubmit" onclick="Search()" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*@Html.ActionLink("Export To Excel", "ExportToExcelImpHC", null, new { @class = "btn btn-primary btn-md" })*@
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12">
                                                    <div class="table-responsive">
                                                        <table id="example2" class="table table-bordered table-hover tbl-cart text-nowrap" style="width:100%">
                                                            <thead>

                                                                <tr>
                                                                    @*<th class="wd-10p sorting">Sr No</th>
                                                    <th class="wd-10p sorting">Paid ID</th>*@
                                                                </tr>
                                                            </thead>

                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

 

    function BackToWorkOrder() {
        $("#divCreate").show();
        $("#divCreateSummary").hide();
    }
    function OpenWOSummary() {
        $("#divCreate").hide();
        $("#divCreateSummary").show();
    }

    function Save() {
        debugger;
        var EFFECTIVEFROM = $("#txtfromdate").val();
        var EFFECTIVEUPTO = $("#txttodate").val();
        var VEHICLE_TYPE = $("#ddlvehicleType").val();
        var TYRES_NO = $("#ddltypeno").val();
        var VEHICLE_STATUS = $("#ddlVehicleStatus").val();
        var WEIGHT_FROM = $("#txtWeightFrom").val();
        var WEIGHT_TO = $("#txtWeightTo").val();
        var NO_OF_CONT = $("#ddlCount").val();
        var RATE = $("#txtRate").val();
       

        var data1 = { "EFFECTIVEFROM": EFFECTIVEFROM, "EFFECTIVEUPTO": EFFECTIVEUPTO, "VEHICLE_TYPE": VEHICLE_TYPE, "TYRES_NO": TYRES_NO, "VEHICLE_STATUS": VEHICLE_STATUS, "WEIGHT_FROM": WEIGHT_FROM, "WEIGHT_TO": WEIGHT_TO, "NO_OF_CONT": NO_OF_CONT, "RATE": RATE };
        var data = JSON.stringify(data1);

        alert(data);
        $.ajax({
            type: 'POST',
            url: '/ExportModel/SaveWeighmenttariff',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
                document.location = '@Url.Action("SaveWeighmenttariff", "ModifyModule")';
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
         
    }





    function Search() {
        debugger
        $("#tracker-loader").fadeIn("slow");

        var data = { 'fromDate': $("#txtFromDate").val(), 'ToDate': $("#txtToDate").val() };
        data = JSON.stringify(data);
        //alert('hi')
        $.ajax({
            type: 'POST',
            url: '/ExportModel/WSearch',
            data: data,
            // data: "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (jsonResult) {
                //alert("i received data");
                $("#example2").empty();
                //alert("example table cleared");
                RepTableDataJsonss($("#example2"), jsonResult, "Weighment Tariff Summary", "WeighmentTariffSummary");
                //alert("data binded");
                $("#tracker-loader").fadeOut("slow");
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
        //$("#divLoader").hide();
    }


    


</script>
<script>
    function Save() {
         document.location = '@Url.Action("SaveWeighmenttariff", "ModifyModule")';
    }
</script>