@{
    ViewBag.Title = "WHL LOLO Code Co";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div id="addReco">
    <div class=" content-area">
        <div class="page-header">
            <h4 class="page-title">WHL LOLO Code Co</h4>
            <div class="form-group">
                <label class="form-label"></label>
                <div class="row gutters-xs">
                    <div class="col">
                        @*<button type="button" class="btn btn-icon btn-orange" name="gst" title="GST" id="gst"><i class="fa fa-google"></i></button>*@
                        <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Summary list" id="summarylist" onclick="ViewSummaryList()"><i class="fa fa-file-text"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-horizontal">
                            <div class="row">
                                <div class="col-lg-3 col-sm-12" style="display:none">
                                    <div class="form-group">
                                        <label class="form-label">Entry ID</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                <input type="text" id="txtEntryID" class="form-control" readonly placeholder="Entry ID" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group" style="padding-top:30px">
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                <input type="file" id="fileImport" name="postedFile" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group" style="padding-top:25px">
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @*<input type="Button" id="btnImport" value="Import" class="btn btn-primary" />*@
                                                <button class="btn btn-primary" id="btnImport" type="button">Upload</button>
                                                @*<button class="btn btn-primary" id="btnView"   type="button">Download</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label mandatory">.</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @*@Html.EditorFor(model => model.CHACode, new { htmlAttributes = new { @class = "form-control", @id = "chaCode", autocomplete = "off", maxlength = 20 } })*@
                                                <select class="form-control" id="ddlActivity">
                                                    <option value="0">--Select--</option>
                                                    <option value="Aryan">Aryan</option>
                                                    <option value="NCL">NCL</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-2 col-sm-12">
                                    <div class="form-group" style="padding-top:25px">
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @*<input type="Button" id="btnImport" value="Import" class="btn btn-primary" />*@
                                                <button class="btn btn-primary" id="btnDownload" onclick="DownloadLOLO();" type="button">Download</button>
                                                @*<button class="btn btn-primary" id="btnView"   type="button">Download</button>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1" style="width:100%;">
                                                <thead>
                                                    <tr>
                                                        <th class="wd-10p sorting">Container No</th>
                                                        <th class="wd-10p sorting ">Size</th>
                                                        <th class="wd-10p sorting">Container Type</th>
                                                        <th class="wd-10p sorting">Activity Date</th>
                                                        <th class="wd-10p sorting">Activity</th>

                                                    </tr>
                                                </thead>
                                                <tbody style="box-sizing :border-box;">
                                                    @*@foreach (var d in Model)
                            {

                                <tr>
                                    <td>@d.JONO <input name=hdJONO type=hidden id=JONO value='@d.JONO'></td>
                                    <td>@d.ContainerNO <input name=hdContainerNO type=hidden id=ContainerNO value='@d.ContainerNO'></td>
                                    <td>@d.Size </td>
                                    <td>@d.port  </td>
                                    <td>@d.DischargeDate</td>
                                </tr>
                            }*@
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1 col-xs-12">
                                        <div class="form-group" style="padding-top:25px">
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    <button class="btn btn-success pull-right" type="button" id="btnSave" onclick="Save();" name="Save">Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-1 col-xs-12">
                                        <div class="form-group" style="padding-top:25px">
                                            <div class="row gutters-xs">
                                                <div class="col">
                                                    <button class="btn btn-default pull-right" type="button" id="btnClear" onclick="Clear();" name="Clear">Clear</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#btnImport').click(function () {
            debugger;
            document.getElementById('btnImport').value = "Please Wait..."
            document.getElementById('btnImport').setAttribute("class", "btn btn-primary disabled")

            //$("#btnImport").value = "Please Wait...";
            //$("#btnImport").setAttribute("class", "btn btn-primary disabled");

            if (window.FormData !== undefined) {

                var fileUpload = $("#fileImport").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();
                if (files.length == 0) {
                    alert("Please select File!")
                    return false;
                }
                else {
                    // Looping over all files and add it to FormData object
                    for (var i = 0; i < files.length; i++) {

                        fileData.append(files[i].name, files[i]);
                    }


                    // Adding one more key to FormData object
                    // fileData.append('JONo', JONo);
                    // alert("hi")
                    $.ajax({
                        url: '/UpdateExternalMovement/ImportFile',


                        type: "POST",
                        contentType: false, // Not to set any content header
                        processData: false, // Not to process data
                        data: fileData,
                        success: function (data) {
                            // alert(JSON.stringify(data));
                            //  var str = data;
                            $('#example1').dataTable({
                                "destroy": true,
                                "bLengthChange": false,
                                "aaData": data,
                                "paging": false,
                                "aaSorting": [[0, 'asc']],
                                "columns": [
                                  
                                    { "data": "containerno" },
                                    { "data": "Size" },
                                    { "data": "ContainerType" },
                                    { "data": "ActivityDate" },
                                    { "data": "Activity" } 
                                ]
                            })
                            //$("#btnImport").value = "Import";
                            //$("#btnImport").setAttribute("class", "btn btn-primary");
                        },
                        error: function (errormessage) {
                            document.getElementById('btnImport').value = "Import"
                            document.getElementById('btnImport').setAttribute("class", "btn btn-primary")
                            alert(errormessage.responseText);
                        }

                    });

                }

            }
            else {
                document.getElementById('btnImport').value = "Import"
                document.getElementById('btnImport').setAttribute("class", "btn btn-primary")
                alert("FormData is not supported.");
            }
            document.getElementById('btnImport').value = "Import"
            document.getElementById('btnImport').setAttribute("class", "btn btn-primary")
            $("#fileImport").val('');
        });
    });

    function DownloadLOLO() {
        var activity = $("#ddlActivity").val();

        window.location = '@Url.Action("DownloadLoloDetails", "UpdateExternalMovement")?Activity=' + activity;
    }

</script>