
@{
    ViewBag.Title = "EyardOut";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<script src="~/js/GetTableJsonwopaging.js"></script>

<div class=" content-area overflow-hidden" id="DivReceiptGenDet">
    <div class="page-header">
        <h4 class="page-title">Empty Out</h4>

    </div>


    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">


                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Gate Pass No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtGatePassNo", null, new { @class = "form-control ", @id = "txtGatePassNo", name = "txtGatePassNo", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Gate Pass Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("TxtGatePassDate", null, new { @class = "form-control form_datetime1", @id = "TxtGatePassDate", name = "TxtGatePassDate", autocomplete = "on", @Value = DateTime.Now.ToString("dd MMM yyyy hh:mm") })

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Booking No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtBookingNo", null, new { @class = "form-control ", @id = "txtBookingNo", name = "txtBookingNo", autocomplete = "off", OnChange = "BookingNo()" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Movement By</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="ddlMovementBy">
                                            <option value="0">--Select--</option>
                                            <option value="Depot">Depot</option>
                                            <option value="Party">Party</option>
                                        </select>
                                        @*@Html.DropDownList("ddlentryType", (IEnumerable<SelectListItem>)ViewBag.EntryType, "--Select--", new { @class = "form-control", @id = "ddlentryType", name = "ddlentryType", autocomplete = "off" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Movement Type</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="txtMovementType">
                                            <option value="0">--Select--</option>
                                            <option value="Sale Box">Sale Box</option>
                                            <option value="Offhire">Offhire</option>
                                            <option value="Empty Depo">Empty Depo</option>
                                            <option value="Party PickUp">Party PickUp</option>
                                            <option value="Vessel Repo">Vessel Repo</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Truck No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtTruckNo", null, new { @class = "form-control ", @id = "txtTruckNo", name = "txtTruckNo", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Transporter</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtTransporter", null, new { @class = "form-control ", @id = "txtTransporter", name = "txtTransporter", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Container No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtContainerNo", null, new { @class = "form-control ", @id = "txtContainerNo", name = "txtContainerNo", autocomplete = "off", OnChange = "ContainerNo()" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Entry ID</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtEntryID", null, new { @class = "form-control ", @id = "txtEntryID", name = "txtEntryID", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Type</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtType", null, new { @class = "form-control ", @id = "txtType", name = "txtType", autocomplete = "off", @readonly = true })

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">Size</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSize", null, new { @class = "form-control ", @id = "txtSize", name = "txtSize", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-6">
                            <div class="form-group">
                                <label class="form-label">ISO Code</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtISOCode", null, new { @class = "form-control ", @id = "txtISOCode", name = "txtISOCode", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-5 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">Line Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtLineName", null, new { @class = "form-control ", @id = "txtLineName", name = "txtLineName", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">Shipper Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtShipperName", null, new { @class = "form-control ", @id = "txtShipperName", name = "txtShipperName", autocomplete = "off", @readonly = true })
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Vessel Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*<select class="form-control" id="ddlVesselName">
                                <option value="0">--Select--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>*@
                                        @Html.DropDownList("ddlVessel", (IEnumerable<SelectListItem>)ViewBag.SubHead, "--Select--", new { @class = "form-control", @id = "ddlVessel", name = "ddlVessel", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">
                            <div class="col-lg-5 col-sm-6">
                                <div class="form-group">
                                    <label class="form-label">Ports</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtPorts", null, new { @class = "form-control ", @id = "txtPorts", name = "txtPorts", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">Seal No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSealNo", null, new { @class = "form-control ", @id = "txtSealNo", name = "txtSealNo", autocomplete = "off" })
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Location</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*<select class="form-control" id="ddlLocation">
                                <option value="0">--Select--</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>*@
                                        @Html.DropDownList("ddlLocation", (IEnumerable<SelectListItem>)ViewBag.GroupDDL, "--Select--", new { @class = "form-control", @id = "ddlLocation", name = "ddlLocation", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">POD</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtPOD", null, new { @class = "form-control ", @id = "txtPOD", name = "txtPOD", autocomplete = "off" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Out Status</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="ddlOutStatus">
                                            <option value="0">--Select--</option>
                                            <option value="1">DM</option>
                                            <option value="2">AV</option>
                                        </select>
                                        @*@Html.DropDownList("ddlentryType", (IEnumerable<SelectListItem>)ViewBag.EntryType, "--Select--", new { @class = "form-control", @id = "ddlentryType", name = "ddlentryType", autocomplete = "off" })*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-sm-6">

                            <div class="form-group">
                                <label class="form-label">Damage Remarks</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtDamageRemarks", null, new { @class = "form-control ", @id = "txtDamageRemarks", name = "txtDamageRemarks", autocomplete = "off" })
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button id="btnSave" class="btn btn-success btn-xs" onclick="return Add();">Add</button>
                                        @*<button class="btn btn-success " type="button" id="savedetails" onclick="return Add();">Add</button>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div>
                                @*<label class="form-label">Details </label>*@
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered" id="example" style="width:100%">
                                    <thead>
                                        <tr>

                                            <th class="wd-15p sorting">Container No</th>
                                            <th class="wd-15p sorting">Size</th>

                                            <th class="wd-15p sorting">Type</th>
                                            <th class="wd-15p sorting">ISO Code</th>
                                            <th class="wd-15p sorting">Line Name</th>
                                            <th class="wd-15p sorting">Line ID</th>
                                            <th class="wd-15p sorting">Booking/BL No</th>

                                            <th class="wd-10p sorting">Remarks</th>
                                            <th class="wd-10p sorting">VesselName</th>
                                            <th class="wd-10p sorting">POD</th>
                                            <th class="wd-10p sorting">Seal No</th>

                                            <th class="wd-10p sorting">Entry ID</th>
                                            <th class="wd-10p sorting">Out Status</th>
                                            <th class="wd-10p sorting">Location</th>
                                            @*<th type="hidden"></th>*@


                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-12" style="display:none">
                        <div class="form-group">
                            <label class="form-label mandatory">Debit in Account</label>
                            <div class="row gutters-xs">
                                <div class="col">
                                    <input type="text" class="form-control" id="TxtEntryID" />
                                    <input type="hidden" class="form-control" id="lblTypeID" />
                                    <input type="hidden" class="form-control" id="txtForwarderLine" />
                                    <input type="hidden" class="form-control" id="lbllineid" />
                                    <input type="text" class="form-control" id="lblcusto" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-success " type="button" id="savedetails" onclick="return Save();">Save</button>
                                        <button type="button" class="btn btn-icon btn-gray" name="clearProfile" title="clear" id="btnclearValue">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</div>

<script>
    function BookingNo() {
        debugger;
        var BookingNo = $("#txtBookingNo").val();
        var data1 = { 'BookingNo': BookingNo };
        var data = JSON.stringify(data1);
        $.ajax({
            url: '/EyardOut/GetIGSTCGST',
            type: 'Post',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {


                $("#txtShipperName").val(data[0].ShipperName);
                $("#txtLineName").val(data[0].LineName);
                $("#txtTransporter").val(data[0].Transporter);
                $("#ddlLocation").val(data[0].Location);

                $("#txtPOD").val(data[0].POD);
                $("#txtPorts").val(data[0].ports);
                $("#txtSealNo").val(data[0].SealNo);
                $("#ddlVessel").val(data[0].VesselID);
                $("#txtMovementType").val(data[0].MovementType);

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }


    function ContainerNo() {
        debugger;
        var ContainerNo = $("#txtContainerNo").val();
        var data1 = { 'ContainerNo': ContainerNo };
        var data = JSON.stringify(data1);
        $.ajax({
            url: '/EyardOut/GetContainer',
            type: 'Post',
            data: data,
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                debugger;
                $("#txtEntryID").val(data[0].EntryID);
                $("#txtType").val(data[0].Type);
                $("#txtSize").val(data[0].Size);
                $("#txtISOCode").val(data[0].ISOCode);
                $("#txtDamageRemarks").val(data[0].DamageRemarks);

                $("#lblTypeID").val(data[0].Size);
                $("#txtForwarderLine").val(data[0].txtForwarderLine);
                $("#lbllineid").val(data[0].lineid);
                $("#lblcusto").val(data[0].custo);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }
    var storeAddedItem = [];
    function Add() {
        debugger;
        var element = {};
        element.ContainerNo = $('#txtContainerNo').val();
        element.Size = $('#txtSize').val();
        element.Type = $('#txtType').val();
        element.ISOCode = $('#txtISOCode').val();
        element.lineid = $('#lbllineid').val();
        element.LineName = $('#txtLineName').val();
        //$("#txtLineName").val(data[0].LineName);
        element.BookingNo = $('#txtBookingNo').val();
        element.Location = $('#ddlLocation').val();
        element.DamageRemarks = $('#txtDamageRemarks').val();
        element.VesselID = $('#ddlVessel').val();

        element.POD = $('#txtPOD').val();
        element.SealNo = $('#txtSealNo').val();
        element.EntryID = $('#TxtEntryID').val();

        element.OutStatus = $('#ddlOutStatus').val();

      storeAddedItem.push(element);

       
            $('#example').DataTable({
                "destroy": true,
                "bLengthChange": false,
                "aaData": storeAddedItem,
                "bPaginate": false,
                "bInfo": false,
                "paging": false,
                "columns": [

                    { "data": "ContainerNo" },
                    { "data": "Size" },
                    { "data": "Type" },
                    { "data": "ISOCode" },
                    { "data": "LineName" },
                    { "data": "lineid" },
                    { "data": "BookingNo" },
                    
                    { "data": "DamageRemarks" },
                    { "data": "VesselID" },
                    { "data": "POD" },
                    { "data": "SealNo" },
                    { "data": "EntryID" },
                    { "data": "OutStatus" },
                    { "data": "Location" }
                ]
            });
    }

         function Save() {
 
         debugger;
         ///ddlentryType

             var GatePassDate = $("#TxtGatePassDate").val();
             var MovementBy = $("#ddlMovementBy").val();
             var MovementType = $("#txtMovementType").val();
             var TruckNo = $("#txtTruckNo").val();
             var Transporter = $("#txtTransporter").val();
       
     
            var SelectedData = new Array();
            var tablearray = new Array();

            var table = document.getElementById("example");

            var row;
            for (var i = 1; i < table.rows.length; i++) {

                row = table.rows[i];
                ContainerNo = row.cells[0].innerText;
                Size = row.cells[1].innerText;
                Type = row.cells[16].innerText;
                ISOCode = row.cells[4].innerText;
                LineName = row.cells[5].innerText;
                lineid = row.cells[3].innerText;
                BookingNo = row.cells[6].innerText;
                VesselID = row.cells[7].innerText;
                POD = row.cells[8].innerText;
                SealNo = row.cells[9].innerText;
                EntryID = row.cells[17].innerText;
                OutStatus = row.cells[12].innerText;
                Location = row.cells[13].innerText;
                

                SelectedData.push({
                    'ContainerNo': ContainerNo, 'Size': Size, 'Type': Type, 'ISOCode': ISOCode,
                    'LineName': LineName, 'lineid': lineid, 'BookingNo': BookingNo, 'VesselID': VesselID, 'POD': POD, 'SealNo': SealNo, 'EntryID': EntryID, 'OutStatus': OutStatus,
                    'Location': Location
                })
            }

            var data1 = {
                'Debitdata': SelectedData, 'GatePassDate': GatePassDate, 'MovementBy': MovementBy, 'MovementType': MovementType, 'TruckNo': TruckNo,
                'Transporter': Transporter
            };
            var data = JSON.stringify(data1);


                          $.ajax({
                              url: "/ExpensesHead/SavePartyDebitEntryDetails",
                            data: data,
                            type: "POST",
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                              success: function (data) {
                                  alert(data);
                                  document.location = '@Url.Action("ExpensesEntryMaster", "ExpensesHead")';
                            },
                            error: function (errormessage) {
                                alert(errormessage.responseText);
                            }
                        });
 
         
    }

       
</script>