
@{
    ViewBag.Title = "Ticketing Dashboard";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<script src="~/js/CountCard.js"></script>
<link href="~/css/CountCard.css" rel="stylesheet" />
<link href="~/plugins/iconfonts/icons.css" rel="stylesheet" />
<script src="~/js/sweet-alert.min.js"></script>
<div id="MainDashboard">
    <div class="page-header" style="margin-bottom: -33px;">
        <h4 class="page-title">Ticketing Dashboard</h4>
    </div>
    <div class="body genealogy-body genealogy-scroll">
        <div class="genealogy-tree">
            <ul>
                <li>
                    <a href="javascript:void(0);">
                        <div class="member-view-box">
                            <div class="">
                                <div class="card text-white bg-success" style="margin-bottom: 0px;" onclick="ViewticketDetailsSummary('-')">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-4">
                                                <div class="float-left">
                                                    <span class="text-white" style="font-size: 40px;">
                                                        <i class="pe-7s-note2"></i>

                                                    </span>
                                                </div>
                                            </div>
                                            <div class="col-8">
                                                <span class="card-text" style="font-size: 19px;"><strong>Total Raised</strong></span><br />
                                                <span class="card-text" style="font-size: 25px;"><strong> @ViewBag.list[0].TotalTkt</strong></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <ul class="active d-flex">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="">
                                        <div class="card text-white " style="margin-bottom: 0px;background: rgb(204, 14, 116);" onclick="ViewticketDetailsSummary('OPENTKT')">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="float-left">
                                                            <span class="text-white" style="font-size: 30px;">
                                                                <i class="fa fa-calendar-check-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <span class="card-text" style="font-size: 16px;"><strong>Open Ticket</strong></span><br />
                                                        <span class="card-text" style="font-size: 25px;"><strong>@ViewBag.list[0].OpenTkt</strong></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="active d-flex">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background: rgb(40, 171, 185);" onclick="ViewticketDetailsSummary('OPENNewReqTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="zmdi zmdi-labels"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>New</strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>Requirement</strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenNewReqTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="active d-flex">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="">
                                                        <div class="card text-white" style="margin-bottom: 0px;background: #9f78ff;" onclick="ViewticketDetailsSummary('OPENAwaitApprTKT')">
                                                            <div class="card-body">
                                                                <div class="row">

                                                                    <div class="col-12">
                                                                        <span class="text-white" style="font-size: 30px;">
                                                                            <i class="pe-7s-clock"></i>
                                                                        </span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>Awaiting </strong></span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>Approval</strong></span><br />
                                                                        <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenAwaitApprTkt</strong></span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="">
                                                        <div class="card text-white" style="margin-bottom: 0px;background: #7bd235 !important;" onclick="ViewticketDetailsSummary('OPENApprTKT')">
                                                            <div class="card-body">
                                                                <div class="row">

                                                                    <div class="col-12">
                                                                        <span class="text-white" style="font-size: 30px;">
                                                                            <i class="ti-check-box"></i>
                                                                        </span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>Approved</strong></span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong></strong></span><br />
                                                                        <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenApprTkt</strong></span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background: #CFA002;" onclick="ViewticketDetailsSummary('OPENCorrectionTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="fa fa-edit"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>Corrections</strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong></strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenCorrectionTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background: rgb(244, 85, 48);" onclick="ViewticketDetailsSummary('OPENBugTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="pe-7s-tools"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>Bugs</strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong></strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenBugTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                    <ul class="active d-flex">
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="">
                                                        <div class="card text-white" style="margin-bottom: 0px;background: #2bcbba !important" onclick="ViewticketDetailsSummary('OPENBugTKTLessthan72')">
                                                            <div class="card-body">
                                                                <div class="row">

                                                                    <div class="col-12">
                                                                        <span class="text-white" style="font-size: 30px;">
                                                                            <i class="si si-speedometer "></i>
                                                                        </span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>Less Than</strong></span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>72 Hrs.</strong></span><br />
                                                                        <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenBugTktLessthan72</strong></span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0);">
                                                <div class="member-view-box">
                                                    <div class="">
                                                        <div class="card text-white" style="margin-bottom: 0px;background: rgb(111, 100, 86);" onclick="ViewticketDetailsSummary('OPENBugTKTGreaterthan72')">
                                                            <div class="card-body">
                                                                <div class="row">

                                                                    <div class="col-12">
                                                                        <span class="text-white" style="font-size: 30px;">
                                                                            <i class="si si-speedometer "></i>
                                                                        </span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>More Than</strong></span><br />
                                                                        <span class="card-text" style="font-size: 13px;"><strong>72 Hrs.</strong></span><br />
                                                                        <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].OpenBugTktGreaterthan72</strong></span>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="member-view-box">
                                    <div class="">
                                        <div class="card text-white bg-warning" style="margin-bottom: 0px;" onclick="ViewticketDetailsSummary('CLOSEDTKT')">
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <div class="float-left">
                                                            <span class="text-white" style="font-size: 30px;">
                                                                <i class="fa fa-calendar-times-o"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-8">
                                                        <span class="card-text" style="font-size: 16px;"><strong>Closed Ticket</strong></span><br />
                                                        <span class="card-text" style="font-size: 25px;"><strong>@ViewBag.list[0].ClosedTkt</strong></span>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <ul class="active d-flex">
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background: rgb(45, 97, 135);" onclick="ViewticketDetailsSummary('CLOSEDNewReqTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="zmdi zmdi-labels"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>New </strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong> Requirement</strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].ClosedNewReqTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background:#02A537;" onclick="ViewticketDetailsSummary('CLOSEDCorrectionTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="fa fa-edit"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>Corrections </strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong> </strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].ClosedCorrectionTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <div class="member-view-box">
                                            <div class="">
                                                <div class="card text-white" style="margin-bottom: 0px;background: rgb(197, 97, 131);" onclick="ViewticketDetailsSummary('CLOSEDBugTKT')">
                                                    <div class="card-body">
                                                        <div class="row">

                                                            <div class="col-12">
                                                                <span class="text-white" style="font-size: 30px;">
                                                                    <i class="pe-7s-tools"></i>
                                                                </span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong>Bugs</strong></span><br />
                                                                <span class="card-text" style="font-size: 13px;"><strong></strong></span><br />
                                                                <span class="card-text" style="font-size: 20px;"><strong>@ViewBag.list[0].ClosedBugTkt</strong></span>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>

                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<div id="DashboardListAgainstType"></div>
<script>
    function ViewticketDetailsSummary(Type) {
        debugger;
        $("#global-loader").fadeIn("slow");
        var data1 = { 'Type': Type };
        var data = JSON.stringify(data1);
        $.ajax({
            url: "/TicketSystem/_DashboardListAgainstType",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                $("#global-loader").fadeOut("slow");
                $('#DashboardListAgainstType').html(response);
                $('#DashboardListAgainstType').show();
                $("#MainDashboard").hide();

            },
            error: function (error) {
                $("#global-loader").fadeOut("slow");
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                Swal.fire("Error!", "Something went wrong: " + str, "error");
            }
        });

    }
</script>