@model IEnumerable<TrackerMVCEntities.BusinessEntities.ContainerDetails>


<div id="ContainerDetails">

    @*<div class="row">
        <div class="col-md-12 col-lg-4" @ViewBag.display>
            <h6 class="text-primary">Company Name: @ViewBag.CompanyName </h6>
        </div>
        <div class="col-md-12 col-lg-4">
            <h6 class="text-primary">Vessel Name: @ViewBag.VesselName</h6>
        </div>
        <div class="col-md-12 col-lg-4">
            <h6 class="text-primary">Order No: @ViewBag.OrderID</h6>
        </div>
    </div>*@


    @*<span class="card-title">Order No: @ViewBag.OrderID </span>*@
    <label id="OrderID" class="card-title" style="display:none;">@ViewBag.OrderID </label>
    <div class="card-body hero-feature">
        <div class="table-responsive push">
            <table class="table table-bordered table-hover tbl-cart text-nowrap" id="ViewTable" style="width:100%">
                <thead>
                    <tr>
                        <th style="width:5px">#</th>
                        <th>Container No.</th>
                        <th>Size</th>
                        <th>JO Status</th>
                        <th>Remarks</th>
                        <th>Out By</th>


                    </tr>
                </thead>
                <tbody>
                    @foreach (var d in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => d.SRNo)          </td>
                            <td>    @Html.DisplayFor(m => d.ContainerNO)  </td>
                            <td>    @Html.DisplayFor(m => d.Size) </td>
                            <td>    @Html.DisplayFor(m => d.JOStatus) </td>
                            <td>    @Html.DisplayFor(m => d.Remarks) </td>
                            <td>    @Html.DisplayFor(m => d.OutBy) </td>


                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>



