@model IEnumerable<TrackerMVCEntities.BusinessEntities.EDICollections>
<style>
    .scrolling-table-container{
        overflow:auto;
        height:600px;
    }
</style>
<div class="modal-content ">
    <div class="modal-header pd-x-20">
        <h6 class="modal-title">GST List</h6>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body pd-20">
        <div class="card-body hero-feature">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="form-group">
                        <label class="form-label mandatory">Search</label>
                        <div class="row gutters-xs">
                            <div class="col">
                                @Html.TextBox("txtGSTSearch", null, new { @class = "form-control", @id = "txtGSTSearch", name = "txtGSTSearch", autocomplete = "off", placeholder = "Search By GST No or Party Name" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <div class="form-group" style="padding-top:26px;">
                        <div class="row gutters-xs">
                            <div class="col">
                                <button class="btn btn-primary" id="btnSearch" type="button" onclick="Search()"><i class="fe fe-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">


                <div class="table-responsive push scrolling-table-container">
                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblGSTDets" style="width:100%">
                        <thead>
                            <tr>
                                <th style="width:4px">#</th>
                                <th>GST No</th>
                                <th>GST Name</th>
                                <th>Address</th>
                                <th>State</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var d in Model)
                            {

                                <tr>
                                    <td><a class="btn btn-sm btn-primary" href="#" onclick="GetGSTNo('@d.GSTIn_uniqID','@d.GSTID','@d.state_Code')">Select</a></td>
                                    <td>@Html.DisplayFor(m => d.GSTIn_uniqID)</td>
                                    <td>@Html.DisplayFor(m => d.GSTName)</td>
                                    <td>@Html.DisplayFor(m => d.GSTAddress)</td>
                                    <td>@Html.DisplayFor(m => d.State)</td>

                                </tr>
                            }*@
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>
</div>

<script>
    function GetGSTNo(GSTIn_uniqID, GSTID, state_Code) {
        debugger;
        $('#txtGStnumber').val(GSTIn_uniqID);
        $('#txtGSTid').val(GSTID);
        $('#txtstatecode').val(state_Code);

        $('#TestModal').modal('hide');

    }
    $(document).ready(function () {
        //$('#tblGSTDets').dataTable({
        //    "bLengthChange": false,
        //    "bInfo": false,
        //    "bPaginate": false,
        //    // "bFilter": false,
        //    "paging": true,
        //    "order": [],
        //    "aoColumnDefs": [
        //        {
        //            'bSortable': false,
        //            'aTargets': [0]
        //        }

        //    ]
        //})
        Search();
    });
    function Search() {
        var SearchText = $("#txtGSTSearch").val();
        var data = { 'SearchText': SearchText };
        var data1 = JSON.stringify(data);
        $.ajax({
            type: "POST",
            url: "/EDICollections/Search",
            data: data1,
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                $('#tblGSTDets').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "bInfo": false,
                    "bPaginate": false,
                    // "bFilter": false,
                    "paging": false,
                    "order": [],
                    "aaData": data,
                    "aoColumnDefs": [
                        {
                            'bSortable': false,
                            'aTargets': [0]
                        }
                    ],
                    "columns": [
                        {
                            "data": "data",
                            "render": function (data, type, row, meta) {

                                data = "<a type=\"text\" name=\"Select[]\" class=\" btn btn-sm btn-info\" id=\"btnSelect\" style=\"color:white\" onclick=\"GetGSTNo('" + row.GSTIn_uniqID + "','" + row.GSTID + "','" + row.state_Code + "')\"><i class=\"fa fa-check\"></i></a>";
                                return data;
                            }
                        },
                        { "data": "GSTIn_uniqID" },
                        { "data": "GSTName" },
                        { "data": "GSTAddress" },
                        { "data": "State" }
                    ]
                })
            },
            failure: function (response) {
                alert(response);
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        })
    }
</script>