
@{
    ViewBag.Title = "Account Master";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<script src="~/js/GetTableJson.js"></script>
<div class=" content-area overflow-hidden" id="divCreate">
    <div class="page-header">
        <h4 class="page-title">Account Master</h4>
        <li class="breadcrumb-item">
            <a onclick="OpenWOSummary();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-file-text" data-placement="bottom" title="Open Work Order Summary"></i> </a>
        </li>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Account-ID </label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtentryid" type="text" placeholder="New" readonly="readonly" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label mandatory">Account Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txtacname" type="text" placeholder="Account Name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-sm-4">
                                <div class="form-group">
                                    <label class="form-label mandatory">Tally Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input ID="txttallyname" type="text" placeholder="Tally Name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Group Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlimportg", (IEnumerable<SelectListItem>)ViewBag.importg, "--Select--", new { @class = "form-control", @id = "importg", name = "importg", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-12" style="visibility:hidden">
                            <div class="form-group">
                                <label class="form-label">IS DPD?</label>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" id="chkisdpdi" value="true" checked class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">SAC/HSN Code</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlHSNDDL", (IEnumerable<SelectListItem>)ViewBag.HSNDDList, "--Select--", new { @class = "form-control", @id = "ddlHSNDDL", name = "ddlHSNDDL", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Charges For</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="ddlcharge">
                                            <option value="0">--Select--</option>
                                            <option value="All">All</option>
                                            <option value="Loaded">Loaded</option>
                                            <option value="Destuff">Destuff</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Display Priority</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="ddldp">

                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Invoice Type</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlExpensesgroup", (IEnumerable<SelectListItem>)ViewBag.InvoiceDDL, "--Select--", new { @class = "form-control", @id = "dllinvtype", name = "ddlExpensesgroup", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Tax Code</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddltax", (IEnumerable<SelectListItem>)ViewBag.TaxName, "--Select--", new { @class = "form-control", @id = "ddltax", name = "ddltax", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-xs-12">
                            <div class="form-group">
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" id="chkIsActive" value="true" checked class="custom-switch-input">
                                    <span class="custom-switch-indicator"></span>
                                    <span class="custom-switch-description">IsActive</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="form-label"></label>
                            <div class="row gutters-xs">
                                <div class="col">

                                    <button id="btnSave" class="btn btn-success btn-xs" onclick="return Save();">Save</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" content-area" id="divCreateSummary" style="display:none">
    <div class="page-header">
        <h4 class="page-title">Account Master List</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a onclick="BackToWorkOrder();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-arrow-left" data-placement="bottom" title="Add Work Order"></i> </a>
            </li>
        </ol>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">

                        <div class="row">

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Search</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @*@Html.EditorFor(model => model.CHACode, new { htmlAttributes = new { @class = "form-control", @id = "chaCode", autocomplete = "off", maxlength = 20 } })*@
                                            @Html.TextBox("txtsearch", null, new { @class = "form-control ", @id = "txtsearch", name = "txtsearch", autocomplete = "on" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden"> '</label>
                                    <div class="row gutters-xs">
                                        <div class="col">

                                            <button class="btn btn-primary" id="TripSearch" type="button" onclick="ShowSSRSummary()"><i class="fe fe-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @Html.ActionLink("Export To Excel", "ExportToExcelImportAccountMaster", null, new { @class = "btn btn-primary btn-md" })
                        <div class="row">

                            <div class="col-lg-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblWorkOrderOpenList" style="width:100%;"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

        function BackToWorkOrder() {
            $("#divCreate").show();
            $("#divCreateSummary").hide();
        }
        function OpenWOSummary() {
            $("#divCreate").hide();
            $("#divCreateSummary").show();
        }

    function Save() {


        var r = confirm("Do you want to save?");
        if (r == true) {


            var ACname = document.getElementById('txtacname').value;
         var tallyname = document.getElementById('txttallyname').value;
         var importgroup = document.getElementById('importg').value;
         var isdpdi = document.getElementById('chkisdpdi').value;
         var hsncode = document.getElementById('ddlHSNDDL').value;
         var chargefor = document.getElementById('ddlcharge').value;
         var dp = document.getElementById('ddldp').value;

         var invtype = document.getElementById('dllinvtype').value;
         var tax = document.getElementById('ddltax').value
         var EntryID = document.getElementById('txtentryid').value


         var chkIsActive = document.getElementById('chkIsActive').value;



         if (ACname == "") {
             document.getElementById("txtacname").style.borderColor = "red";
            alert('Please  Enter  Account  Name!')
            event.preventDefault();
            return;
         }
         if (tallyname == "") {
             document.getElementById("txttallyname").style.borderColor = "red";
             alert('Please select tally Group!')
             event.preventDefault();
             return;
         }

         if (hsncode == 0) {
             document.getElementById("ddlHSNDDL").style.borderColor = "red";
             alert('Please select HSN Code!')
             event.preventDefault();
             return;
         }
         if (chargefor == 0) {
             document.getElementById("ddlcharge").style.borderColor = "red";
             alert('Please select charges for!')
             event.preventDefault();
             return;
         }

         if (dp == 0) {
             document.getElementById("ddldp").style.borderColor = "red";
             alert('Please select display priority!')
             event.preventDefault();
             return;
         }
         if (invtype == 0) {
             document.getElementById("ddlinvtype").style.borderColor = "red";
             alert('Please select invoice type!')
             event.preventDefault();
             return;
         }
         if (tax == 0) {
             document.getElementById("ddltax").style.borderColor = "red";
             alert('Please select tax code!')
             event.preventDefault();
             return;
         }



        var ExpHeadMasterEnt = {};
        ExpHeadMasterEnt.AcName = ACname;
         ExpHeadMasterEnt.TallyName = tallyname;
         ExpHeadMasterEnt.IMPGID = importgroup;
         ExpHeadMasterEnt.isdpd = isdpdi;
         ExpHeadMasterEnt.HSNCodeL = hsncode;
         ExpHeadMasterEnt.chargefors = chargefor;
         ExpHeadMasterEnt.disp = dp;
         ExpHeadMasterEnt.InvTId = invtype;
         ExpHeadMasterEnt.TaxID = tax;
         ExpHeadMasterEnt.IsActive = chkIsActive;
         ExpHeadMasterEnt.EntryID = EntryID;



        @*expTariffMaster Is Entities Name *@
        //This Is For Pass Data Through Java Script
                $.ajax({
                    url: "/ImportInvoice/ChecktheAccountmasterAlready",
                    data: '{ExpHeadMasterEnt: ' + JSON.stringify(ExpHeadMasterEnt) + '}',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    if (data != "Account name already exits!") {
                        Save1();
                    } else {
                        alert(data);
                    }


                },
                    error: function (error) {
                    let str = error.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                   }
                });
        }

        else {

            alert("You Pressed No!")

        }
    }


     function Save1() {
         var ACname = document.getElementById('txtacname').value;
         var tallyname = document.getElementById('txttallyname').value;
         var importgroup = document.getElementById('importg').value;
         var isdpdi = document.getElementById('chkisdpdi').value;
         var hsncode = document.getElementById('ddlHSNDDL').value;
         var chargefor = document.getElementById('ddlcharge').value;
         var dp = document.getElementById('ddldp').value;

         var invtype = document.getElementById('dllinvtype').value;
         var tax = document.getElementById('ddltax').value
         var chkIsActive = document.getElementById('chkIsActive').value;
         var EntryID = document.getElementById('txtentryid').value

        var ExpHeadMasterEnt = {};
        ExpHeadMasterEnt.AcName = ACname;
         ExpHeadMasterEnt.TallyName = tallyname;
         ExpHeadMasterEnt.IMPGID = importgroup;
         ExpHeadMasterEnt.isdpd = isdpdi;
         ExpHeadMasterEnt.HSNCodeL = hsncode;
         ExpHeadMasterEnt.chargefors = chargefor;
         ExpHeadMasterEnt.disp = dp;
         ExpHeadMasterEnt.InvTId = invtype;
         ExpHeadMasterEnt.TaxID = tax;
         ExpHeadMasterEnt.IsActive = chkIsActive;
         ExpHeadMasterEnt.EntryID = EntryID;

                $.ajax({
                    url: "/ImportInvoice/SaveIAM",
                    data: '{ExpHeadMasterEnt: ' + JSON.stringify(ExpHeadMasterEnt) + '}',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                    success: function (data) {
                         alert(data);
                         window.location.href = '@Url.Action("AccountMaster", "ImportInvoice")';


                },
                    error: function (error) {
                    let str = error.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                   }
                });

    }
    function ShowSSRSummary() {



        var search = document.getElementById('txtsearch').value;
        var data1 = { 'search': search };
        data = JSON.stringify(data1);
        $.ajax({
            url: "/ImportInvoice/GetImportAcList",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(jsonResult)
                $("#reportTable").empty();
                RepTableDataJson($("#tblWorkOrderOpenList"), data, "GetImportAcList", "GetImportAcList")
                //  alert(jsonResult)
            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });


    }


    function EditAccountMaster(entryid, AccountName, Tallyname, HSN_Code, ChargesFor, DisplayPriority, invoicetypeID, TaXID) {
        var r = confirm("Do you wish to modify?");
        if (r == true) {



            $("#divCreate").show();
            $("#divCreateSummary").hide();
            document.getElementById('txtentryid').value = entryid;
            document.getElementById('txtacname').value = AccountName;
            document.getElementById('txttallyname').value = Tallyname;
            // document.getElementById('importg').value;
            // document.getElementById('chkisdpdi').value;
            document.getElementById('ddlHSNDDL').value = HSN_Code;
            document.getElementById('ddlcharge').value = ChargesFor;
            document.getElementById('ddldp').value = DisplayPriority;
            document.getElementById('dllinvtype').value = invoicetypeID;
            document.getElementById('ddltax').value = TaXID;
        }
        else {
            alert("You Pressed No!")
        }

    }
</script>

