
@{
    ViewBag.Title = "Customer Proforma Invoice";
    Layout = "~/Views/Shared/_LayoutFornWizard.cshtml";
 
}

 
<script src="~/js/GetTableJsonPaggingRe.js"></script>

<link href="~/plugins/forn-wizard/css/material-bootstrap-wizard.css" rel="stylesheet" />
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<style>
    .table thead th, .text-wrap table thead th {
        background-color: #9f78ff;
        color: white;
    }
</style>


<div id="tracker-loader"></div>
<div class=" content-area" id="diImpProfroma">
    <div class="page-header">
        <h4 class="page-title">Proforma Invoice</h4>
        <div class="form-group">
            <label class="form-label"></label>
            <div class="row gutters-xs">
                <div class="col">
                    @*<button type="button" class="btn btn-icon btn-orange" name="gst" title="GST" id="gst"><i class="fa fa-google"></i></button>*@
                    <button type="button" class="btn btn-icon btn-teal" name="summarylist" title="Today's Profoma Invoice" id="summarylist" onclick="showtodayperforma()"><i class="fa fa-file-text"></i></button>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body p-6">

            <div class="wizard-container">
                <div class="wizard-card m-0" id="wizardProfile">
                    <form>
                        <div class="wizard-navigation">
                            <ul>
                                <li><a href="#BasicDetails" data-toggle="tab">Basic Details</a></li>
                                <li><a href="#ContainerDetails" data-toggle="tab">Container Details</a></li>
                                <li><a href="#Charges" data-toggle="tab">Charges</a></li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane" id="BasicDetails">

                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label">Invoice Type</label>
                                                    @Html.DropDownList("ddlInvoiceType", (IEnumerable<SelectListItem>)ViewBag.Invoicetype, "--Select--", new { @class = "form-control", @id = "ddlInvoiceType", name = "ddlInvoiceType", autocomplete = "off" })
                                                </div>
                                            </div>

                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label">From Date</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("FromDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.AddDays(-1).ToString("dd MMM yyyy 00:00") })

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label"> To Date</label>
                                                    <div class="row gutters-xs">
                                                        <div class="col">
                                                            @Html.TextBox("ToDate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label">Transporter</label>
                                                    @Html.DropDownList("ddlTransporter", (IEnumerable<SelectListItem>)ViewBag.TransType, "--Select--", new { @class = "form-control", @id = "ddlTransporter", name = "ddlTransporter", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label">Customer</label>
                                                    @Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)ViewBag.Customer, "--Select--", new { @class = "form-control", @id = "ddlCustomer", name = "ddlCustomer", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label">Mov Type</label>
                                                    @Html.DropDownList("ddlactivity", (IEnumerable<SelectListItem>)ViewBag.activitymaster, "--Select--", new { @class = "form-control", @id = "ddlactivity", name = "ddlactivity", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">

                                                <label class="form-label">Activity</label>
                                                <select id="ddlactivityselect" class="form-control">
                                                    <option value="">--ALL--</option>

                                                </select>


                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <div class="form-group" style="padding-top:25px">
                                                    <button class="btn btn-primary" type="button" id="btnShowIGMItem" name="Show" onclick="GetDetailsforProforma()"><i class="fa fa-check"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory">Proforma No</label>
                                                    @Html.TextBox("txtInvoiceNo", "New", new { @class = "form-control", @id = "txtInvoiceNo", name = "txtInvoiceNo", disabled = "disabled", autocomplete = "off" })
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label mandatory">Proforma Date</label>
                                                    @Html.TextBox("txtInvoiceDate", null, new { @class = "form-control  form_datetime1 ", @id = "txtInvoiceDate", name = "txtInvoiceDate", Value = DateTime.Now.ToString("dd MMM yyyy HH:mm"), autocomplete = "off" })
                                                </div>
                                            </div>
                                            @*<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label">Cost Center</label>
                                                    @Html.DropDownList("ddlCostCenter", (IEnumerable<SelectListItem>)ViewBag.CostCenter, "--Select--", new { @class = "form-control", @id = "ddlCostCenter", name = "ddlCostCenter", autocomplete = "off" })
                                                </div>
                                            </div>*@
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory">GST No</label>
                                                    @Html.TextBox("txtGSTNo", null, new { @class = "form-control", @id = "txtGSTNo", name = "txtGSTNo", disabled = "disabled", autocomplete = "off", @Value = ViewBag.GSTNo })
                                                    <input ID="txtstatecode" type="hidden" />
                                                    <input ID="txtGSTid" type="hidden" />
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <div class="form-group" style="padding-top:26px;">
                                                    <button class="btn btn-primary" id="gstSearch" type="button" onclick="LoadGSTSearch()"><i class="fe fe-search"></i></button>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <label class="form-label mandatory">GST Party Name</label>
                                                    @Html.TextBox("txtGSTName", null, new { @class = "form-control", @id = "txtGSTName", name = "txtGSTName", disabled = "disabled", autocomplete = "off", @Value = ViewBag.GSTName })
                                                </div>
                                            </div>
                                        </div>
                                     
                                        <div class="row">
                                          
                                            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                                <div class="form-group label-floating">
                                                    <label class="form-label mandatory">Tariff ID</label>
                                                    @Html.DropDownList("ddlTariffID", (IEnumerable<SelectListItem>)ViewBag.TariffList, "--Select--", new { @class = "form-control", @id = "ddlTariffID", name = "ddlTariffID", autocomplete = "off"})
                                                </div>
                                            </div>
                                            <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12">
                                                <div class="form-group" style="padding-top:25px">
                                                    <button class="btn btn-primary" type="button" id="btnCalculate" name="Calculate" onclick="OnCalculateClick()">Calculate</button>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div class="tab-pane" id="ContainerDetails">
                                <div class="row">
                                    <div class="col-sm-12 col-lg-12">
                                        <div class="panel panel-primary">
                                            <div class="tab-menu-heading">
                                                <div class="tabs-menu ">
                                                    <!-- Tabs -->
                                                    <ul class="nav panel-tabs">
                                                        <li class=""><a href="#tab1" class="active" data-toggle="tab">Container Details</a></li>
                                                        <li><a href="#tab2" data-toggle="tab">Previous Invoice Details</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="panel-body tabs-menu-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane active " id="tab1">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblContainerDets">
                                                                    <thead>
                                                                        <tr></tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane  " id="tab2">
                                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                            <div class="table-responsive">
                                                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblPrevInvoiceDets">
                                                                    <thead>
                                                                        <tr>
                                                                            <th class="wd-15p sorting"></th>
                                                                            <th class="wd-15p sorting">Previous Container No</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="Charges">

                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                            <span style="color:blue;font-size:larger;font-weight:bolder">Charges to be Collected</span>
                                        </div>

                                        <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblCharges">
                                                    <thead>
                                                        @*<tr>

                                                            </tr>*@
                                                    </thead>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="display:none">
                                        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6">

                                        </div>
                                        <div class="col-lg-6 col-sm-12 col-xs-12 col-md-6" style="display:none">
                                            <div class="row">
                                                <div class="col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                                    <div class="table-responsive">
                                                        <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblAdditionalCharges">
                                                            <thead>
                                                                <tr>
                                                                    <th class="wd-15p sorting"></th>
                                                                    <th class="wd-15p sorting">Container No</th>
                                                                </tr>
                                                            </thead>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="form-label mandatory">Amount</label>
                                                @Html.TextBox("txtNetAmount", null, new { @class = "form-control", @id = "txtNetAmount", name = "txtNetAmount", autocomplete = "off", disabled = "disabled", @Value = ViewBag.NetAmount })
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="form-label mandatory">SGST</label>
                                                @Html.TextBox("txtSGST", null, new { @class = "form-control", @id = "txtSGST", name = "txtSGST", autocomplete = "off", disabled = "disabled", @Value = ViewBag.SGST })
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="form-label mandatory">CGST</label>
                                                @Html.TextBox("txtCGST", null, new { @class = "form-control", @id = "txtCGST", name = "txtCGST", autocomplete = "off", disabled = "disabled", @Value = ViewBag.CGST })
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="form-label mandatory">IGST</label>
                                                @Html.TextBox("txtIGST", null, new { @class = "form-control", @id = "txtIGST", name = "txtIGST", autocomplete = "off", disabled = "disabled", @Value = ViewBag.IGST })
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="form-group label-floating">
                                                <label class="form-label mandatory">Grand Total</label>
                                                @Html.TextBox("txtGrandTotal", null, new { @class = "form-control", @id = "txtGrandTotal", name = "txtGrandTotal", disabled = "disabled", autocomplete = "off", @Value = ViewBag.GrandTotal })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-sm-3" style="margin-top:20px;">
                                            <div class="form-group">

                                                <button id="btnsave" class="btn btn-success" onclick="SavePerformaDetails()">Save</button>
                                                <input type="button" name="clearProfile" value="Clear" class="btn cursor" title="clear" id="clearValue" onclick="Clear()" />
                                                <input type="hidden" id="lblWeight" />
                                                <input type="hidden" id="lblPkgs" />
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col" style="text-align:right;font-size:larger">
                                            <a href="#" id="aDivcargotype" style="color:#780bdb;font-family:-webkit-pictograph" onclick="GetCargotypeddetails()">Modify Cargo Type</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" id="aDivPerforma" style="color:#780bdb;font-family:-webkit-pictograph" onclick="showtodayperforma()">Click here view today Porforma invoice</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" id="aDivadditionialcharges" style="color:#780bdb;font-family:-webkit-pictograph" onclick="showAdditionalchrges()">Click here additional charges</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a href="#" id="aDivupdaterms" style="color:#780bdb;font-family:-webkit-pictograph" onclick="ShowUpdateRmsCustom()">Click here Update RMS Collection</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                                        </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;*@

                                </div>

                            </div>


                        </div>
                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-primary btn-wd m-0' name='next' value='Next' id="btnNEXT" />
                                @*<input type='button' id="saveEmp" onclick="ValidateStep3()" class='btn btn-finish btn-fill btn-primary btn-wd m-0' name='finish' value='Finish' />*@
                                <input type='button' id="saveEmp" onclick="SaveJOBDetail()" class='btn btn-finish btn-fill btn-primary btn-wd m-0' name='finish' value='Finish' />

                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd m-0' name='previous' value='Previous' id="btnPrevious" />
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div> <!-- wizard container -->
        </div>
    </div>


</div>






<div class="modal  fade" id="TestModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id='myModalContent'>
        </div>
    </div>
</div>

<div class=" content-area" id="ditodayinvoice" style="display:none">
    <div class="page-header">
        <h4 class="page-title">porforma Invoice List</h4>
        <div class="ibox-content  text-right">
            <a onclick="getBack();" class="btn btn-primary btn-success" style="color:white;align-content:center;"><i class="fa fa-arrow-left" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Back"></i>  </a></li>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Search</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("--Select--", new List<SelectListItem>
                                          { new SelectListItem { Text = "ALL", Value = "ALL"},
                                              new SelectListItem { Text = "Container No", Value = "Container No"},
                                              new SelectListItem { Text = "Igm-Item No", Value = "Igm-Item No"},
                                              new SelectListItem { Text = "Invoice NO", Value = "Invoice NO"},
                                            new SelectListItem { Text = "BOE No", Value = "BOE No"},
                                            new SelectListItem { Text = "BL Number", Value = "BL Number"},
                                            new SelectListItem { Text = "GST Party Name", Value = "GST Party Name"},
                                            }, new { @class = "form-control", autocomplete = "off", @id = "ddlsummarysearchcerteria" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12" id="divsearchtext" style="display:none">
                            <div class="form-group">
                                <label class="form-label" id="lblgetlable"></label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtSearchtext", null, new { @class = "form-control ", @id = "txtSearchtext", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-sm-12" id="divItemnno" style="display:none">
                            <div class="form-group">
                                <label class="form-label" id="lblitemno"></label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtItemno", null, new { @class = "form-control ", @id = "txtItemno", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12" id="divCustomerName" style="display:none">
                            <div class="form-group">
                                <label class="form-label">Customer Name</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlcustomerName", (IEnumerable<SelectListItem>)ViewBag.Customer, "--Select--", new { @class = "form-control", @id = "ddlcustomerName", name = "ddlcustomerName", autocomplete = "off", onchange = "ChangeDeliveryType()" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">From Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("TxtFromdate1", null, new { @class = "form-control form_datetime1 ", @id = "TxtFromdate", autocomplete = "off", @Value = DateTime.Now.ToString("dd MMM yyyy 00:00") })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">To Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("TxtTodate1", null, new { @class = "form-control form_datetime1 ", @id = "TxtTodate", autocomplete = "off", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59") })
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-12">
                            <div class="form-group">
                                <label class="form-label" style="visibility:hidden">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button type="button" class="btn btn-icon btn-primary" name="clearProfile" title="clear" id="btnShow" onclick="GetViewTodayPerforma()">Show</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <button class="btn btn-warning" id="btnSearch" title="Export To Excel" type="button"><i class="fa fa-file-excel-o" onclick="GetExcelFile()"></i></button>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblviewtodayporformadetails"></table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $('#ddlactivity').change(function (e) {
        var ActivityStatus = $("#ddlactivity").val();
        $.ajax({
            url: "/ImportInvoice/GetStatusWiseactivity",
            data: '{ActivityStatus: ' + JSON.stringify(ActivityStatus) + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var select = $("#ddlactivityselect");

                select.empty();
                select.append($('<option/>', {
                    value: "",
                    text: "--Select--"
                }));

                $.each(data, function (data, value) {

                    select.append($("<option></option>").val(value.AutoID).html(value.Activity));
                })

              



            },

            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });




    });
</script>



<script>
    function GetDetailsforProforma() {
        var Invoicetype = $("#ddlInvoiceType").val();
        var Fromdate = $("#FromDate").val();
        var Todate = $("#ToDate").val();
        var Customers = $("#ddlCustomer").val();
        var ActivityStatus = $("#ddlactivity").val();
        var Activity = $("#ddlactivityselect").val();
        var Transid = $("#ddlTransporter").val();

        var CostCenter = $("#ddlCostCenter").val();
        $("#tracker-loader").fadeIn("slow");
        var data1 = {
            'Invoicetype': Invoicetype, 'Fromdate': Fromdate, 'Todate': Todate, 'Customers': Customers, 'Activity': Activity,
            'ActivityStatus': ActivityStatus, 'CostCenter': CostCenter, 'Transid': Transid
        };
        var data = JSON.stringify(data1);
        
        $.ajax({
            type: "POST",
            url: "/ImportInvoice/GetProformaInvoicedetails",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data == "0" || data == "[]") {
                 
                    alert('data Not found.');
                    $("#tracker-loader").fadeOut("slow");
                    return;
                }

                $("#tblContainerDets").empty();
                RepTableDataJsonwopaging($("#tblContainerDets"), data, "Voucher Details", "VoucherDetails_List");
                $("#tracker-loader").fadeOut("slow");
            },

            error: function (response) {

                alert(response.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
            //})
        })
    }
</script>
<script>
    $(window).on("load", function (e) {
        $("#tracker-loader").fadeOut("slow");
    })

</script>
<script>
    function showtodayperforma() {
        $("#ditodayinvoice").show();
        $("#divUpdateRmscustom").hide();
        $("#divadditionialchanrges").hide();
        $("#diImpProfroma").hide();
    }
</script>
<script>
    $('#ddlsummarysearchcerteria').change(function (e) {
        var SearchNO = $("#ddlsummarysearchcerteria").val();
        // alert(SearchNO);
        if (SearchNO == "Container No") {
            $("#lblgetlable").text("Container No");
            $("#divsearchtext").show();
            $("#divIgmno").hide();
            $("#divItemnno").hide();
            $("#divCustomerName").hide();
            $("#txtSearchtext").val('');
        }
        if (SearchNO == "Igm-Item No") {
            $("#lblgetlable").text("IGM No");
            $("#lblitemno").text("Item No");

            $("#divIgmno").show();
            $("#divItemnno").show();
            $("#divCustomerName").hide();

            $("#txtIgmno").val('');
            $("#txtSearchtext").val('');
        }
        if (SearchNO == "Invoice NO") {
            $("#lblgetlable").text("Invoice NO");
            $("#divsearchtext").show();
            $("#txtSearchtext").val('');
            $("#divIgmno").hide();
            $("#divCustomerName").hide();
            $("#divItemnno").hide();
        }

        if (SearchNO == "BL Number") {
            $("#lblgetlable").text("BL Number");
            $("#divsearchtext").show();
            $("#divIgmno").hide();
            $("#divItemnno").hide();
            $("#divCustomerName").hide();
            $("#txtSearchtext").val('');
        }
        if (SearchNO == "BOE No") {
            $("#lblgetlable").text("BOE No");
            $("#divsearchtext").show();
            $("#divIgmno").hide();
            $("#divItemnno").hide();
            $("#divCustomerName").hide();
            $("#txtSearchtext").val('');
        }

        if (SearchNO == "GST Party Name") {

            $("#divCustomerName").show();
            $("#divsearchtext").hide();
            $("#divIgmno").hide();
            $("#divItemnno").hide();
        }

    });

    function GetViewTodayPerforma() {
        var fromdate = $("#TxtFromdate").val();
        var Todate = $("#TxtTodate").val();
        var searchCerteria = $("#ddlsummarysearchcerteria").val();
        var Searchtext = $("#txtSearchtext").val();
        var Searchtext1 = $("#txtItemno").val();
        //var customerName = $("#ddlcustomerName").val();
        var data1 = { 'fromdate': fromdate, 'Todate': Todate, 'searchCerteria': searchCerteria, 'Searchtext': Searchtext, 'Searchtext1': Searchtext1 };
        var data = JSON.stringify(data1);


        $.ajax({
            type: "POST",
            url: "/ImportInvoice/GetInvoiceporformadetails",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                $("#tblviewtodayporformadetails").empty();
                RepTableDataJsonwopaging($("#tblviewtodayporformadetails"), data, "Voucher Details", "VoucherDetails_List");
                $("#tracker-loader").fadeOut("slow");
            },

            error: function (response) {

                alert(response.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
            //})
        })

    }


</script>
<script>

    function getBack() {
        $("#diImpProfroma").show();
        $("#divadditionialchanrges").hide();
        $("#divUpdateRmscustom").hide();
        $("#ditodayinvoice").hide();
        $("#divcargotype").hide();
    }
    function GetCargotypeddetails() {
        $("#divcargotype").show();
        $("#ditodayinvoice").hide();
        $("#divUpdateRmscustom").hide();
        $("#divadditionialchanrges").hide();
        $("#diImpProfroma").hide();
    }

    function ShowCargotypedetailssummary() {

        var Igmno = $("#TxtIgmNoCargo").val();
        var Itemno = $("#TxtItemNoCargo").val();

        //var customerName = $("#ddlcustomerName").val();
        var data1 = { 'Igmno': Igmno, 'Itemno': Itemno };
        var data = JSON.stringify(data1);


        $.ajax({
            type: "POST",
            url: "/ImportInvoice/Getcargotypedetails",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data =="") {
                    alert("data not found!")
                } else {
                    $("#TxtConsigneename").val(data[0].Consignee);
                    $("#TxtConsigneeAddress").val(data[0].Con_IGMAddress);
                    $("#TxtNotifyConsignee").val(data[0].NConsignee);
                    $("#TxtNotifyaddress").val(data[0].NCon_IGMAddress);
                    $("#TXtBlNoCargotpe").val(data[0].IGM_BLNo);
                    $("#TxtCargoDesc").val(data[0].IGM_GoodsDesc);
                    $("#TxtCaroweight").val(data[0].IGM_GrossWt);
                    $("#TxtUnit").val(data[0].IGM_WtUnit);
                    $("#Txtcargoaty").val(data[0].IGM_Qty);
                    $("#TxtUnit2").val(data[0].IGM_PackType);
                    $("#TxtCargoremarks").val(data[0].Remarks);
                }
                BindContainerDetailsForCargoType(Igmno, Itemno);
            },

            error: function (response) {

                alert(response.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
            //})
        })
    }







    var ISOCodesList = [];
    var ContainerTypeLi = [];
    ISOCodesList = @Html.Raw(Json.Encode(@ViewBag.IsocdeDetails));
    ISOCodesList = JSON.parse(ISOCodesList);

    ContainerTypeLi = @Html.Raw(Json.Encode(@ViewBag.CargotypeList));
    ContainerTypeLi = JSON.parse(ContainerTypeLi);



    function BindContainerDetailsForCargoType(Igmno, Itemno){
        //var customerName = $("#ddlcustomerName").val();
        var data1 = { 'Igmno': Igmno, 'Itemno': Itemno };
        var data = JSON.stringify(data1);


        $.ajax({
            type: "POST",
            url: "/ImportInvoice/GetContainerDetailsForCargoType",
            data: data,
            contentType: "application/json; charset=utf-8",
            success: function (data) {


                $('#tblcargotypedetails').dataTable({
                    "destroy": true,
                    "bLengthChange": false,
                    "bPaginate": false,
                    "paging": false,
                    "aaData": data,
                    "bInfo": false,
                     "bFilter": false,

                    "columns": [
                        { "data": "JONo" },
                        { "data": "containerno" },
                        {
                            "data": "Size",
                            "render": function (data, type, row, meta) {

                                data = '<input type=\"number\" name=\"TxtSize[]\" style=\"width: 150px;\" class=\" form-control\" id=\"TXtSize\"  value="' + row.Size + '">';
                                return data;
                            }
                        },
                        {
                            "data": "ISOCode",
                            "render": function (data, type, row, meta) {

                                data = '<select  class="form-control" id="ISOCode' + row.containerno + '_' + row.JONo + '"  style="width:100px">'
                                for (j = 0; j < ISOCodesList.length; j++) {

                                    data += '<option value="' + ISOCodesList[j].ISOID + '"> ' + ISOCodesList[j].ISOCode + '</option>'

                                }

                                data += '</select>';
                                return data;

                            }

                        },
                        {
                            "data": "Cargotype",
                            "render": function (data, type, row, meta) {

                                data = '<select  class="form-control" id="Cargotype' + row.containerno + '_' + row.JONo + '"  style="width:100px">'
                                for (j = 0; j < ContainerTypeLi.length; j++) {

                                    data += '<option value="' + ContainerTypeLi[j].Cargotypeid + '"> ' + ContainerTypeLi[j].Cargotype + '</option>'

                                }

                                data += '</select>';
                                return data;

                            }

                        },
                        {
                            "data": "Weight",
                            "render": function (data, type, row, meta) {

                                data = '<input type=\"number\" name=\"TxtWeight[]\" style=\"width: 150px;\" class=\" form-control\" id=\"TXtWeight\"  value="' + row.Weight + '">';
                                return data;
                            }
                        },
                        {
                            "data": "PKGS",
                            "render": function (data, type, row, meta) {

                                data = '<input type=\"number\" name=\"TxtPKGS[]\" style=\"width: 150px;\" class=\" form-control\" id=\"TXtPKGS\"  value="' + row.PKGS + '">';
                                return data;
                            }
                        },

                    ],
                })


                var table = document.getElementById("tblcargotypedetails");
                var row;


                var TotTEUS1 = 0;
                var TotTEUS2 = 0;
                var TotTEUS3 = 0;
                var TotTEUS = 0;

                for (var i = 1; i < table.rows.length; i++) {
                    row = table.rows[i];
                    //var Size = row.cells[6].childNodes[1].value;
                    var Size = row.cells[2].innerText;
                    var Size = row.cells[2].childNodes[0].value;;

                    //alert(Size)

                    if (Size == 20) {
                        TotTEUS1 = Number(TotTEUS1) + 1;
                    }
                    if (Size == 40) {
                        TotTEUS2 = Number(TotTEUS2) + 2;
                    }
                    if (Size == 45) {
                        TotTEUS3 = Number(TotTEUS3) + 2;
                    }
                    //TotTEUS = Number(TotTEUS) + Number(size);


                }
                TotTEUS = TotTEUS1 + TotTEUS2 + TotTEUS3
                // alert(TotTEUS);
                $("#lbltwenty").text(TotTEUS1);
                $("#lblforty").text(TotTEUS2);
                $("#lblfortyfive").text(TotTEUS3);
                $("#lblTotal").text(TotTEUS);

                $("#divTEUS").show();
                $("#divTEUS1").show();
                $("#divTEUS2").show();
                $("#divTEUS3").show();

            },

            error: function (response) {

                alert(response.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
            //})
        })
    }

</script>


@*calcualte*@

<script>

    function checkItemcountForContainerTbl() {

        var table = $('#tblContainerDets').DataTable();

        if (table.rows().count() == 0) {

            return false;
        }
        return true;

    }
    function OnCalculateClick() {
        $("#tracker-loader").fadeIn("slow");



        var itemcount = checkItemcountForContainerTbl();

        if (itemcount == false) {
            alert("No details selected for saving. Cannot proceed");
            $("#tracker-loader").fadeOut("slow");
            return false;
        }

            var checkboxarray = [];
            $('input[type=checkbox]').each(function () {
                if (this.checked) {

                    checkboxarray.push($(this).val());
                }
            });

            var tablearrayCont = [];
            var table = document.getElementById("tblContainerDets");
            var row;
            for (var i = 1; i < table.rows.length; i++) {

                row = table.rows[i];

                for (var k = 0; k < checkboxarray.length; k++) {


                    var InvoiceNo = row.cells[15].innerText;

                    if (InvoiceNo == checkboxarray[k]) {


                        row = table.rows[i];
                        VOucherno = row.cells[1].innerText;
                        Voucherdate = row.cells[2].innerText;
                        ContainerNo = row.cells[3].innerText;
                        Size = row.cells[4].innerText;
                        TrailerName = row.cells[5].innerText;
                        TransName = row.cells[6].innerText;
                        Activity = row.cells[7].innerText;
                        Fromlocation = row.cells[8].innerText;
                        Tolocation = row.cells[9].innerText;
                        DriverName = row.cells[10].innerText;
                        ContainerType = row.cells[11].innerText;
                        Frlocid = row.cells[12].innerText;
                        ToLocid = row.cells[13].innerText;
                        Lineid = "";






                        tablearrayCont.push({
                            'VOucherno': VOucherno, 'Voucherdate': Voucherdate, 'ContainerNo': ContainerNo,
                            'Size': Size, 'TrailerName': TrailerName, 'TransName': TransName, 'Activity': Activity, 'Fromlocation': Fromlocation,
                            'Tolocation': Tolocation, 'DriverName': DriverName, 'ContainerType': ContainerType, 'Frlocid': Frlocid, 'ToLocid': ToLocid, 'Lineid': Lineid
                        })


                    }
                }
            }



        if (tablearrayCont.length == 0) {
            alert("Please select Container Details! cannot proceed.");
            $("#tracker-loader").fadeOut("slow");
            return false;
        }






        var GSTNo = $("#txtGSTNo").val();
        var GSTName = $("#txtGSTName").val();
        var StateCode1 = $("#txtstatecode").val();
        var TariffID = $("#ddlTariffID option:selected").val();
        var Deliverytype = $("#ddlactivity option:selected").text();


        StateCode = StateCode1.trim();
        var data1 = {
            'GSTNo': GSTNo, 'GSTName': GSTName, 'StateCode': StateCode, 'TariffID': TariffID, 'Deliverytype': Deliverytype,'GetContainerDetails': tablearrayCont
        };
        var data = JSON.stringify(data1);




        $.ajax({
            url: "/ImportInvoice/CalculatePerformaDetails",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {


                $("#tblCharges").empty();
                RepTableDataJsonwopaging($("#tblCharges"), data.GetContainerSHowList, "Voucher Details", "VoucherDetails_List");

                $("#txtSGST").val(data.ContainerAmtShowList.SGST);
                $("#txtCGST").val(data.ContainerAmtShowList.CGST);
                $("#txtIGST").val(data.ContainerAmtShowList.IGST);
                $("#txtNetAmount").val(data.ContainerAmtShowList.Amount);
                $("#txtGrandTotal").val(data.ContainerAmtShowList.nettotal);


                $("#tracker-loader").fadeOut("slow");
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
                $("#tracker-loader").fadeOut("slow");
            }
        });



    }

    function LoadGSTSearch() {
        $.ajax({
            type: "POST",
            url: "/ImportInvoice/ImportProformaGSTSearch",
            //data: data,
            contentType: "application/json; charset=utf-8",
            success: function (response) {
                //alert(response);
                $('#TestModal').modal('show');
                $('#myModalContent').html(response);
            },
            failure: function (response) {
                alert(response);
                alert(response.responseText);
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
            }
        })
    }


    function SavePerformaDetails() {

        $("#tracker-loader").fadeIn("slow");






        var GSTNo = $("#txtGSTNo").val();
        var GSTName = $("#txtGSTid").val();
        var StateCode = $("#txtstatecode").val();
        var TariffID = $("#ddlTariffID option:selected").val();
        var Deliverytype = $("#ddlInvoiceType option:selected").text();
        var Fromdate = $("#FromDate").val();
        var Todate = $("#ToDate").val();
        var netamount = $("#txtNetAmount").val();
        var SGST = $("#txtSGST").val();
        var CGST = $("#txtCGST").val();
        var IGST = $("#txtIGST").val();
        var GrandTotal = $("#txtGrandTotal").val();
        var InvoiceDate = $("#txtInvoiceDate").val();
        var Customers = $("#ddlCustomer").val();
        var Transid = $("#ddlTransporter option:selected").val();




        var data1 = {
            'GSTNo': GSTNo, 'GSTName': GSTName, 'StateCode': StateCode, 'TariffID': TariffID, 'Deliverytype': Deliverytype,
            'Fromdate': Fromdate, 'Todate': Todate,
            'netamount': netamount, 'SGST': SGST, 'CGST': CGST, 'IGST': IGST, 'GrandTotal': GrandTotal, 'InvoiceDate': InvoiceDate, 'Customers': Customers, 'Transid': Transid

        };
        var data = JSON.stringify(data1);

        var r = confirm("Are u sure to save proforma invoice?");
        if (r == true) {
            $.ajax({
                url: "/ImportInvoice/SaveInvoicePerformaDetails",
                data: data,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {

                    var array = data.split(',');
                    var b = array[0];
                    var c = array[1];
                    alert(b);



                    var r = confirm("Do you want to print ?");
                    if (r == true) {
                        $("#tracker-loader").fadeOut("slow");
                        PrintInvoice(c);
                    } else {
                          document.location = '@Url.Action("CustomerProformaInvoice", "ImportInvoice")';
                    }






                },
                error: function (error) {
                    let str = error.responseText;
                    var a = str.indexOf("<title>") + 7;
                    var b = str.indexOf("</title>");
                    str = str.substring(a, b);
                    alert("Something went wrong: " + str);
                    $("#tracker-loader").fadeOut("slow");
                }
            });
        } else {

            alert("You Pressed Cancel!");
            $("#tracker-loader").fadeOut("slow");
        }




    }


</script>

<script>
    function PrintInvoice(InvoiceNo) {


        var data1 = { 'InvoiceNo': InvoiceNo };
        data = JSON.stringify(data1);

        $.ajax({
            url: '/ImportInvoice/ImportInvoicePerformaPrint',
            type: 'Post',
            data: data,
            async: false,
            contentType: 'application/json; charset=utf-8',
            success: function (response) {

                var myWindow = window.open("", "MsgWindow1", 'width=' + screen.availWidth + ',height=' + screen.availHeight + ',resizable=no');
                myWindow.close();
                var myWindow = window.open("", "MsgWindow1", 'width=' + screen.availWidth + ',height=' + screen.availHeight + ',resizable=no');
                myWindow.document.write(response);
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                alert("Something went wrong: " + str);
            }
        });
    };

</script>

<script>
    $('#ddlCustomer').change(function (e) {
        var CustomerName = $("#ddlCustomer").val();
        $.ajax({
            url: "/ImportInvoice/GetCompanyNameTariff",
            data: '{CustomerName: ' + JSON.stringify(CustomerName) + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

              


                if (data == "") {
                    alert("Not Found!");
                    $('#txtGSTNo').val('');
                    $('#txtGSTid').val('');
                    $('#txtstatecode').val('');
                    $('#txtGSTName').val('');
                    $('#ddlTariffID').val('');
                }



                $('#txtGSTNo').val(data[0].GSTIn_uniqID);
                $('#txtGSTid').val(data[0].GSTID);
                $('#txtstatecode').val(data[0].state_Code);
                $('#txtGSTName').val(data[0].GSTName);
                $('#ddlTariffID').val(data[0].TariffID);



            },

            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });


    

    });

    function ExcelInvoice(InvoiceNo) {
        var InvoiceNo
        window.location = '@Url.Action("ExporttoExcelBillrecoAnnexure", "ImportInvoice")?InvoiceNo=' + InvoiceNo ;
         

    }
</script>



