
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <div class="box">
                <div class="boxHeaderL" style="border-right-style:solid;border-right-width:1pt;height:75px;">
                    <img height="50" width="150" style="margin-left:10px;margin-top:5px;" src="~/images/FAST-TRACK-CFS-PVT.LTD-150-JPEG.jpg" />
                </div>
                <div class="boxHeaderR">
                    <h3 class="buttomMargin" style="font-size:9pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.CompanyName</h3>
                    <div style="width:100%">
                        <h5 style="font-size:6.5pt;margin-top: 10px;margin-bottom:0px;">@ViewBag.CINNo</h5>
                        <h5 style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;">@ViewBag.RegdOffice</h5>
                        <h5 style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;">@ViewBag.Addressl</h5>
                        <h5 style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;">@ViewBag.IMP_AC_EMAILID</h5>
                    </div>
                </div>
            </div>

            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:20px">
                            IMPORT PROFORMA INVOICE
                        </th>
                    </tr>

                </tbody>
            </table>
            <div class="printBody clearfix">
                <div class="box" style="border-style:none;">
                    <table class="tblBox">
                        <tbody>

                            <tr>
                                <th style="width:10%;text-align:left">Proforma No</th>
                                <td style="width:50%;text-align:left"><label style="visibility:hidden">Sp</label> @ViewBag.InvoiceNo</td>
                                <th style="width:10%;text-align:left">Proforma Date</th>
                                <td style="width:50%;text-align:left;"><label style="visibility:hidden">Sp</label> @ViewBag.InvoiceDate</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="width:20%;text-align:left">Details of Receiver/ Billed to:</th>
                                <th colspan="2" style="width:20%;text-align:left">Details of Consignee/ Shipped to:</th>
                            </tr>
                            <tr>
                                <td colspan="2" style="vertical-align:top;width:70%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Name</th>
                                                    <td style="width:80%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden">Sp</label> @ViewBag.Name</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Address </th>
                                                    <td style="width:80%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Address</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">GSTIN </th>
                                                    <td style="width:80%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden">Sp</label> @ViewBag.GSTIN</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Place of Supply </th>
                                                    <td colspan="1" style="border-style:none;">
                                                        <table class="tblBox">
                                                            <tr>
                                                                <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.PlaceofSupply</td>
                                                                <th style="width:20%;text-align:left;border-style:none;border: 1px solid gray;">State Code </th>
                                                                <td style="width:30%;text-align:left;border-style:none;border: 1px solid gray;"><label style="visibility:hidden">Sp</label> @ViewBag.state_Code</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td colspan="2" style="vertical-align:top;width:30%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Consignee</th>
                                                    <td style="width:80%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Consignee</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Address </th>
                                                    <td style="width:80%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Address</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="printBody clearfix">
                <div class="box" style="border-style: none;">
                    <table class="tblBox" style="border-style: none;">
                        <tbody>
                            <tr>
                                <td colspan="4" style="vertical-align:top">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th colspan="2" style="width:20%;text-align:left">Operational Details</th>
                                                    <th colspan="2" style="width:20%;text-align:left">Movement: @ViewBag.Movement</th>
                                                </tr>

                                                <tr>

                                                    <th style="width:10%;text-align:left;border-style:none">Shipping Line</th>
                                                    <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.ShippingLine</td>

                                                    <th style="width:10%;text-align:left;border-style:none">BOE No</th>
                                                    <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.BOENo</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">IGM/Item No</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.IgmItemNo</td>
                                                    <th style="width:10%;text-align:left;border-style:none">BL No</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.BLNo</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:10%;text-align:left;border-style:none">CHA Name</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.CHAName</td>
                                                    <th style="width:10%;text-align:left;border-style:none">Cargo Weight</th>
                                                    <td style="width:40%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.CargoWeight</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Cargo Desc</th>
                                                    <td colspan="3" style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label>@ViewBag.CargoDesc</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3 style="margin-top: -0px;margin-bottom: -0px;font-size: 9.5pt;">Container Details:</h3>
                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Container No</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Size</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Type</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Cargo Type</th>
                           
                            <th style="width:50px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Scan Type</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">PKGS</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Gross Weight</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Arrival Date & Time</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Total Days</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Free Days</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Charge Days</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Hnd Charges</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Grd Chagres</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Del Mode</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">Validity Date</th>
                            <th style="width:100px;background-color:#ede5e5;font-size: 10pt;font-weight: 700;">In Mode</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.ContainerDetailsList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:left">@dr["ContainerNO"]</td>
                                <td style="text-align:center">@dr["Size"]</td>
                                <td style="text-align:center">@dr["Type"]</td>
                                <td style="text-align:center">@dr["CargoType"]</td>
                                <td style="text-align:center">@dr["Scantype"]</td>
                                <td style="text-align:center">@dr["PKGS"]</td>
                                <td style="text-align:center">@dr["Wt"]</td>
                                <td style="text-align:center">@dr["Indate"]</td>
                                <td style="text-align:center">@dr["tdays"]</td>
                                <td style="text-align:center">@dr["FreeDays"]</td>
                                <td style="text-align:center">@dr["ChargeableDays"]</td>
                                <td style="text-align:center">@dr["HandlingCharges"]</td>
                                <td style="text-align:center">@dr["Groundrent"]</td>
                                <td style="text-align:center">@dr["deltype"]</td>
                                <td style="text-align:center">@dr["Validupto"]</td>
                                <td style="text-align:center">@dr["Transtype"]</td>
                            
                            </tr>
                        }
                    </tbody>
                </table>
            </div>



            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;"  id="divchargesDesc">
                    <thead>
                        <tr>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">Sr No.</th>
                            <th style="width:80%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">Charges Description</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">sac Code</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">Amount</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">Less Disc.</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" rowspan="2">Taxable Value</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" colspan="2">SGST</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" colspan="2">CGST</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 10pt;font-weight: 700;" colspan="2">IGST</th>
                        </tr>
                        <tr>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var dr in ViewBag.ChargesDetailsList)
                        {
                            <tr>
                                <td style="text-align:left">@dr["SRNo"]</td>
                                <td style="text-align:left">@dr["AccountName"]</td>
                                <td style="text-align:left">@dr["HSN"]</td>
                                <td style="text-align:right">@dr["Amount"]</td>
                                <td style="text-align:right">@dr["Discount"]</td>
                                <td style="text-align:right">@dr["NetAmount"]</td>
                                <td style="text-align:right">@dr["Srate"]</td>
                                <td style="text-align:right">@dr["SGST"]</td>
                                <td style="text-align:right">@dr["CRate"]</td>
                                <td style="text-align:right">@dr["CGST"]</td>
                                <td style="text-align:right">@dr["IRate"]</td>
                                <td style="text-align:right">@dr["IGST"]</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="text-align:left;text-align:center" colspan="2">Total</td>
                            <td style="text-align:left">&nbsp; </td>
                            <td style="text-align:right">@ViewBag.Amount </td>
                            <td style="text-align:left"> </td>
                            <td style="text-align:right">@ViewBag.NetAmount </td>
                            <td style="text-align:left" ></td>
                            <td style="text-align:right">@ViewBag.SGST </td>
                            <td style="text-align:left"> </td>
                            <td style="text-align:right">@ViewBag.CGST </td>
                            <td style="text-align:right"> </td>
                            <td style="text-align:right">@ViewBag.IGST </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div style="border:1px solid gray;">
                <div class="printBody clearfix">
                    <div class="box" style="border-style: none;">
                        <table class="tblBox">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="vertical-align:top;width:65%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr style="border-style:groove">
                                                        <th style="width:20%;text-align:left;border-top-style:none;font-weight: 500;border-style: none;">Total Invoice Amount in Words: :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.TotalAmountInWord</td>
                                                    </tr>

                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: bold;border-style: none;">BANK DETAILS :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">Company Name &nbsp; @ViewBag.CompanyName</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;;font-weight: 500;border-style: none;">@ViewBag.BankName</th>
                                                        <td style="width:30%;text-align:left;border-style: none;">@ViewBag.AccountNo</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.BranchName</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.IFSCCode</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">Remarks</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.Remarks</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td colspan="2" style="vertical-align:top;width:35%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;"> Total Amount Before Tax :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.AmountWithoutTax</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;">Add : CGST :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.CGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;">Add :SCGST :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.SGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;">Add : IGST :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.IGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;">Tax Amount : GST :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.TaxAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;"> Total Amount After Tax :</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;">@ViewBag.TotalAmount</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
              
                <div class="boxHalf clearfix" style="text-align:left;height:180px">
                    <h5 style="margin-top:0px;margin-bottom:0px;">Terms and conditions</h5>
                    <h6 style="margin-top:0px;margin-bottom:0px;font-weight:normal">
                        @ViewBag.NoteVS
                    </h6>
                    <h3>@ViewBag.GSTINNo</h3>
                    <h3>PAN No:- @ViewBag.PANNo</h3>
                    <h3 style="font-weight:normal">Note:This is Computer Generated Invoice, Signature & Stamp Not Required</h3>
                    <h3 style="font-weight:normal">SUBJECT TO GUJARAT JURISDICTION</h3>
                    <h3>(E.& O.E.)</h3>
                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:180px">
                    <br />
                    <h3>@ViewBag.CompanyName</h3><br /><br />
                    <h3>Authorised Signatory</h3>
                </div>
               
            </div>
        </div>
       
    </div>
</body>
</html>
@*<script>
        setTimeout(function () {
            window.onload = window.print();
        }, 1000);
        wondow.onload = function () {

        };
    </script>

    <script>
        setTimeout(function () {
            window.onload = window.close();
        }, 1000);
        wondow.onload = function () {

        };
    </script>*@

