
@{
    ViewBag.Title = "CancelExportGateIn";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

@{
    ViewBag.Title = "CancelExportGateIn";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area overflow-hidden" id="divCreate">

    <div class="page-header">
        <h4 class="page-title">Cancel Export Gate In</h4>

    </div>



    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-body">

                    <div class="row">

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Container No</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtcontainerno", null, new { @class = "form-control ", @id = "txtcontainerno", Placeholder = "Container No", @autocomplete = "off", @maxlength = "11" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-1 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">.</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <button class="btn btn-primary" type="button" name="Add" onclick="Fetch(); "><i class="fa fa-check"></i></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Customer</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtagname", null, new { @class = "form-control ", @id = "txtagname", Placeholder = "Customer Name", @autocomplete = "off", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-8">
                            <div class="form-group">
                                <label class="form-label">Gate In Date</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtindate", null, new { @class = "form-control form_datetime1", @Value = DateTime.Now.ToString("dd MMM yyyy 23:59"), @id = "txtindate", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label mandatory">Size</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        <select class="form-control" id="ddlsize">
                                            <option value="0">--Select--</option>
                                            <option value="20">20</option>
                                            <option value="40">40</option>
                                            <option value="45">45</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">ContainerType</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.DropDownList("ddlcontainertype", (IEnumerable<SelectListItem>)ViewBag.Type, "--Select--", new { @class = "form-control", @id = "ddlcontainertype", name = "ddlcontainertype", autocomplete = "off" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            <div class="form-group">
                                <label class="form-label">Cancel Remarks</label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @Html.TextBox("txtremarks", null, new { @class = "form-control ", @id = "txtremarks", autocomplete = "off", Placeholder = "" })
                                        <input type="hidden" id="txtentryid" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-sm-2">
                            <div class="form-group">
                                <label class="form-label"></label>
                                <div class="row gutters-xs">
                                    <div class="col">
                                        @*<input type="submit" id="Save" name="save" value="Save" class="btn btn-success" />*@
                                        <button id="btnSave" class="btn btn-danger btn-xs" onclick="return Save();">Cancel</button>
                                        @*<input type="button" name="clear" value="Clear" class="btn btn-default" title="clear" id="clearValue" />*@
                                        <input type="button" name="clear" value="Clear" class="btn btn-outline-dark" title="clear" onclick="cleartextboxes();" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function Fetch() {

        debugger;
        var ContainerNo = $("#txtcontainerno").val().trim();

        var data1 = { "ContainerNo": ContainerNo };
        var data = JSON.stringify(data1);
        $.ajax({
            type: 'POST',
            url: '/ModifyModule/GetCancelDetailExpIn',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                $('#txtentryid').val(data[0].EntryID);
                $('#ddlsize').val(data[0].Size);
                $('#ddlcontainertype').val(data[0].Type);
                $('#txtagname').val(data[0].Agency);
                $('#txtindate').val(data[0].INDate);
                $('#txtremarks').val(data[0].Remarks);

                // Size, containertype, AGName

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }
</script>
<script>
    function Save() {
        debugger;


        var element = {};
        element.ContainerNo = $("#txtcontainerno").val().trim();
        element.EntryID = $("#txtentryid").val().trim();
        element.Remarks = $("#txtremarks").val().trim();




        var isValid = true;
        if (element.ContainerNo == 0) {
            isValid = isValid && false;
            $("#txtcontainerno").addClass("is-invalid state-invalid");
        } else {
            $("#txtcontainerno").removeClass("is-invalid state-invalid");
        }



        if (element.Remarks == "") {
            isValid = isValid && false;
            $("#txtremarks").addClass("is-invalid state-invalid");
        } else {
            $("#txtremarks").removeClass("is-invalid state-invalid");
        }

        if (isValid == false) {
            alert("Please fill all required field");
            $("#global-loader").fadeOut("slow");
            return;
        }


        var data1 = { "Details": element };
        var data = JSON.stringify(data1);
        alert(data);

    //

        $.ajax({
            type: 'post',
            url: '/ModifyModule/CancelExpContainerByID',
            data: data,
            async: false,
            contentType: "application/json; charset=utf-8",
            success: function (response) {

                $("#global-loader").fadeOut("slow");

                if (response.ResponseMessage != '') {
                    alert(response.ResponseMessage);
                    document.location = '@Url.Action("CancelExportGateIn", "ModifyModule")';
                }
                else {
                    Swal.fire({
                        title: 'Error',
                        text: response.Message,
                        icon: 'error'
                    })
                }
            },
            error: function (error) {
                let str = error.responseText;
                var a = str.indexOf("<title>") + 7;
                var b = str.indexOf("</title>");
                str = str.substring(a, b);
                Swal.fire({
                    title: 'Error!',
                    text: str,
                    icon: 'error'
                });
            }
        });
    }
</script>
