
@{
    ViewBag.Title = "ModifyWorkOrder";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<div class=" content-area overflow-hidden" id="divCreate" style="display:none">
    <script src="~/js/GetTableJson.js"></script>
    <div class=" content-area overflow-hidden" id="divCreate">
        <div class="page-header">
            <h4 class="page-title">Work Order Modification</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a onclick="BackToWorkOrder();" class="btn btn-primary btn-success text-right" style="align-content:center;color:white"><i class="fa fa-arrow-left" data-placement="bottom" title="Add Work Order"></i> </a>
                </li>
            </ol>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">WO No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtwono", null, new { @class = "form-control ", @id = "txtwono", Placeholder = "WO No", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">ContainerNo</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtcontainerno", null, new { @class = "form-control ", @id = "txtcontainerno", Placeholder = "Container No", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Vehicle No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtvehicleno", null, new { @class = "form-control ", @id = "txtvehicleno", Placeholder = "Vehicle No", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">SB No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtsbno", null, new { @class = "form-control ", @id = "txtsbno", Placeholder = "SB No", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Stuff Location</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtvehicleno", null, new { @class = "form-control ", @id = "txtlocation", Placeholder = "Location", @autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="row">

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">Vendor</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlpkgs", (IEnumerable<SelectListItem>)ViewBag.Vendor, "--Select--", new { @class = "form-control", @id = "ddlvendor", name = "ddlvendor", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-8">
                                <div class="form-group">
                                    <label class="form-label">PKGS Type</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.DropDownList("ddlpkgs", (IEnumerable<SelectListItem>)ViewBag.pkglist, "--Select--", new { @class = "form-control", @id = "ddlpkg", name = "ddlpkg", autocomplete = "off" })
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                        <div class="row">
                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Destuff Qty</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtdestuff", null, new { @type = "number", @class = "form-control ", @id = "txtdestuff", autocomplete = "off", Placeholder = "" })
                                        </div>
                                    </div>
                                </div>
                            </div>




                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Cargo WT</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtcargowt", null, new { @type = "number", @class = "form-control ", @id = "txtcargowt", autocomplete = "off", Placeholder = "" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Remarks</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtremarks", null, new { @class = "form-control ", @id = "txtremarks", autocomplete = "off", Placeholder = "" })
                                            <input type="hidden" id="txtoldcontainerno" />
                                            <input type="hidden" id="txtoldwono" />

                                            <input type="hidden" id="ddloldvendor" />
                                            <input type="hidden" id="ddloldpkg" />
                                            <input type="hidden" id="txtoldvehicleno" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                        </div>
                        <div class="form-group">
                            <label class="form-label"></label>
                            <div class="row gutters-xs">
                                <div class="col">


                                    <button class="btn btn-success" onclick="Update()" title="Update"><b>Update</b></button>

                                    <input type="button" name="clear" value="Clear" class="btn btn-outline-dark" title="clear" onclick="cleartextboxes();" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class=" content-area" id="divCreateSummary" >
    <div class="page-header">
        <h4 class="page-title">Search Work Order Container</h4>
      
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">

                        <div class="row">

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label mandatory">Container No</label>
                                    <div class="row gutters-xs">
                                        <div class="col">

                                            @Html.TextBox("txtsearch", null, new { @class = "form-control ", @id = "txtsearch", name = "txtsbno", autocomplete = "on" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden"> '</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <input type="button" id="btnShow" value="Show" class="btn btn-primary" onclick="ShowSSRSummary();" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="tblWorkOrderOpenList" style="width:100%;"></table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function BackToWorkOrder() {
        $("#divCreate").hide();
        $("#divCreateSummary").show();
    }
    function OpenWOSummary() {
        $("#divCreate").hide();
        $("#divCreateSummary").show();
    }</script>

<script>
        function edittext(WO_NO, ContainerNo, PKGSDestuff, SbNo, Vendor, PkgType, Weight, VehicleNo, StuffLocation) {
        debugger;
            $("#divCreate").show();
            $("#divCreateSummary").hide();
            $("#txtsbno").val(SbNo);
            $("#txtcontainerno").val(ContainerNo);
          //  $("#txtoldcontainerno").val(ContainerNo);
            $("#txtvehicleno").val(VehicleNo);
            $("#txtoldvehicleno").val(VehicleNo);
            $("#txtwono").val(WO_NO);
       //     $("#txtoldwono").val(WO_NO);
            $("#txtcargowt").val(Weight);
            $("#txtdestuff").val(PKGSDestuff);
            $("#txtlocation").val(StuffLocation);
            $("#ddlvendor").val(Vendor);
       //     $("#ddloldvendor").val(Vendor);
            $("#ddlpkg").val(PkgType);
        //    $("#ddloldpkg").val(PkgType);

    }
</script>
<script>
    function Update() {
        debugger;
        var WO_NO = $("#txtwono").val().trim();
        var ContainerNo = $("#txtcontainerno").val().trim();
        var PKGSDestuff = $("#txtdestuff").val().trim();
        var Vendor = $("#ddlvendor").val().trim();
        var PkgType = $("#ddlpkg").val().trim();
        var Weight = $("#txtcargowt").val().trim();
        var VehicleNo = $("#txtvehicleno").val().trim();
        var SbNo = $("#txtsbno").val().trim();

        //old data store
        var StuffLocation = $("#txtlocation").val().trim();
        var Remarks = $("#txtremarks").val().trim();



        if (SbNo == "" || SbNo == undefined) {
            document.getElementById('txtsbno').style.borderColor = "red";
            alert("Please Fill SBNo !")

            return false;
        }


        if (VehicleNo == "" || VehicleNo == undefined) {
            document.getElementById('txtvehicleno').style.borderColor = "red";
            alert("Please Fill Vehicle No !")

            return false;
        }




        if (Remarks == "" || Remarks == undefined) {
            document.getElementById('txtremarks').style.borderColor = "red";
            alert("Please Enter The Remarks !")

            return false;
        }

        (WO_NO, ContainerNo, PKGSDestuff, SbNo, Vendor, PkgType, Weight, VehicleNo, StuffLocation)
        var data1 = { "WO_NO": WO_NO, "ContainerNo": ContainerNo, "PKGSDestuff": PKGSDestuff, "SbNo": SbNo, "Vendor": Vendor, "PkgType": PkgType, "Weight": Weight, "VehicleNo": VehicleNo, "StuffLocation": StuffLocation, "Remarks": Remarks };
        var data = JSON.stringify(data1);
   
        $.ajax({
            type: 'POST',
            url: '/ModifyModule/UpdateWorkOrderDetails',
            data: data,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                alert(data);
                document.location = '@Url.Action("ModifyWorkOrder", "ModifyModule")';
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
                $("#tracker-loader").fadeOut("slow");
            }
        });
    }
</script>

<script>

    function ShowSSRSummary() {


        debugger;
        var search = document.getElementById('txtsearch').value;
        var data1 = { 'search': search };
        data = JSON.stringify(data1);
        $.ajax({
            url: "/ModifyModule/GetDetails",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                //alert(jsonResult)
                $("#reportTable").empty();
                RepTableDataJson($("#tblWorkOrderOpenList"), data, "ExpensesTypeMaster", "ExpensesTypeMaster")
                //  alert(jsonResult)
            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });


    }

</script>


