<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/printstyle.css" rel="stylesheet" />
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">

        <div style="width:100%;height:100%;">

            <table class="tblBox">
                <tbody>
                    <tr>
                        <th><img height="70" width="200" src="~/images/NavkarLogo.jpg" /></th>
                        <th style="width:80%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="font-size:9pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.CompanyName</spam>   <br />

                            <spam style="font-size:8pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.CompanyAddress</spam> <br />


                            <span class="headingh3" style="font-size:12pt;">Scanning Out Gate Pass</span><br />


                        </th>
                        <th style="width:10%;text-align:center;background-color:white"></th>
                    </tr>
                </tbody>
            </table>




            <hr />
            <div>
                <div class="box" style="border:none">
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Slip No</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>     @ViewBag.EntryID</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Slip Date</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.OutDate</td>

                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Container No</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>     @ViewBag.ContainerNo</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Size</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.size</td>

                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Seal No</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>     @ViewBag.SealNoI</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Vehicle No</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.trailerno</td>

                            </tr>

                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold">Driver Name</th>
                                <td style="width:35%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>     @ViewBag.drivername</td>


                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />

            <div>
                <div class="box" style="border:none">
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <th style="width:9%;text-align:left;border:none;font-weight:bold">Prepared By</th>
                                <td style="width:22%;text-align:left;border:none;font-weight:bold">:<label style="visibility:hidden">Sp</label>@ViewBag.UserName</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:bold"></th>
                                <td style="width:15%;text-align:left;border:none;font-weight:bold"><label style="visibility:hidden">Sp</label>@ViewBag.CompanyName</td>


                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            

        </div>



    </div>
</body>
</html>
@*<script>
    setTimeout(function () {
        window.onload = window.print();
    }, 2000);
    wondow.onload = function () {

    };
</script>
<script>
    setTimeout(function () {
        window.onload = window.close();
    }, 2000);
    wondow.onload = function () {

    };
</script>*@