<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/printstyle.css" rel="stylesheet" />
    <script src="~/js/qrcode.min.js"></script>
    <script src="~/js/JsBarcode.all.min.js"></script>
    <style>
        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .box1 {
            float: left;
            width: 40%;
            padding: 0px;
            border-style: solid;
            border-width: 1pt;
        }

        .boxHalf {
            float: left;
            width: 50%;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 25%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderC {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 75%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .tblBox1 {
            border-collapse: collapse;
            width: 40%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
            background-color: white;
        }

        td {
            border: 1px solid black;
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h5, h4 {
            font-size: 7.5pt;
            font-family: Segoe UI;
        }

        h3 {
            font-size: 7.5pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }

        input[type="checkbox"][readonly] {
            pointer-events: none;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:20%">
                            <img height="50" width="150" style="margin-left:10px;margin-top:20px;" src="~/images/NavkarLogo.jpg" />

                        </th>
                        <th style="width:55%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="font-size:12pt;margin-top: 0px;margin-bottom:-13px;">@ViewBag.CompanyName</spam>   <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.CINNo</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.RegdOffice</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.CompanyAddress</spam> <br />
                            <spam style="font-size:6.5pt;margin-top: 0px;margin-bottom:0px;"> @ViewBag.IMP_AC_EMAILID</spam> <br />

                        </th>
                        

                    </tr>

                </tbody>
            </table>


            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="width:100%;text-align:center; background-color: #ede5e5;font-size:12pt">
                            Proforma Invoice
                        </th>
                    </tr>

                </tbody>
            </table>
             
            <div class="printBody clearfix">
                <div class="box" style="border-style:none;">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:9%;text-align:left">Invoice No</th>
                                <td style="width:40%;text-align:left">@ViewBag.InvoiceNo</td>
                                <th style="width:9%;text-align:left">Invoice Date</th>
                                <td style="width:40%;text-align:left;font-weight:700">@ViewBag.InvoiceDate</td>
                            </tr>
                            <tr>
                                <th colspan="2" style="width:20%;text-align:left">Details of Receiver/ Billed to:</th>
                                <th colspan="2" style="width:20%;text-align:left">Details of Consignee/ Shipped to:</th>
                            </tr>
                            <tr>
                                <td colspan="2" style="vertical-align:top;width:70%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">Name</th>
                                                    <td style="width:70%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.Name</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">Address</th>
                                                    <td style="width:70%;text-align:left;border-style:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.Address</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">Cargo desc</th>
                                                    <td style="width:70%;text-align:left;border-style:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.cargodesc</td>
                                                </tr>


                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                                <td colspan="2" style="vertical-align:top;width:30%">
                                    <div class="box" style="border-style: none;">
                                        <table class="tblBox">
                                            <tbody>
                                                <tr>
                                                    <th style="width:30%;text-align:left;border-style:none">GSTIN</th>
                                                    <td style="width:70%;text-align:left;border-style:none;font-weight: 700;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.GSTIN</td>
                                                </tr>
                                                <tr>
                                                    <th style="width:20%;text-align:left;border-style:none">Place of Supply</th>
                                                    <td colspan="1" style="border-style:none;">
                                                        <table class="tblBox">
                                                            <tr>
                                                                <td style="width:30%;text-align:left;border-style:none">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.PlaceofSupply</td>
                                                                <th style="width:20%;text-align:left;border-style:none;border: 1px solid gray;">State Code :</th>
                                                                <td style="width:30%;text-align:left;border-style:none;border: 1px solid gray;">@ViewBag.state_Code</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>




                </div>
            </div>
            <div>
                <label style="text-align:left;font-size: 7.5pt;font-family: Segoe UI;float:left;font-weight:bold">Movement Details</label>

                <div class="table-responsive">

                    <table class="tblBox" style="border-style: none;">
                        <thead>

                            <tr>
                                <th style="width:10%;background-color: #ede5e5;">SR No</th>
                                <th style="width:10%;background-color: #ede5e5;">Container No</th>
                                <th style="width:10%;background-color: #ede5e5;">Size</th>
                                <th style="width:10%;background-color: #ede5e5;">PKGS</th>
                                <th style="width:10%;background-color: #ede5e5;">Weight</th>
                                <th style="width:20%;background-color: #ede5e5;">From Location</th>
                                <th style="width:20%;background-color: #ede5e5;">To Location</th>
                                <th style="width:10%;background-color: #ede5e5;">Vehicle No</th>
                                <th style="width:10%;background-color: #ede5e5;">Transport Type</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var dr in ViewBag.Containerdetails)
                            {
                                <tr>
                                    <td style="text-align:center">@dr["SRNo"]</td>
                                    <td style="text-align:center">@dr["ContainerNo"]</td>
                                    <td style="text-align:center">@dr["Size"]</td>
                                    <td style="text-align:center">@dr["PKGS"]</td>
                                    <td style="text-align:center">@dr["Weight"]</td>
                                    <td style="text-align:center">@dr["FromLocationid"]</td>
                                    <td style="text-align:center">@dr["Tolocationid"]</td>
                                    <td style="text-align:center">@dr["Vehicleno"]</td>
                                    <td style="text-align:center">@dr["Transport_Type"]</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="table-responsive">
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:50px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Sr No.</th>
                            <th style="width:20px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Details Of Bill Item Description</th>
                            <th style="width:80px;background-color:#ede5e5;font-size: 7.5pt;font-weight: 700;">Amount</th>




                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var dr in ViewBag.HeadDetailsList)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:left">@dr["AcName"]</td>
                                <td style="text-align:right">@dr["Amt"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>



            <div class="table-responsive">
                <label style="text-align:left;font-size: 7.5pt;font-family: Segoe UI;float:left;font-weight:bold">Charges Details</label>
                <table class="tblBox" style="border-style: none;">
                    <thead>
                        <tr>
                            <th style="width:5%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;text-align:center" rowspan="2">Sr No.</th>

                            <th style="width:20%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Charges Description</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">SAC/HSN Code</th>
                            <th style="width:13%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Amount</th>
                            <th style="width:10%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Less Disc.</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" rowspan="2">Taxable Value</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">SGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">CGST</th>
                            <th style="width:15%;background-color: #ede5e5;font-size: 7.5pt;font-weight: 700;" colspan="2">IGST</th>
                        </tr>
                        <tr>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                            <th style="width:100px;background-color: #ede5e5;">Rate(%)</th>
                            <th style="width:100px;background-color: #ede5e5;">Amount</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var dr in ViewBag.AccountDetails)
                        {
                            <tr>
                                <td style="text-align:center">@dr["SRNo"]</td>
                                <td style="text-align:center">@dr["AccountName"]</td>

                                <td style="text-align:center">@dr["HSN"]</td>
                                <td style="text-align:right">@dr["Amount"]</td>
                                <td style="text-align:center">@dr["Discount"]</td>
                                <td style="text-align:right">@dr["NetAmount"]</td>
                                <td style="text-align:center">@dr["Srate"]</td>
                                <td style="text-align:right">@dr["SGST"]</td>
                                <td style="text-align:center">@dr["CRate"]</td>
                                <td style="text-align:right">@dr["CGST"]</td>
                                <td style="text-align:center">@dr["IRate"]</td>
                                <td style="text-align:right">@dr["IGST"]</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <td style="text-align:center;" colspan="3">Total</td>

                            <td style="text-align:right">@ViewBag.Amount </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.NetAmount </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.SGST </td>
                            <td style="text-align:center"> </td>
                            <td style="text-align:right">@ViewBag.CGST </td>
                            <td style="text-align:center"></td>
                            <td style="text-align:right">@ViewBag.IGST </td>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <div>
                <div class="printBody clearfix">
                    <div class="box" style="border-style: none;">
                        <table class="tblBox">
                            <tbody>
                                <tr>
                                    <td colspan="2" style="vertical-align:top;width:65%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr style="border-bottom: 1px solid black;">
                                                        <th style="width:20%;text-align:left;border-top-style:none;font-weight: 500;border-style: none;">Total Invoice Amount in Words :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.TotalAmountInWord</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">BANK DETAILS :</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">Company Name &nbsp; @ViewBag.CompanyName</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;font-weight: 500;border-style: none;">@ViewBag.BankName</th>
                                                        <td style="width:30%;text-align:left;border-style: none;">@ViewBag.AccountNo</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:20%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.BranchName</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;">@ViewBag.IFSCCode</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:5%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">Remarks</th>
                                                        <td style="width:30%;text-align:left;font-weight: 500;border-style: none;border-top: 1px solid black;">@ViewBag.Remarks</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                    <td colspan="2" style="vertical-align:top;width:35%">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox" style="border:none">
                                                <tbody>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important"> Total Amount Before Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.AmountWithoutTax</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : CGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.CGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add :SCGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.SGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Add : IGST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.IGSTAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important">Tax Amount : GST</th>
                                                        <td style="width:40%;text-align:right;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-right:none !important">@ViewBag.TaxAmount</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width:60%;text-align:left;font-weight: 500;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none"> Total Amount After Tax</th>
                                                        <td style="width:40%;text-align:right;font-weight: bold;border-bottom: 1px solid black;border-left: none !important;border-top:none !important;border-bottom:none;border-right:none !important">@ViewBag.TotalAmount</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="boxHalf clearfix" style="text-align:left;height:220px;width:65%">
                    <h5 style="margin-top:0px;margin-bottom:0px;">Terms and conditions</h5>
                    <h6 style="margin-top:0px;margin-bottom:0px; font-family:Segoe UI;font-weight:normal">
                        @ViewBag.NoteVS
                    </h6>

                    <h5>Thank You For Your Business!</h5>
                    <h5>@ViewBag.GSTINNo    <label style="visibility:hidden">Heo</label>       @ViewBag.PANNo </h5>
                    <h5>Note:This is Computer Generated Invoice, Signature & Stamp Not Required </h5>


                    <h5>(E.& O.E.)</h5>


                </div>
                <div class="boxHalf clearfix" style="text-align:center;height:220px;width:35%">
                    <h3>@ViewBag.Note</h3>
                    <hr style="border: 1px solid " />
                    <br />
                    <h3>@ViewBag.CompanyName</h3>
                    <h3>Authorised Signatory</h3>
                    <h3>@ViewBag.TrasnportReamarks</h3>
                </div>
                <div class="printBody clearfix">
                    <div class="box" style="border-style: none;">
                        <table class="tblBox" style="border-style: none;">
                            <tbody>
                                <tr>
                                    <td colspan="4" style="vertical-align:top">
                                        <div class="box" style="border-style: none;">
                                            <table class="tblBox">
                                                <tbody>
                                                    <tr>

                                                        <th style="width:10%;text-align:left;border-style:none">Prepared By</th>
                                                        <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.UserName</td>

                                                        <th style="width:10%;text-align:left;border-style:none">Checked By</th>
                                                        <td style="width:20%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label></td>
                                                        <th style="width:10%%;text-align:left;border-style:none">Date</th>
                                                        <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.Datetime</td>
                                                        <th style="width:10%;text-align:left;border-style:none;">Time</th>
                                                        <td style="width:10%;text-align:left;border-style:none">:<label style="visibility:hidden">Sp</label> @ViewBag.TIme</td>
                                                    </tr>


                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
 
