@model IEnumerable<TrackerMVCEntities.BusinessEntities.TrailersEntities>

@{
    ViewBag.Title = "TrailerDriver";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}


<div class=" content-area">
    <div class="page-header">
        <h4 class="page-title">Trailer and Driver Mapping</h4>
        
            
       
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-horizontal">
                        <div class="row">


                            <div class="col-lg-3 col-sm-12" id="divTrailerno">
                                <div class="form-group">
                                    <label class="form-label mandatory">Trailer No.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtVehicleNo", null, new { @class = "form-control", @id = "txtVehicleNo", name = "txtVehicleNo", autocomplete = "off", placeholder = "Trailer No.", @readonly = true })
                                            @Html.Hidden("hdTrailerID", null, new { @id = "hdTrailerID", name = "hdTrailerID" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label">Transporter Name</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            @Html.TextBox("txtTransporter", null, new { @class = "form-control", @id = "txtTransporter", name = "txtTransporter", autocomplete = "off", placeholder = "Transporter Name", @readonly = true })


                                        </div>
                                    </div>
                                </div>
                            </div>

                         
                                <div class="col-lg-3 col-sm-12">
                                    <div class="form-group">
                                        <label class="form-label mandatory">Driver Code</label>
                                        <div class="row gutters-xs">
                                            <div class="col">
                                                @Html.TextBox("DriverCode", null, new { @class = "form-control", @id = "DriverCode", name = "DriverCode", autocomplete = "off", placeholder = "Driver Code" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-sm-12" id="divtrailernodrop">
                                    <label class="form-label">Driver Name </label>
                                    <select id="ddlDriver" class="form-control">
                                        <option value="">--Select--</option>
                                    </select>
                                </div>
                       

                            @*<div class="col-md-3 col-lg-4">
                                <div class="form-group label-floating">
                                    <label class="form-label"> Driver Name </label>
                                    @Html.DropDownList("ddlDriver", (IEnumerable<SelectListItem>)ViewBag.DriverList, "--Select--", new { @class = "form-control", @id = "ddlDriver", name = "ddlDriver", autocomplete = "off" })
                                    @*<select id="ddlKalmar" class="form-control">
                    <option value="">--Select--</option>
                </select>
                                </div>
                            </div>*@

                            <div class="col-lg-2 col-sm-12">
                                <div class="form-group">
                                    <label class="form-label" style="visibility:hidden">.</label>
                                    <div class="row gutters-xs">
                                        <div class="col">
                                            <button class="btn btn-primary  " type="button" id="btnUpdate" onclick="UpdateDriver()" name="Add">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                      
                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover tbl-cart text-nowrap" id="example1" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:10px;visibility:hidden"></th>
                                                <th class="wd-10p sorting">Trailer No.</th>
                                                <th class="wd-10p sorting">Driver Code</th>
                                                <th class="wd-10p sorting">Driver Name</th>
                                                <th class="wd-10p sorting">Driver's Transport</th>
                                               


                                            </tr>
                                        </thead>
                                        <tbody style="box-sizing :border-box;">
                                            @foreach (var d in Model)
                                            {

                                                <tr>
                                                    <td><a class="btn btn-sm btn-success" href="#" title="Edit" onclick="EditData('@d.trailername',@d.DriverID1,@d.trailerid,'@d.TransName','@d.DriverName.Replace("'", @"\'")')"><i class="fa fa-edit"></i> </a></td>

                                                    <td>@d.trailername <input name=hdTrailerName type=hidden id=trailerName value='@d.trailername'></td>
                                                    <td>@d.DriverID1 <input name=hddrivercode type=hidden id=hddrivercode value='@d.DriverID1'></td>
                                                    <td>@d.DriverName <input name=hdTrailerID type=hidden id=trailerid value='@d.DriverID1'></td>
                                                    <td>@d.TransName <input name=hdTrailerID type=hidden id=trailerid value='@d.trailerid'></td>

                                                   
                                                    @*<td>@d.DriverName <input name=hdTrailerID type=hidden id=trailerid value='@d.DriverID1'></td>*@

                                                        @*@Html.DropDownList("ddlDriver", new SelectList((IEnumerable<SelectListItem>)@ViewBag.DriverList, "Value", "Text", d.DriverID1),"--- Select ---", new { id = "ddlDriver", @class = "form-control " })*@
                                                        @*@Html.DropDownList("ddlTrolley", ViewBag.TrolleyList as SelectList, "--Select--", new { @class = "form-control content", selected = "selected" })*@
                                                        @*@Html.DropDownListFor(@d.TrollyID, new SelectList(ViewBag.TrolleyList, "TrollyID", "TrolleyNo"), "--- Select Type ---")*@

                                                    @*</td>*@

                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-lg-2 col-sm-12">
                                <input type="Button" id="btnSave" onclick="Save();"  value="Update" class="btn btn-success" />
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example1').dataTable({
            "bLengthChange": false,
            "bInfo": false,
            "bPaginate": false,
            "bFilter": true,
            "paging": false
            

        })

    });
</script>
@*<script>
    function Save() {
       // alert("hi");
        var res = CheckDuplicateTrolley();
      //  alert(res)
        if (res == false) {
            return false;
        }
        // $rowsToMark.css('backgroundColor', 'azure');

        var trailerList = new Array();

        var trailerList = [];
        var table = document.getElementById("example1");
        var row;
        for (var i = 1; i < table.rows.length; i++) {
          //  alert("hi")
            row = table.rows[i];

                    var y = row.cells[1].childNodes[1].value;
                    var z = row.cells[2].childNodes[1].value; // select option field
                    // alert(x);
                    trailerList.push({ 'trailerid': y, 'DriverID1': z })

        }


      //  alert(JSON.stringify(trailerList))

        $.ajax({
            type: 'POST',
            url: '/Trailer/ModifyTrailerDriver',
            data: '{ trailerList12 : ' + JSON.stringify(trailerList) + '}',
            //data: JSON.stringify(formData),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            success: function (data) {
                alert(data);

            }
        })
        //  }
    }




</script>*@
<script>
    function CheckDuplicateTrolley() {
        var table = document.getElementById("example1");
        var row;
        for (var i = 1; i < table.rows.length; i++) {
            row = table.rows[i];
            // var z = row.cells[2].childNodes[1].value;
            var z = $("#ddlDriver").val();
          //  var p = row.cells[0].childNodes[1].value;
          //    alert(p)
            for (var j = 1; j < table.rows.length && j != i && z != 0; j++) {
                row1 = table.rows[j];
                  //  alert(row1)
               // alert(row1.cells[0].childNodes[0].value);

                if (z == row1.cells[3].childNodes[1].value) {
                    var c = row1.cells[1].childNodes[1].value;
                  //  alert(row.cells[0].childNodes[1].value);

                    alert("Duplicate Driver entry found for trailer no. " + c + "");
                    return false;
                }
            }

        }
        return true;
    }
</script>

<script>

    function EditData(trilerno, driverID, trailerID, TranspName, DriverName)
    {
      
        $("#txtVehicleNo").val(trilerno);
        $("#hdTrailerID").val(trailerID);
        $("#txtTransporter").val(TranspName);
      
      //  alert(driverID);
       // var driver = $("#ddlDriver").val(driverID);

        if (driverID == 0) {
            $("#ddlDriver").val("");
        }
        else {
            $("#ddlDriver").val(driverID);
        }
    
    }
</script>


<script>
    function UpdateDriver()
    {

        var res = validateForSave();
        //  alert(res)
        if (res == false) {
            return false;
        }
        var res1 = CheckDuplicateTrolley();
        //  alert(res)
        if (res1 == false) {
            return false;
        }
        var trailerID = $("#hdTrailerID").val();
        var driverID = $("#ddlDriver").val();
        var data1 = { 'trailerID': trailerID, 'driverID': driverID};
        var data = JSON.stringify(data1);
        //  alert(data);
        $.ajax({
            url: "/Trailer/UpdateTrailerDriver",
            data: data,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                // alert("Record saved successfully!");
                var str = response;

                alert(str);
                document.location = '@Url.Action("TrailerDriver", "Trailer")';

            },
            error: function (errormessage) {
                alert("error");
                alert(errormessage.responseText);
            }
        });

    }
</script>

<script>
    function validateForSave() {
        //  alert("hi")
        var blResult = Boolean;
        blResult = true;
        var txtVehicleNo = document.getElementById('txtVehicleNo').value;
        var ddlDriver = document.getElementById('ddlDriver').value;
        var txtTransporter = document.getElementById('txtTransporter').value;

        $("#txtVehicleNo").removeClass("form-control is-invalid state-invalid");
        $("#txtVehicleNo").addClass("form-control");

        $("#ddlDriver").removeClass("form-control is-invalid state-invalid");
        $("#ddlDriver").addClass("form-control");

        $("#txtTransporter").removeClass("form-control is-invalid state-invalid");
        $("#txtTransporter").addClass("form-control");

        if (txtVehicleNo == "") {
            //  document.getElementById('ContainerNo').style.borderColor = "red"
            $("#txtVehicleNo").removeClass("form-control is-valid state-valid")
            $("#txtVehicleNo").addClass("form-control is-invalid state-invalid")
            blResult = blResult && false;
        }
        if (ddlDriver == "") {
            //  document.getElementById('ContainerNo').style.borderColor = "red"
            $("#ddlDriver").removeClass("form-control is-valid state-valid")
            $("#ddlDriver").addClass("form-control is-invalid state-invalid")
            blResult = blResult && false;
        }
        //if (txtTransporter == "") {
        //    //  document.getElementById('ContainerNo').style.borderColor = "red"
        //    $("#txtTransporter").removeClass("form-control is-valid state-valid")
        //    $("#txtTransporter").addClass("form-control is-invalid state-invalid")
        //    blResult = blResult && false;
        //}

        if (blResult == false) {
            alert('Please fill the required fields!');
        }
        return blResult;
    }
</script>

<script>
    $('#DriverCode').change(function (e) {
        var DriverCOde = $("#DriverCode").val();
        $.ajax({
            url: "/Trailer/AjaxDriverNo",
            data: '{DriverCOde: ' + JSON.stringify(DriverCOde) + '}',
            type: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {

                var select = $("#ddlDriver");

                select.empty();
                //select.append($('<option/>', {
                //    value: "",
                //    text: "--Select--"
                //}));

                $.each(data, function (data, value) {

                    select.append($("<option></option>").val(value.DriverID).html(value.trailername));
                })

                //GetVehiclelastDetails(trailerno);



            },

            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });




    });
</script>